@import "app-theme/_variables.scss";

.vPrefs {
  margin: 12px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 12px;
}

.vFilterPrefs {
  color: $vGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
}

.vRadioLabel {
  margin-left: 34px;
  margin-top: -20px;
  color: $vGrayscale3;
  font-size: 15px;
}

.vButtons p-radiobutton:first-child:after {
  margin-bottom: 14px;
}

:host /deep/ p-radiobutton {

  display: flex;
  margin-bottom: 18px;

  &:after {
    clear: both;
    content: " ";
    display: block;
  }

  .ui-radiobutton {
    float: left;
  }

  .ui-radiobutton-label {
    margin-left: 12px;
    color: $vGrayscale3;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    cursor: pointer;
  }
}
