@import "app-theme/_variables.scss";
.vTitle {
  color: $vGrayscale1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $vGrayscale4;
  height: 78px;
  line-height: 78px;
}

.vContent {
  display: flex;
  flex-direction: column;
  height: 312px;
  .vLabel {
    text-align: center;
    display: block;
    margin-bottom: 12px;
  }
  .vContainer {
    height: 168px;
    margin: 20px;
  }
  .vBlock {
    display: flex;
    align-items: center;
    justify-content: center;        
    margin-top: 30px;
    margin-bottom: 10px;    
    .vRadio {
      margin-right: 40px;
    }
  }
}

.vFooter {
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 66px;
  border-top: 1px solid $vGrayscale4;
  align-items: center;
  justify-content: center;  
}

/deep/ .ui-autocomplete.ui-widget {
  width: 100%;
  input {
    width: 100%;
  }
}

:host /deep/ label {
  font-weight: 400;
}
