<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.categories.bActions.changeCategoryListing' | translate}}</span>
    <div class="vContainer">
      <span class="vLabel">{{'applications.content.categories.bActions.changeCategoryListingLabel' | translate}}</span>
      <div class="vBlock">
        <p-radioButton class="vRadio" name="privacy" [value]="_appearInListType.NoRestriction" [(ngModel)]="_appearInList"
        label="{{'applications.content.categories.noRestriction' | translate}}"></p-radioButton>
        <p-radioButton class="vRadio" name="privacy" [value]="_appearInListType.Private" [(ngModel)]="_appearInList"
        label="{{'applications.content.categories.private' | translate}}"></p-radioButton>
      </div>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              [disabled]="_appearInList === null"
              label="{{'applications.content.categories.bActions.save' | translate}}"
        (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
