<v-area-blocker [message]="blockerMessage">
  <div class="vEditWin">
    <form [formGroup]="_editUserNameForm" novalidate>
      <div class="vHeader">
        <span class="vTitle">{{'applications.settings.myUserSettings.editUserName' | translate}}</span>
      </div>

      <div class="vContainer">
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.firstName' | translate}}</span>
          <div>
            <input class="vControl" pInputText
                   [formControl]="_firstNameField"
                   [ngClass]="{'vHasError': _firstNameField.invalid && _firstNameField.touched}">
            <div *ngIf="_firstNameField.touched && _firstNameField.hasError('required')" class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.lastName' | translate}}</span>
          <div>
            <input class="vControl" pInputText
                   [formControl]="_lastNameField"
                   [ngClass]="{'vHasError': _lastNameField.invalid && _lastNameField.touched}">
            <div
              *ngIf="_lastNameField.touched && _lastNameField.hasError('required')" class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.password' | translate}}</span>
          <div>
            <input type="password" pInputText class="vControl"
                   [formControl]="_passwordField"
                   [ngClass]="{'vHasError': _passwordField.invalid && (_passwordField.touched || _showPasswordError)}">
            <div class="error"
                 *ngIf="_passwordField.hasError('required') && (_passwordField.touched || _showPasswordError)">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
            <div class="vPasswordRequired">{{'applications.settings.myUserSettings.passwordRequiredName' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="vFooter">
      <button pButton class="vButtonDefault vButton"
              [label]="'applications.settings.myUserSettings.cancel' | translate"
              (click)="parentPopupWidget.close()"></button>
      <button
              pButton class="vButtonBranded vButton"
              [label]="'applications.settings.myUserSettings.save' | translate"
              [disabled]="_editUserNameForm.pristine"
              (click)="_updateLoginData()"></button>
    </div>
  </div>

</v-area-blocker>
