<div class="vCustomSchemaFieldFormWrapper">
  <div class="vHeader">
    <span class="vTitle">{{_title}}</span>
  </div>

  <form class="vCustomSchemaFieldForm" [formGroup]="_fieldForm" novalidate>
    <div class="vRow">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.type' | translate}}</span>
      <div>
        <p-dropdown class="vControl"
                    [options]="_fieldTypes"
                    [autoWidth]="false"
                    [formControl]="_typeField">
          <ng-template let-type pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <i class="vTypeIcon" [ngClass]="type.value | vCustomSchemaTypePipe:'icon'"></i>
              {{ type.label }}
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>

    <div class="vRow" *ngIf="_typeField.value === _metadataItemTypes.Date">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.includeTime' | translate}}</span>
      <div>
        <p-inputSwitch [formControl]="_includeTimeField"></p-inputSwitch>
        <span class="vInputSwitchLabel">
            {{_includeTimeField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
      </div>
    </div>

    <div class="vRow" *ngIf="_typeField.value === _metadataItemTypes.List">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.listValues' | translate}}</span>
      <div>
        <textarea class="vControl vTextArea" pInputText
                  [formControl]="_listValuesFiled"
                  [placeholder]="'applications.settings.metadata.fieldForm.listValuesPlaceholder' | translate"></textarea>
      </div>
    </div>

    <div class="vRow allowMultiple">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.allowMultiple' | translate}}</span>
      <div class="vIdlowMultiple">
        <p-radioButton class="vRadioLeft"
                       name="allowMultiple"
                       [value]="false"
                       [formControl]="_allowMultipleField"
                       [label]="'applications.settings.metadata.fieldForm.single' | translate"></p-radioButton>
        <p-radioButton class="vRadioRight"
                       name="allowMultiple"
                       [value]="true"
                       [formControl]="_allowMultipleField"
                       [label]="'applications.settings.metadata.fieldForm.unlimited' | translate"></p-radioButton>
      </div>
    </div>

    <div class="vRow">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.label' | translate}}</span>
      <div class="vRequired" [class.vHasError]="_labelField.touched && _labelField.invalid">*</div>
      <div>
        <input class="vControl" pInputText autofocus
               [class.vHasError]="_labelField.touched && _labelField.invalid"
               [formControl]="_labelField">
      </div>
    </div>

      <div class="vRow" *ngIf="!_isNew">
          <span class="vLabel">{{'applications.settings.metadata.table.systemName' | translate}}</span>
          <span>{{_systemName}}</span>
      </div>

    <div class="vRow">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.shortDescription' | translate}}</span>
      <div>
        <input class="vControl" pInputText [formControl]="_shortDescriptionField">
      </div>
    </div>



    <div class="vRow">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.description' | translate}}</span>
      <div>
        <textarea class="vControl vTextArea" pInputText [formControl]="_descriptionField"></textarea>
      </div>
    </div>

    <div class="vRow">
      <span class="vLabel">{{'applications.settings.metadata.fieldForm.searchable' | translate}}</span>
      <div>
        <p-inputSwitch [formControl]="_searchableField"></p-inputSwitch>
        <span class="vInputSwitchLabel">
            {{_searchableField.value ? ( 'app.common.yes' | translate) : ( 'app.common.no' | translate)}}
        </span>
      </div>
    </div>
  </form>

  <div class="vFooter">
    <button type="button"
            class="vButtonDefault"
            pButton [label]="'applications.settings.metadata.cancel' | translate"
            (click)="_cancel()"></button>

    <button type="button"
            class="vButtonBranded"
            [disabled]="!_labelField.value || _saveDisabled"
            pButton [label]="_saveBtnLabel"
            (click)="_save()"></button>
  </div>
</div>
