@import 'app-theme/_variables.scss';

.vCustomSchemaFieldFormWrapper {
  display: flex;
  flex-direction: column;
  height: 633px;

  .vHeader {
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $vGrayscale4;

    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .vFooter {
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;

    .vButtonDefault {
      border: 1px solid #cccccc;
    }

    button {
      min-width: 100px;
      height: 34px;
      border-width: 0;
      font-size: 14px;

      &:first-child {
        margin-right: 24px;
      }

      &:disabled {
        border-width: 1px;
      }
    }
  }

  .vCustomSchemaFieldForm {
    padding: 32px 28px;
    flex: 1 1 auto;

    .vRow {
      display: flex;
      padding-top: 20px;

      &:first-child {
        padding-top: 0;
      }

        .vInputSwitchLabel {
            vertical-align: middle;
            margin-left: 10px;
        }

      .vIdlowMultiple {
        display: flex;
        justify-content: center;
        align-items: center;

        .vRadioLeft,
        .vRadioRight {
          display: flex;
          margin-right: 55px;
        }
      }

      .vRequired {
        width: 20px;
        font-size: 24px;
        color: $vGrayscale3;
        margin-left: -20px;
        margin-right: 10px;
        &.vHasError {
          color: $vDandger;
          font-weight: bold;
        }
      }

      .vLabel {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 18px;
        width: 195px;
        color: $vGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }

      .vControl {
        height: 34px;
        width: 335px;
        color: $vGrayscale2;
        border-radius: 3px;

        &.vHasError {
          border: 1px solid $vDandger;
          background: initial;
        }

        .vTypeIcon {
          font-size: 20px;
          vertical-align: text-top;
          margin-right: 11px;
          color: $vGrayscale3;
        }

        &.vTextArea {
          height: 66px;
        }
      }
    }
  }
}

:host /deep/ .vCustomSchemaFieldForm {
  .ui-dropdown.ui-widget {
    width: 335px;
  }

  .ui-dropdown-item {
    position: relative;
    &:after {
      position: absolute;
      top: 9px;
      right: 5px;
      float: none;
    }
    .ui-helper-clearfix {
      margin-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

:host /deep/ .vIdlowMultiple .ui-radiobutton-label {
  font-weight: normal;
  font-size: 15px;
  margin-left: 5px;
}
