<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="vRoles vOverrideFAIcons">
    <div #rolesTableHolder class="vRolesHolder vContent">
      <div class="vContent vFiltersWrapper">
        <vSticky stickyId="rolesFilters" [sticksTo]="'header'" [scrollOffset]="80">
          <div class="vRolesTableFilters vContent">
            <button pButton type="button" class="vButtonBranded vAddRoleBtn"
                    [label]="'applications.administration.roles.addRole' | translate"
                    [disabled]="_vmcPermissions.ADMIN_ROLE_ADD | vDisabledIfNotPermitted"
                    (click)="_addRole()"></button>
            <span class="vSelectedRolesNum" *ngIf="(_rolesStore.roles.data$ | async)?.totalCount">
              {{ 'applications.administration.roles.rolesNum' | translate:[(_rolesStore.roles.data$ | async)?.totalCount] }}
            </span>
            <button pButton class="vButtonDefault vRefreshBtn small" (click)="_reload()" type="text" icon="vIconrefresh"
                    [vTooltip]="'applications.administration.roles.refresh' | translate"></button>
          </div>
        </vSticky>
      </div>
      <v-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
        <vRolesTable class="vRolesTable"
                     [roles]="(_rolesStore.roles.data$ | async)?.items"
                     (actionSelected)="_onActionSelected($event)">
        </vRolesTable>
      </v-area-blocker>
      <div class="vRolesTableFooter vContent" #footer *ngIf="(_rolesStore.roles.data$ | async)?.totalCount">
        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_query.pageIndex * _query.pageSize"
                     [totalRecords]="(_rolesStore.roles.data$ | async)?.totalCount"
                     [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.administration.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
  <vPopupWidget #editPopup data-aid="rolesEditPopup" [popupWidth]="995" [slider]="true">
    <ng-template>
      <vEditRole [role]="_currentEditRole"
                 [parentPopupWidget]="editPopup"></vEditRole>
    </ng-template>
  </vPopupWidget>
</v-area-blocker>
