<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="vTranscodingProfilesListsHolderWrapper">

    <div class="vTranscodingProfilesListsHolder vContent"
         [class.vSingleTableMode]="!(_vmcPermissions.FEATURE_VIDIUN_LIVE_STREAM | vNgIfPermitted)">
      <v-transcoding-profiles-list [storeFor]="_vidiunConversionProfileType.media"
                                   [singleTableMode]="!(_vmcPermissions.FEATURE_VIDIUN_LIVE_STREAM | vNgIfPermitted)"
                                   [title]="'applications.settings.transcoding.transcodingProfiles'| translate"
                                   (addProfile)="_addProfile($event)"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </v-transcoding-profiles-list>
    </div>

    <div class="vTranscodingProfilesListsHolder vContent"
         *ngIf="_vmcPermissions.FEATURE_VIDIUN_LIVE_STREAM | vNgIfPermitted">
      <v-transcoding-profiles-list [storeFor]="_vidiunConversionProfileType.liveStream"
                                   [title]="'applications.settings.transcoding.liveTranscodingProfiles'| translate"
                                   (addProfile)="_addProfile($event)"
                                   (setParentBlockerMessage)="_setBlockerMessage($event)">
      </v-transcoding-profiles-list>
    </div>
  </div>
</v-area-blocker>

<vPopupWidget #addNewProfile data-aid="addNewProfile" [popupWidth]="586" [popupHeight]="435" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <vAddNewTranscodingProfile [parentPopupWidget]="addNewProfile"
                               [profileType]="_newProfileType"></vAddNewTranscodingProfile>
  </ng-template>
</vPopupWidget>
