@import 'app-theme/_variables.scss';

.vUploadsTableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;

  .vUploadsTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    padding: 0;

      .emptymessage {
          display: table-row;
          border: 0;
          height: 200px;

          .vEmptyMessage {
              position: absolute;
              width: 100%;
              height: 200px;
              border-bottom: 1px solid $vGrayscale4;
          }
      }

    .vUploadName {
      color: $vGrayscale1;
      font-weight: bold;
    }

    .vIconRemoveFile {
      font-size: 20px;
      cursor: pointer;
      display: none;
      float: left;
      width: 27px;
    }

    .vIconMediaType {
      font-size: 24px;
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .vUploadsTable tr:hover .vIconRemoveFile { // show remove icon when hovering a row
  display: block !important;
}

:host /deep/ .vUploadsTable tr.has-error {
  background-color: lighten($vDandger, 45%);
}

:host /deep/ .vUploadsTable tr.removing {
  background-color: $vGrayscale6;
  opacity: 0.3;
}

:host /deep/ .vUploadsTable td:last-child .ui-cell-data {
  display: flex;
  justify-content: center;

  i:first-child {
    margin-right: 15px;
  }
}

:host /deep/ p-table .stickyHeader{
  z-index: 10;
  display: table;
}

:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $vGrayscale6;
    }
}
