@import 'app-theme/_variables.scss';

.vReplacementStatus {
    margin-left: 24px;
    margin-bottom: 20px;

    .vMetadata {
        color: $vGrayscale1;
        line-height: 1.5em;
        margin-bottom: 24px;

        .vDelimiter {
            margin: 0 10px;

            &:after {
                content: '|';
                font-size: 12px;
                color: $vGrayscale4;
                top: -2px;
                position: relative;
            }
        }

        .vStatusIcon {
            font-size: 16px;
            position: relative;
            top: 1px;
            margin-right: 5px;

            &.vIconsync {
                color: $vSecondary;
            }

            &.vIconcomplete {
                color: $vSuccess;
            }

            &.vIconerror {
                color: $vDandger;
            }
        }
    }

    .vReplaceMediaButtonsLabel {
        color: $vGrayscale1;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .vApprove {
        margin-bottom: 24px;

        .vApproveReplacementBtn {
            width: 200px;
            font-weight: bold;

            /deep/ .vIconcheck-medium {
                font-size: 1.3em;
            }
        }

        .vCancelReplacement {
            margin-left: 24px;
        }
    }

    .vFlavorsTabs {
        a {
            margin-right: 40px;
            font-weight: bold;
            text-decoration: none;
        }
        .vSelected {
            cursor: default;
            font-weight: bold;
            color: $vGrayscale3;
        }
    }
}
