<v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
 <div class="vContainer">
   <div class="vTitle">{{'applications.settings.integrationSettings.accountInfo.title' | translate}}</div>

   <div class="vRow">
     <div class="vLabel">{{'applications.settings.integrationSettings.accountInfo.partnerId'| translate}}</div>
     <div class="vControl">
       <span class="vTableColumn" [vTooltip]="_accountInfo?.partnerId">{{_accountInfo?.partnerId}}</span>
     </div>
   </div>

   <div class="vRow">
     <div class="vLabel">{{'applications.settings.integrationSettings.accountInfo.subPartnerId'| translate}}</div>
     <div class="vControl">
       <span class="vTableColumn" [vTooltip]="_accountInfo?.subPartnerId">{{_accountInfo?.subPartnerId}}</span>
     </div>
   </div>

   <div class="vRow">
     <div class="vLabel">{{'applications.settings.integrationSettings.accountInfo.adminSecret'| translate}}</div>
     <div class="vControl">
       <span class="vTableColumn" [vTooltip]="_accountInfo?.adminSecret">{{_accountInfo?.adminSecret}}</span>
     </div>
   </div>

   <div class="vRow">
     <div class="vLabel">{{'applications.settings.integrationSettings.accountInfo.userSecret'| translate}}</div>
     <div class="vControl">
       <span class="vTableColumn" [vTooltip]="_accountInfo?.userSecret">{{_accountInfo?.userSecret}}</span>
     </div>
   </div>
 </div>
</v-area-blocker>
