<v-area-blocker [showLoader]="_loading">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.bulkActions.removeTags' | translate}}</span>
    <div class="vTags">
      <span class="vLabel">{{'applications.content.bulkActions.removeTagsLabel' | translate}}</span>
      <span  *ngIf="!tags || !tags.length" class="vNoItems">{{'applications.content.bulkActions.noTagsToRemove' | translate}}</span>
      <vAutoComplete *ngIf="tags && tags.length" [ngModel]="tags"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [multiple]="true"
                     [limitToSuggestions]="false"
                     readonly="true"
                     (onUnselect)="_removeTag($event)">
      </vAutoComplete>
    </div>
    <div class="vFooter">
      <button type="button" [disabled]="tagsToRemove.length === 0" class="vButtonBranded" pButton label="{{'applications.content.bulkActions.apply' | translate}}" (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
