@import 'app-theme/_variables.scss';

.vTable {
  /deep/ {
    .vApplicationRootCategory {
      .vApplicationRootCategoryLabel {
        color: $vGrayscale1;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
      }
    }

    .vPrivacyContextLabel {

    }

    .vActionsColumn {
      width: 60px;
    }
  }
}
