<div class="vTable">
    <v-area-blocker [showLoader]="_deferredLoading"
                    [message]="_blockerMessage">
        <p-table dataKey="id"
                 scrollHeight="100%"
                 [scrollable]="true"
                 [value]="_entitlements"
                 [class.noResults]="!_entitlements?.length"
                 [rowTrackBy]="rowTrackBy">
            <ng-template pTemplate="header">
                <tr>
                    <th class="vApplicationRootCategory">
                        {{'applications.settings.integrationSettings.entitlement.table.applicationRootCategory' | translate}}
                    </th>
                    <th class="vPrivacyContextLabel">
                        {{'applications.settings.integrationSettings.entitlement.table.privacyContextLabel' | translate}}
                    </th>
                    <th class="vActionsColumn"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-entitlement>
                <tr>
                    <td class="vApplicationRootCategory">
                        <div class="vApplicationRootCategoryLabel vTableColumn" [vTooltip]="entitlement.fullName">
                            {{entitlement.fullName}}
                        </div>
                    </td>
                    <td class="vPrivacyContextLabel">
                    <span class="vTableColumn" [vTooltip]="entitlement.privacyContext">
                        {{entitlement.privacyContext}}
                    </span>
                    </td>
                    <td class="vActionsColumn">
                        <div class="vTableActions">
                            <button type="button" pButton icon="vIconmore" class="vMoreActionsButton"
                                    (click)="_openActionsMenu($event, entitlement)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <div class="emptymessage">{{_emptyMessage}}</div>
            </ng-template>
        </p-table>
        <p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" vMenuCloseOnScroll></p-menu>
    </v-area-blocker>
</div>
