<v-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage" [bodyScroll]="true">
	<div class="vmcDetailsLayout vOverrideFAIcons">
		<div class="vContent vDetailsWrapper">
			<vSticky stickyId="playlistHeader" [sticksTo]="'header'" stickyClass="stickyHeader">
				<div class="vDetailsHeader">
					<div class="vContent">
						<button pButton class="vButtonDefault vBackBtn small" icon="vIconarrow_backward" (click)="_backToList()"></button>
						<div class="vTitle">{{ _playlistName }}</div>
						<button pButton class="vButtonBranded vSaveBtn"
                    [label]="'app.common.save' | translate"
                    [disabled]="!_enableSaveBtn"
                    (click)="save()"></button>
						<button pButton class="vButtonDefault vNavigationBtnLeft"  icon="vIconarrow_backward" (click)="_navigateToPlaylist('prev')" [disabled]="!_enablePrevButton"></button>
						<button pButton class="vButtonDefault vNavigationBtnRight" icon="vIconarrow_forward"  (click)="_navigateToPlaylist('next')" [disabled]="!_enableNextButton"></button>
					</div>
				</div>
			</vSticky>
			<div class="vHeaderDetails">
				<vPlaylistDetails></vPlaylistDetails>
			</div>
			<div class="vDetailsMain">
				<div class="vSections">
					<vPlaylistSectionsList></vPlaylistSectionsList>
				</div>
				<div class="vDetailsContent">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="vSpacer"></div>
		</div>

	</div>
</v-area-blocker>
