<div class="vFeedDetailsContainer">
  <div class="vFeedDetailsContainerHeader">
    <div class="vFeedIcon">
      <i class="vIconfeed"></i>
    </div>
    <div class="vFeedName">{{_mode === 'edit' ? feed.name : _newFeedText}}</div>
    <a class="vBulkCancel" (click)="_close()">
      {{'applications.content.syndication.details.header.cancel' | translate}}
    </a>
    <button [disabled]="(_vmcPermissions.SYNDICATION_DELETE | vDisabledIfNotPermitted) || _isBusy || _blockerMessage" *ngIf="_mode === 'edit'" class="vDeletehBtn vButtonDanger" pButton icon="vIcontrash"
            label="{{'applications.content.syndication.details.header.delete' | translate}}"
            (click)="_deleteFeed()"></button>

    <button pButton class="vSaveBtn vButtonBranded"
            (click)="_save()"
            [disabled]="_saveBtnDisabled"
            label="{{'applications.content.syndication.details.header.save' | translate}}">
    </button>
  </div>
  <div class="vFeedDetailsContainerBody">
    <v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
      <form [formGroup]="_form" novalidate>

        <!--Name-->
        <div class="vRow" [class.vInputValidationError]="_form.get('name').touched && _form.get('name').invalid">
          <span class="vLabel">{{'applications.content.syndication.details.name' | translate}}</span>
          <div class="vAsterix" [ngClass]="{'vHasError':!_form.get('name').valid && _form.get('name').touched}">
            *
          </div>
          <div class="vControlContainer">
            <input class="vControl" formControlName="name" pInputText
                   [ngClass]="{'vHasError':!_form.get('name').valid && _form.get('name').touched}">
            <div *ngIf="_form.get('name').touched && _form.get('name').hasError('required')"
                 class="error">
              {{'applications.content.syndication.details.errors.enterName' | translate}}
            </div>
          </div>
        </div>

        <!--Content-->
        <div class="vRow vContentType vMultiLine">
          <span class="vLabel">{{'applications.content.syndication.details.contentType.content' | translate}}</span>
          <div class="vControlContainer">
            <span class="vControl">
              <p-radioButton class="vContentTypeAll" name="contentType" (click)="_setAllContent()"
                             [value]="'allContent'"
                             formControlName="contentType"
                             label="{{'applications.content.syndication.details.contentType.allContent' | translate}}">
              </p-radioButton>
              <p-radioButton class="vContentTypePlaylist" name="contentType"
                             [value]="'playlist'"
                             formControlName="contentType"
                             label="{{'applications.content.syndication.details.contentType.fromPlaylist' | translate}}"
                             (click)="_setPlaylist()">
              </p-radioButton>
            </span>
            <!--Select Playlist-->
            <div class="vSelectPlaylist" *ngIf="_form.get('contentType').value === 'playlist'">
                <vSearchableDropdown filter="true"
                                     formControlName="selectedPlaylist"
                                     [loading]="loadingPlaylists"
                                     [options]="_availablePlaylists"
                                     [class.vInvalid]="_missingPlaylist"
                                     [placeholder]="'applications.content.syndication.details.choosePlaylist' | translate"
                                     [filterPlaceholder]="'applications.content.syndication.details.search' | translate"
                                     [autoWidth]="false"
                                     (customSearch)="searchPlaylists.emit($event)"
                                     (onChange)="_onSelectPlaylist($event)">
                    <!--template for the selected item-->
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="vPlaylist">
                            <span class="vPlaylistIcon"
                                  [ngClass]="item.value | vToPlaylistIcon: _idToPlaylistMap"></span>
                            <span class="vPlaylistLabel vElipsis">{{item.label}}</span>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="vPlaylist">
                            <span class="vPlaylistIcon"
                                  [ngClass]="item.value | vToPlaylistIcon: _idToPlaylistMap"></span>
                            <span class="vPlaylistLabel vElipsis">{{item.label}}</span>
                        </div>
                    </ng-template>
                </vSearchableDropdown>
                <p class="vInvalid" *ngIf="_missingPlaylist">
                    {{'applications.content.syndication.details.missingPlaylist' | translate:[this.feed.playlistId]}}
                </p>
            </div>
          </div>
        </div>

        <!--Entries Count-->
        <div class="vRow vEntriesCount vMultiLine" [class.vHidden]="_mode === 'new'">
          <span class="vLabel">{{'applications.content.syndication.details.entriesCountData.count' | translate}}</span>
          <div class="vControlContainer">
            <span class="vControl">
              {{'applications.content.syndication.details.entriesCountData.numOfEntries' | translate: {'0': _entriesCountData.count} }}
            </span>
            <div [class.vHidden]="!_entriesCountData.showWarning" class="error" #warning>
              <i class="vIconwarning"></i>
              <span>{{'applications.content.syndication.details.entriesCountData.warning' | translate: {'0': _entriesCountData.warningCount} }}</span>
              <a class="vMoreInfo" #moreInfo>{{'applications.content.syndication.details.entriesCountData.moreInfo' | translate}}</a>
            </div>
          </div>
        </div>

        <!--Destination-->
        <div class="vRow vDestination"
             [class.vInputValidationError]="_form.get('destination').touched && _form.get('destination').invalid">
          <span class="vLabel">{{'applications.content.syndication.details.destination' | translate}}</span>
          <div class="vAsterix">
            *
          </div>
          <div class="vControlContainer">
            <p-dropdown
              placeholder="{{'applications.content.syndication.details.availableDestinations.promptText' | translate}}"
              class="vControl"
              [options]="_availableDestinations"
              formControlName="destination"
              [autoWidth]="false">
            </p-dropdown>
          </div>
        </div>

        <!--Destination Form-->
        <div class="vRow vDestinationForm" *ngIf="_isReady">
          <ng-container [ngSwitch]="_form.get('destination').value">
            <!--Google-->
            <vGoogleDestinationForm
              *ngSwitchCase="_vidiunSyndicationFeedType.googleVideo" [feed]="feed"
              [contentFlavors]="_flavors" [players]="_players"
              [mode]="_mode"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vGoogleDestinationForm>
            <!--Yahoo-->
            <vYahooDestinationForm
              *ngSwitchCase="_vidiunSyndicationFeedType.yahoo" [feed]="feed"
              [contentFlavors]="_flavors" [players]="_players"
              [mode]="_mode"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vYahooDestinationForm>
            <!--iTunes-->
            <vItunesDestinationForm
              *ngSwitchCase="_vidiunSyndicationFeedType.itunes"
              [feed]="feed"
              [mode]="_mode"
              [contentFlavors]="_flavors"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vItunesDestinationForm>
            <!--Roku-->
            <vRokuDestinationForm
              *ngSwitchCase="_vidiunSyndicationFeedType.rokuDirectPublisher"
              [mode]="_mode"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vRokuDestinationForm>
            <!--Opera-->
            <vOperaDestinationForm
              *ngSwitchCase="_vidiunSyndicationFeedType.operaTvSnap"
              [mode]="_mode"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vOperaDestinationForm>
            <!--Flexible Format (xsl code)-->
            <vFlexibleFormatDestinationForm
              [mode]="_mode"
              *ngSwitchCase="_vidiunSyndicationFeedType.vidiunXslt" [feed]="feed"
              (onFormStateChanged)="_updateCurrentDestinationFormState($event)">
            </vFlexibleFormatDestinationForm>
          </ng-container>
        </div>
      </form>
    </v-area-blocker>
  </div>
</div>


<vPopupWidget data-aid="warningMoreInfoTooltip" [popupWidth]="443" [targetRef]="moreInfo" [appendTo]="warning"
              [targetOffset]="{'x': 197, 'y': _form.get('contentType').value === 'playlist' ? 10 : -38}"
              [closeBtn]="false">
  <div class="vWarningMoreInfoTooltip">
    <div class="vTooltipContent"
         [innerHTML]="'applications.content.syndication.details.entriesCountData.warningMoreInfo' | translate: {'0': _entriesCountData.warningCount, '1': _entriesCountData.flavorName}">
    </div>
  </div>
</vPopupWidget>
