@import 'app-theme/_variables.scss';

.vFeedDetailsContainer {

  .vFeedDetailsContainerHeader {
    height: 34px;
    padding: 19px 28px 19px 28px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $vGrayscale4;
    .vFeedIcon {
      flex: 0 0 auto;
      font-size: 24px;
      color: $vGrayscale3;

    }
    .vFeedName {
      flex: 1 1 auto;
      padding: 0 18px;
      color: $vGrayscale1;
      font-size: 15px;
      font-weight: bold;
    }

    .vBulkCancel {
      flex: 0 0 auto;
      color: $vBlack;
    }

    .vDeletehBtn {
      flex: 0 0 auto;
      margin-left: 16px;
      height: 34px;
      width: 100px;
    }

    .vSaveBtn {
      flex: 0 0 auto;
      margin-left: 16px;
      height: 34px;
      width: 100px;
    }
  }
  .vFeedDetailsContainerBody {
    padding: 20px 28px;
    height: calc(100vh - 193px);
    overflow-y: auto;

    .vDestination {
      .vControl {
        display: block;
        width: 258px;

        &.vHasError{
          /deep/ .ui-widget.ui-dropdown {
            border: none;
            padding-top: 1px;
          }
        }

        /deep/ .ui-dropdown-items-wrapper {
          max-height:250px !important;
        }
      }
    }

    .vContentType {
      .vSelectPlaylist {
        padding-top: 17px;
      }

      .vContentTypePlaylist {
        padding-left: 31px;
      }

        .vInvalid {
            color: $vDandger;
        }
    }

    .vEntriesCount {
      .error {
          display: flex;
          align-items: center;

        .vIconwarning {
          font-size: 20px;
          vertical-align: middle;
          padding-right: 5px;
        }

        .vMoreInfo{
          padding-left: 4px;
          color: $vDandger;
        }
      }
    }
  }
}

:host /deep/ {
  .vWarningMoreInfoTooltip {
    font-size: 15px;
    font-weight: normal;
    color: $vGrayscale3;
    padding: 16px;
    line-height: 20px;
  }
}

// Form styling
:host /deep/ {
  .vRow {
    display: flex;
    padding-bottom: 20px;
    color: $vGrayscale1;
    align-items: center;

    &.vMultiLine {
      align-items: flex-start;
    }

    .vAsterix {
      width: 12px;
      font-size: 16px;
      padding-top: 8px;
      color: $vGrayscale3;

      &.vHasError {
        color: $vDandger;
        font-weight: bold;
      }

      & + .vControlContainer {
        padding-left: 0;
      }
    }

    .vLabel {
      width: 180px;
      flex: 0 0 auto;
      height: 18px;
      color: $vGrayscale1;
      font-size: 15px;
      line-height: 18px;
      padding: 0px 4px 0px 0px;
    }
    .vControlContainer {
      flex: 1 1 auto;
      padding-left: 12px;

      .vControl {
        height: 34px;
        color: $vGrayscale2;
        width: 500px;
        border-radius: 3px;
        &.vHasError {
          border: 1px solid $vDandger;
          background: initial;
        }
      }
    }

    .error {
      padding-top: 8px;
    }

    &.vInputValidationError{
      align-items: flex-start;

      .vLabel {
        padding-top: 8px;
      }

      .vAsterix {
        padding-top: 12px;
      }
    }
  }

  .vElipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}

:host /deep/ {
  .vPlaylist {
    display: flex;
    align-items: center;
    float: left;
    max-width: 200px;

    .vPlaylistIcon {
      font-size: 24px;
      flex: 0 0 auto;
      color: $vGrayscale3;
    }
    .vPlaylistLabel {
      padding-left: 13px;
      font-size: 15px;
      flex: 1 1 auto;
      max-width: 200px;
      color: $vGrayscale1;
    }
  }

  .ui-widget.ui-dropdown {
    width: 258px;
    font-size: 14px;
  }

  .ui-dropdown-filter-container {
    width: 100%;
  }



  .ui-radiobutton-label {
    color: $vGrayscale1;
    font-weight: normal;
    font-size: 15px;
  }

  .vIcontrash {
    font-size: 24px !important;
    left: 8px;

    & + .ui-button-text {
      padding-left: 30px;
    }
  }

  textarea.threeRows {
    border-radius: 3px;
    border: 1px solid $vGrayscale4;
    resize: none;
    box-sizing: border-box;
    outline: none;
    padding: 8px;
    font-size: 15px;

    &:hover {
      border-color: $vGrayscale2;
    }

    &:focus {
      border-color: $vGrayscale2;
      background: white;
    }
  }

  .ui-multiselect{
    width: 258px;
    height: 34px;
    color: $vGrayscale1;
    padding-left: 8px;
    font-size: 15px;

    .ui-multiselect-label {
      line-height: 22px;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 250px;
      font-size: 15px;
      font-weight: normal;
    }

    .ui-multiselect-trigger {
      color: $vGrayscale3;
      border: none;
      padding-top: 7px;
    }

    .ui-widget-header {
      border: none;
      border-bottom: 1px solid $vGrayscale5;
      width: 100%;
    }
  }

  .ui-chkbox-label{
    font-weight: normal;
    font-size: 15px;
    color: $vGrayscale1;
  }
}
