
.vRow {
  .vLabel {
    padding-top: 8px;
  }
  .vAsterix {
    padding-top: 10px;
  }
  .vBrowse{
    display: block;
  }

  .vControl.threeRows {
    margin-top: 11px;
    height: 325px;
    width: 741px;
  }
}
