@import 'app-theme/_variables.scss';

.vMatchDropFolder {
    color: $vGrayscale1;
    height: 560px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    &.vMatchDropFolderFlavor {
        height: 486px;
    }

    .vHeader, .vFooter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vHeader {
        text-align: center;
        height: 77px;
        border-bottom: 1px $vGrayscale4 solid;

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

    }

    .vMatchDropFolderContent {
        width: 100%;

        .vMatchDropFolderControls {
            height: 98px;
            border-bottom: 1px solid $vGrayscale6;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 28px;

            .vMatchDropFolderControlsLabel {
                font-weight: bold;
                font-size: 15px;
            }

            .vDropFoldersList {
                .vDropFoldersListItem {
                    white-space: nowrap;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 190px;
                    font-weight: normal;
                }
            }

            .vDropFolderSearch /deep/ {
                .v-clearable-input-input {
                    width: 284px;
                    height: 34px;
                    background: $vMagnifyingGlassBkg;
                    padding-left: 38px;
                    margin-right: 8px;
                }

                .v-clearable-input-clear-btn {
                    right: 13px;
                }
            }

            .vRefreshBtn {
                font-size: 24px;
                border: none;
                min-width: inherit;
                outline: 0;
                color: $vGrayscale3;
                &:active {
                    box-shadow: none;
                    transform: rotate(45deg);
                }
                &:hover {
                    background-color: #ffffff;
                    color: $vPrimary;
                }
            }
        }

        .vMatchDropFolderReferenceId {
            padding: 0 28px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            height: 74px;
            border-bottom: 1px solid $vGrayscale6;
            font-size: 15px;

            span {
                font-weight: bold;
            }
        }

        .vMatchDropFolderTable {
            .emptymessage {
                border: none;
            }

            .vFileName {
                font-size: 15px;
                font-weight: bold;
                color: $vGrayscale1;
            }

            .vCreatedAt {
                font-size: 15px;
                font-weight: bold;
                color: $vGrayscale3;
            }

            .v-arrow-right {
                display: block;
                width: 0;
                height: 0;
                border-top: 8px solid transparent;
                border-left: 12px solid $vGrayscale4;
                border-bottom: 8px solid transparent;
                margin-top: 2px;
            }

            .v-arrow-down {
                display: block;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 12px solid $vGrayscale4;
                margin-left: -3px;
                margin-top: 4px;
            }

            .vDropFolderFiles {
                background-color: $vGrayscale6;
                border-left: 4px solid $vGrayscale3;
                font-size: 15px;
                color: $vGrayscale3;
                overflow-y: auto;
                max-height: 195px;
                padding: 12px 0;
                width: 790px;

                table {
                    border-collapse: collapse;
                    width: 100%;
                    table-layout: fixed;

                    tr {
                        height: 44px;

                        td {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .vFooter {
        z-index: 1;
        height: 66px;
        border-top: 1px $vGrayscale4 solid;
        text-align: center;

        .vUploadButton {
            min-width: 100px;
            height: 34px;
            font-weight: normal;
            font-size: 14px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

:host /deep/ .vDropFoldersList {
    .ui-dropdown-panel {
        width: 238px;
    }

    .ui-dropdown-label {
        text-overflow: ellipsis;
        font-weight: normal;
        font-size: 15px;
        color: $vGrayscale1;
    }

    .ui-dropdown.ui-widget {
        width: 238px;
    }
}

:host /deep/ .vMatchDropFolderTable {
    .ui-table .ui-table-scrollable-body {
        max-height: 208px !important;
        height: 208px !important;
    }

    .ui-table .ui-table-tbody > tr > td:first-child {
        border-color: #d9d9d9;
    }

    .ui-radiobutton {
        margin-top: -2px;
    }

    .vAvoidClick {
        pointer-events: none;
        touch-action: none;

        .ui-state-disabled {
            opacity: .5;
        }
    }
}
