<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
<vEntriesList [columns]="_columns"
              [rowActions]="_rowActions"
              [enforcedFilters]="_enforcedFilters"
              [showEnforcedFilters]="true"
              [defaultFilters]="_defaultFilters"
              (onActionsSelected)="_onActionSelected($event)">
  <div class="vBulkActions bulk-actions">
    <button class="vButtonDefault vBulkActionsBtn" icon="vIcondropdown_arrow_bottom" iconPos="right" pButton
            [disabled]="_vmcPermissions.CONTENT_MODERATE_APPROVE_REJECT | vDisabledIfNotPermitted"
            [label]="'applications.content.moderation.selectAction' | translate"
            (click)="menu.toggle($event)"></button>
  </div>
  <p-tieredMenu #menu [model]="_bulkActionsMenu" [popup]="true" class="vOverrideFAIcons" vMenuCloseOnScroll
                [appendTo]="'body'"></p-tieredMenu>
</vEntriesList>
</v-area-blocker>

<vPopupWidget #moderationDetails data-aid="moderationDetails" [slider]="true" [popupWidth]="792" [popupHeight]="700" [modal]="true"
              [closeBtn]="false" class="vPopupWidgetWrap">
  <ng-template>
    <vEntryReport
      [parentPopupWidget]="moderationDetails"
      [entryId]="_currentEntryId"></vEntryReport>
  </ng-template>
</vPopupWidget>
