<v-area-blocker [message]="blockerMessage">
  <div class="vEditWin">
    <form [formGroup]="_editEmailAddressForm" novalidate>
      <div class="vHeader">
        <span class="vTitle">{{'applications.settings.myUserSettings.editEmailAddress' | translate}}</span>
      </div>

      <div class="vContainer">
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.email' | translate}}</span>
          <div>
            <input class="vControl" formControlName="email" pInputText
                   [ngClass]="{'vHasError':!_editEmailAddressForm.controls['email'].valid && _editEmailAddressForm.controls['email'].touched}">
            <div *ngIf="_editEmailAddressForm.controls['email'].touched && _editEmailAddressForm.controls['email'].hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="vFooter">
      <button pButton class="vButtonDefault vButton" (click)="parentPopupWidget.close()"
              [label]="'applications.settings.myUserSettings.cancel' | translate"></button>
      <button
              pButton class="vButtonBranded vButton"
              label="{{'applications.settings.myUserSettings.save' | translate}}"
              [disabled]="_editEmailAddressForm.pristine"
              (click)="_updateLoginData()"></button>
    </div>
  </div>

</v-area-blocker>
