

  .vSelectedItems {
    font-weight: bold;
  }

  .vBulkDeleteBtnContainer {
    display: inline-block;
    padding: 0 24px;
    .vBulkDeleteBtn {
      height: 34px;
      width: 100px;
    }
  }
  .vBulkActionsBtn {
  }

  .vBulkCancel {
    padding: 0 24px;
    color: #333333;
  }
