<div class="vLinkedEntriesList" [formGroup]="form">
  <v-area-blocker [showLoader]="_showLoader" [message]="_blockerMessage">

    <!-- Entries table -->
    <div class="vMultiple" *ngIf="_isReady">
      <div class="vTableHeader">
        <div class="vBulkActions" *ngIf="_selectedEntries?.length">
          <button pButton
                  class="vButtonDefault vMoveBtn vMoveBtnTop"
                  icon="vIcondropdown_arrow_top"
                  (click)="_moveUpSelections()"></button>
          <button pButton
                  class="vButtonDefault vMoveBtn vMoveBtnBottom"
                  icon="vIcondropdown_arrow_bottom"
                  (click)="_moveDownSelections()"></button>

          <span>{{'applications.content.entryDetails.metadata.selected' | translate: [_selectedEntries.length]}}</span>

          <button pButton icon="vIcontrash" (click)="_deleteSelections()" class="vButtonDanger vBulkDeleteBtn"></button>

          <a class="vClearSelection" (click)="_clearSelection()">
            {{'applications.content.entryDetails.metadata.clear' | translate}}
          </a>
        </div>

        <button *ngIf="!_selectedEntries?.length"
                pButton class="vButtonDefault vAddEntriesBtn"
                [disabled]="form.disabled"
                [label]="_addBtnTitle"
                (click)="_openEntriesSelector()"></button>
      </div>
      <v-linked-entries-table [entries]="_entries"
                              [disabled]="form.disabled"
                              [allowMultiple]="control?.allowMultipleEntries"
                              (deleteEntry)="_deleteEntry($event)"
                              [(selectedEntries)]="_selectedEntries"></v-linked-entries-table>
    </div>
  </v-area-blocker>
</div>

<vPopupWidget #addEntries data-aid="addEntries" [popupWidth]="995" [slider]="true">
  <ng-template>
    <v-linked-entries-add-entries-popup [parentPopup]="addEntries"
                                        [allowMultiple]="control?.allowMultipleEntries"
                                        [selectedEntries]="_entries"
                                        (addEntries)="_addEntries($event)"></v-linked-entries-add-entries-popup>
  </ng-template>
</vPopupWidget>
