<div class="vEditMediaProfileFlavor">
  <form [formGroup]="_editFlavorForm" novalidate>
    <div class="vHeader">
      <span class="vTitle">{{'applications.settings.transcoding.editFlavor.editLiveFlavorSettings' | translate}}</span>
    </div>

    <div class="vContainer">
      <div class="vRow">
        <span class="vLabel">{{'applications.settings.transcoding.editFlavor.profileName' | translate}}</span>
        <div class="vControl">
          <input pInputText [formControl]="_profileNameField"/>
        </div>
      </div>

      <div class="vRow">
        <span class="vLabel">{{'applications.settings.transcoding.editFlavor.flavorName' | translate}}</span>
        <div class="vControl">
          <input pInputText [formControl]="_flavorNameField"/>
        </div>
      </div>

      <div class="vRow">
        <span class="vLabel">
          {{'applications.settings.transcoding.editFlavor.systemName' | translate}}
        </span>
        <div class="vControl">
          <input pInputText
                 [formControl]="_systemNameField"
                 [placeholder]="'applications.settings.transcoding.editFlavor.systemNamePlaceholder' | translate"/>
        </div>
      </div>
    </div>

    <div class="vFooter">
      <button type="button" pButton class="vButtonDefault"
              [label]="'applications.settings.transcoding.cancel' | translate"
              (click)="parentPopupWidget.close()"></button>
      <button type="button" class="vButtonBranded vSaveBtn" pButton
              [label]="'applications.settings.transcoding.save' | translate"
              (click)="_saveFlavor()"></button>
    </div>
  </form>
</div>

