@import 'app-theme/_variables.scss';

.vEditDistributionProfileMetadata {
  .vRow {
    display: flex;
    padding-top: 20px;

    &.vFirstRow {
      padding-top: 0;
    }

    .vLabel {
      width: 172px;
      flex: 0 0 auto;
      height: 18px;
      color: $vGrayscale1;
      font-size: 15px;
      line-height: 18px;
      padding: 8px 4px;
    }

    .vReadonlyData {
      padding: 8px 0;
      font-size: 15px;

      .vIconinactive {
        color: $vGrayscale3;
        margin-right: 8px;
        position: relative;
        top: 1px;
      }
    }

    .vControl {
      height: 34px;
      color: $vGrayscale2;
      width: 500px;
      border-radius: 3px;

      &.vDateControl {
        width: 176px;
      }

      &.vControlInvalid {
        border: 1px solid $vDandger;
      }

      &.vMetadataControl {
        padding: 0 10px;
      }
    }
    .VTextArea {
      height: 75px;
      padding: 10px;
    }
  }

  .vFormHeader {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

:host /deep/ .vEditDistributionProfileMetadata {
  .ui-inputtext:disabled {
    border-color: $vGrayscale2;
    color: $vGrayscale2;
  }

  .ui-autocomplete-multiple-container {
    width: 500px !important;
    max-height: 101px;
    overflow-y: auto;
  }
}
