@import 'app-theme/_variables.scss';

.vPlaylistEntriesHolder {
  width: 100%;
  height: 100%;
  border: 1px solid $vGrayscale6;
  position: relative;
  display: flex;
  flex-direction: column;
    .vPlaylistRulesTable{
        display: block;
    }
  .vPlaylistEntriesTableFilters {
    width: 100%;
    height: 68px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    display: flex;

    .vAddEntryBtn {
      margin-left: 14px;
      height: 36px;
      border: none;
    }

    .vSelectedEntriesNum{
      margin: 0 5px 0 20px;
    }
  }

  .vPlaylistEntriesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }

  .vSelectedEntriesLabel {
    font-weight: bold;
  }

  .vBulkCancel {
    margin-left: 20px;
    color: #333333;
  }

  .vMoveBtn {
    width: 40px;
    height: 34px;
    margin: 0px;
  }

  .vMoveBtnTop {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .vMoveBtnBottom {
    margin: 0 20px 0 -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .vBulkActions {
    margin-left: 14px;
  }

  .vBulkDeleteBtn {
    padding: 0 8px;
  }
}

:host /deep/ .vIcondropdown_arrow_top,
:host /deep/ .vIcondropdown_arrow_bottom {
  font-size: 12px;
}
