<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="vPlaylistEntriesHolder">
    <vPlaylistRulesListBulkOperationsContent
      [selectedRules]="_selectedRules"
      [isNewPlaylist]="_widgetService.isNewData"
      [entriesTotalCount]="_widgetService.entriesTotalCount"
      [duration]="_widgetService.entriesDuration"
      [rulesTotalCount]="_widgetService.rulesTotalCount"
      (addRule)="_onActionSelected({action: 'view', rule: null})"
      (deleteRules)="_deleteSelected($event)"
      (clearSelection)="_clearSelection()"
      (moveRules)="_widgetService.moveRules($event)">
    </vPlaylistRulesListBulkOperationsContent>
    <vPlaylistRulesTable
      class="vPlaylistRulesTable"
      [isNewPlaylist]="_widgetService.isNewData"
      [rules]="_widgetService.rules"
      (onActionSelected)="_onActionSelected($event)"
      [(selectedRules)]="_selectedRules"></vPlaylistRulesTable>
  </div>

  <vPopupWidget #playlistRule data-aid="playlistRule" [popupWidth]="995" [slider]="true">
    <ng-template>
      <vPlaylistRule [rule]="_selectedRule"
                     (onClosePopupWidget)="playlistRule.close()"
                     (onSaveRule)="_saveRule($event)"></vPlaylistRule>
    </ng-template>
  </vPopupWidget>
</v-area-blocker>
