<v-area-blocker [showLoader]="_showLoader">
  <div class="vOverrideFAIcons vRefineFilters">
    <vScrollToTopContainer #refine class="vTreeContainer">
      <div class="vFiltersGroupTitle">
        <span>{{'applications.content.filters.additionalFilters' | translate | uppercase}}</span>
      </div>

        <div *ngFor="let treeInstance of _primeLists">
          <p-tree [value]="treeInstance.items"
                  [selectionMode]="'checkbox'"
                  vRefinePrimeTree
                  [(selection)]="treeInstance.selections"
                  (onNodeSelect)="_onTreeNodeSelect($event, treeInstance)"
                  (onNodeUnselect)="_onTreeNodeUnselect($event, treeInstance)">
            <ng-template let-node pTemplate="default">
              <span class="vTreeNodeLabel" [vTooltip]="node.label" [delay]="1000">
                {{node.label}}
              </span>
            </ng-template>
          </p-tree>
        </div>
    </vScrollToTopContainer>

    <p>
      <a class="clearAll" (click)="_clearAllComponents()">{{'applications.content.filters.clearAll' | translate}}</a>
      <a class="vClose" (click)="_close()">{{'applications.content.filters.close' | translate}}</a>
    </p>
  </div>
</v-area-blocker>

