@import 'app-theme/_variables.scss';

.vDistribution {
  width: 100%;

  .vDistributionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $vGrayscale4;
    padding: 26px 28px;
    font-size: 20px;
    color: $vGrayscale1;
    font-weight: bold;
    line-height: 24px;

    .vRefreshBtn {
      font-size: 28px;
      border: none;
      width: 28px;
      outline: 0;
      color: $vGrayscale3;
      margin-right: -5px;
      &:active {
        box-shadow: none;
        top: 2px;
        transform: rotate(45deg);
      }
      &:hover {
        background-color: #ffffff;
        color: $vPrimary;
      }
    }
  }
}
