<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="vDistribution">
    <div class="vDistributionHeader">
      <span>{{'applications.content.entryDetails.distribution.distribution' | translate}}</span>
      <button pButton class="vButtonDefault vRefreshBtn" icon="vIconrefresh"
              [vTooltip]="'applications.content.entryDetails.distribution.refresh' | translate"
              (click)="_widgetService.refresh()"></button>
    </div>
    <div class="vDistributionList">
      <vEntryDistributedProfile
        *ngFor="let profile of (_widgetService.distributionProfiles$.distributed | async).items"
        [profile]="profile"
        (onActionSelected)="_onDistributedProfileActionSelected($event)"></vEntryDistributedProfile>
      <vEntryUndistributedProfile
        *ngFor="let profile of (_widgetService.distributionProfiles$.undistributed | async).items"
        [profile]="profile"
        (onExport)="_openUndistributedProfile($event)"></vEntryUndistributedProfile>
    </div>
  </div>
</v-area-blocker>

<vPopupWidget #editProfile data-aid="editDistributionProfile" [popupWidth]="995" [slider]="true">
  <ng-template>
    <v-area-blocker [message]="_widgetService.popupMessage">
      <vEditDistributionProfile [parentPopup]="editProfile"
                                [entry]="_widgetService.data"
                                [thumbnails]="(_widgetService.thumbnails$ | async)?.items"
                                [flavors]="(_widgetService.flavors$ | async)?.items"
                                [undistributedProfile]="_selectedUndistributedProfile"
                                [distributedProfile]="_selectedDistributedProfile"
                                (onActionSelected)="_onEditProfileActionSelected($event)"></vEditDistributionProfile>
    </v-area-blocker>
  </ng-template>
</vPopupWidget>
