<v-area-blocker [message]="_blockerMessage">
  <div class="vFloater vOverrideFAIcons">
    <div class="vHeader">
      <span class="vTitle">{{'applications.content.categoryDetails.entitlements.owner.changeOwner' | translate}}</span>
    </div>

    <div class="vContainer">
      <span class="vLabel">{{'applications.content.categoryDetails.entitlements.owner.changeOwnerLabel' | translate}}</span>

      <vAutoComplete [(ngModel)]="_owner"
                     suggestionItemField="item"
                     suggestionLabelField="name"
                     field="screenName"
                     [onItemAdding]="_convertUserInputToValidValue"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [multiple]="false"
                     [limitToSuggestions]="false"
                     placeholder="{{'applications.content.categoryDetails.entitlements.owner.changeOwnerPlaceholder' | translate}}"
                     [minLength]="3"
                     [suggestionsProvider]="_usersProvider"
                     (completeMethod)="_searchUsers($event)">
      </vAutoComplete>
    </div>

    <div class="vFooter">
      <button type="button" class="vButtonDefault" pButton
              label="{{'app.common.cancel' | translate}}" (click)="parentPopupWidget.close()"></button>
      <button type="button" class="vButtonBranded" pButton
              label="{{'app.common.apply' | translate}}" (click)="_apply()"
              [disabled]="!_owner"></button>
    </div>
  </div>
</v-area-blocker>
