<v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <form [formGroup]="accountSettingsForm" novalidate (ngSubmit)="onSubmit()" class="vAccountSettingsWrapper vContent">
    <section class="vFormMetadata">
      <div class="vReadonlyData">{{'applications.settings.accountSettings.partnerID' | translate}}: {{partnerId}} |
        {{'applications.settings.accountSettings.adminEmail' | translate}}:
        {{partnerAdminEmail}}
      </div>
      <div *ngIf="!accountSettingsForm.pristine && !accountSettingsForm.valid && accountSettingsForm.touched"
           class="vInvalidFields">
        <span>{{'applications.settings.accountSettings.errors.invalidFields' | translate}}</span>
      </div>
    </section>
    <section class="vFormContainer">
      <div class="vFormSection">
        <i class="vIconwarning"></i>
        <span>{{'applications.settings.accountSettings.informationMessage' | translate}}</span>
      </div>
      <hr>
      <div class="vFormSection">
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.name' | translate}}</span>
          <div class="vRequired" [ngClass]="{'vHasError':!accountSettingsForm.controls['name'].valid &&
                   accountSettingsForm.controls['name'].touched}">*
          </div>
          <div>
            <input class="vControl" formControlName="name" pInputText
                   [ngClass]="{'vHasError':!accountSettingsForm.controls['name'].valid &&
                   accountSettingsForm.controls['name'].touched}">
            <div *ngIf="accountSettingsForm.controls['name'].touched &&
                 accountSettingsForm.controls['name'].hasError('required')"
                 class="error">
              {{'applications.settings.accountSettings.errors.requiredName' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.adminUserId' | translate}}</span>
          <div class="vRequired" [ngClass]="{'vHasError':!accountSettingsForm.controls['adminUserId'].valid &&
                        accountSettingsForm.controls['adminUserId'].touched}">*
          </div>
          <div class="vControl">
            <p-dropdown [options]="nameOfAccountOwnerOptions"
                        formControlName="adminUserId"
                        [ngClass]="{'vHasError':!accountSettingsForm.controls['adminUserId'].valid &&
                        accountSettingsForm.controls['adminUserId'].touched}">>
            </p-dropdown>
            <div
              *ngIf="accountSettingsForm.controls['adminUserId'].touched && accountSettingsForm.controls['adminUserId'].hasError('required')"
              class="error">
              {{'applications.settings.accountSettings.errors.requiredUserId' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.phone' | translate}}</span>
          <div class="vRequired" [ngClass]="{'vHasError':!accountSettingsForm.controls['phone'].valid &&
                   accountSettingsForm.controls['phone'].touched}">*
          </div>
          <div>
            <input class="vControl" formControlName="phone" pInputText
                   [ngClass]="{'vHasError':!accountSettingsForm.controls['phone'].valid &&
                   accountSettingsForm.controls['phone'].touched}">
            <div *ngIf="accountSettingsForm.controls['phone'].touched &&
                 accountSettingsForm.controls['phone'].hasError('required')"
                 class="error">
              {{'applications.settings.accountSettings.errors.requiredPhone' | translate}}
            </div>
            <div *ngIf="accountSettingsForm.controls['phone'].touched &&
                        accountSettingsForm.controls['phone'].hasError('phonePattern')"
                 class="error">
              {{'applications.settings.accountSettings.errors.phoneInvalid' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.website' | translate}}</span>
          <div class="vRequired"></div>
          <input class="vControl" formControlName="website" pInputText>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.describeYourself' | translate}}</span>
          <div class="vRequired"></div>
          <div class="vControl">
            <p-dropdown [options]="describeYourselfOptions"
                        formControlName="describeYourself"></p-dropdown>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountSettings.referenceId' | translate}}</span>
          <div class="vRequired"></div>
          <input class="vControl" formControlName="referenceId" pInputText>
        </div>
        <div class="vSaveBtnContainer vRow">
          <button pButton class="vButtonBranded vSaveBtn"
                  label="{{'applications.settings.accountSettings.apply' | translate}}"
                  [disabled]="accountSettingsForm.pristine || (_vmcPermissions.ACCESS_CONTROL_ADD | vDisabledIfNotPermitted)"></button>
        </div>
      </div>


    </section>
  </form>
</v-area-blocker>
