<div class="vUndistributedProfile">
  <div [class]="'vProfileIcon ' + (profile?.providerType| vEntriesDistributionProviderTypeIcon)"></div>

  <div class="vUndistributedProfileContent">
    <span class="vTitle" [class.vClickable]="_vmcPermissions.CONTENT_MANAGE_DISTRIBUTION_WHERE | vNgIfPermitted">
      <span class="vTitleLabel" (click)="_exportProfile(profile)">{{profile?.name}}</span>
    </span>
    <div class="vMetadata">
      <span class="vStatus">
        <i class="vIconinactive"></i>
        {{'applications.content.entryDetails.distribution.status.notDistributed' | translate}}
      </span>
    </div>
  </div>

  <div class="vControls">
    <button pButton class="vButtonDefault vExportBtn"
            *ngIf="_vmcPermissions.CONTENT_MANAGE_DISTRIBUTION_WHERE | vNgIfPermitted"
            [label]="'applications.content.entryDetails.distribution.export' | translate"
            (click)="onExport.emit(profile)"></button>
  </div>
</div>
