@import 'app-theme/_variables.scss';

$app-styles-path: '../../../styles';
@import '../../../styles/icons.scss';

.vUndistributedProfile {
  min-height: 52px;
  display: flex;
  border-bottom: 1px solid $vGrayscale4;
  padding: 30px 28px 28px 28px;

  .vProfileIcon {
    width: 28px;
    background-repeat: no-repeat;
  }

  .vUndistributedProfileContent {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 52px;
    margin-left: 16px;

    .vTitle {
      margin-bottom: 16px;

      &.vClickable {
        cursor: pointer;
      }

      .vTitleLabel {
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
      }
    }

    .vMetadata {
      color: $vGrayscale1;

      .vStatus {
        .vIconinactive {
          color: $vGrayscale3;
          margin-right: 8px;
          position: relative;
          top: 1px;
        }
      }
    }
  }

  .vControls {
    display: flex;
    position: relative;
    top: -6px;

    .vExportBtn {
      height: 34px;
      width: 120px;
    }
  }
}
