<div class="vEntrySelector">
  <div class="vEntrySelectorTable" [class.vEntriesSelectorBucketOpened]="selectedEntries.length">
    <vEntriesList
      [showReload]="false"
      [columns]="columns"
      [defaultFilters]="defaultFilters"
      [enforcedFilters]="enforcedFilters"
      (onActionsSelected)="_onActionSelected($event)">
    </vEntriesList>
  </div>
  <div class="vEntrySelectorBucket" *ngIf="selectedEntries.length">
    <div class="VEntrySelectorSelectedItemsWrapper">
      <div class="VEntrySelectorSelectedItem" *ngFor="let entry of selectedEntries">
          <div class="vThumbnailHolder">
            <img [src]="entry.thumbnailUrl" [alt]="entry.name" onError="this.onerror=null;this.style.display='none'"
                 *ngIf="!(_vmcPermissions.FEATURE_DISABLE_VMC_LIST_THUMBNAILS | vNgIfPermitted)">
            <i class="vIconyoutube vThumbnailTypeIcon" *ngIf="entry.externalSourceType === _youtubeExternalSourceType"></i>
            <div class="vYoutubeIconFix" *ngIf="entry.externalSourceType === _youtubeExternalSourceType"></div>
            <i class="vIconquiz vThumbnailTypeIcon" *ngIf="entry.isQuizEntry"></i>
          </div>
        <span [vTooltip]="entry.name">{{ entry.name }}</span>
        <i class="vIcontrash" (click)="_removeSelected(entry)"></i>
      </div>
    </div>
  </div>
</div>
