@import 'app-theme/_variables.scss';

.vDropFoldersTableWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;

  .vDropFoldersTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    padding: 0;

      .emptymessage {
          display: table-row;
          border: 0;
          height: 200px;

          .vEmptyMessage {
              position: absolute;
              width: 100%;
              height: 200px;
              border-bottom: 1px solid $vGrayscale4;
          }
      }
  }

  .vDropFoldersTableActions {
    width: 100%;
    text-align: center;
  }

  .vStatusWrap {
    display: flex;
    align-items: center;
  }

  .vDropFolderStatusIcon {
    font-size: 16px;
    margin-right: 12px;
  }

  .vIconBlue {
    color: #1cabcb;
  }

  .vIconOrange {
    color: #F9A71B;
  }

  .vIconRed {
    color: #DB1F26;
  }

  .vIconGreen {
    color: #149347;
  }

  .vTitle {
    font-weight: bold;
    color: #333;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .vFileNameColumn {
  width: 250px;
}

:host /deep/ .ui-table .actionsColumn {
  overflow: visible;
  width: 80px;
}
:host /deep/ p-table .ui-table-scrollable-body{
    margin-bottom: 34px;
}
:host /deep/ p-table .stickyHeader {
  z-index: 10;
  display: table;
}
:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $vGrayscale6;
    }
}
