<div class="vContainer vContent">
  <div class="vColumn" [class.vRightColumnShown]="_vmcPermissions.FEATURE_ENTITLEMENT | vNgIfPermitted">
    <div class="vAccountInfoContainer">
      <vAccountInfo></vAccountInfo>
    </div>
    <div class="vNotifications">
      <div class="vTitle">{{'applications.settings.integrationSettings.accountInfo.notifications.title' | translate}}</div>
      <div>{{'applications.settings.integrationSettings.accountInfo.notifications.message' | translate}}</div>
    </div>
  </div>
  <div class="vColumn vRightColumn" *ngIf="_vmcPermissions.FEATURE_ENTITLEMENT | vNgIfPermitted">
      <vEntitlement></vEntitlement>
  </div>
</div>
