<v-details-bar #detailsBar [data]="_currentCategory">

  <vDetailInfo *ngIf="_parentCategoryId > 0" [label]="'applications.content.categoryDetails.headerProps.parent' | translate"
               [value]="_parentCategoryId?.toString()"
               (itemClick)="_onParentClicked($event)"></vDetailInfo>
  <vDetailInfo [label]="'applications.content.categoryDetails.headerProps.id' | translate" [valueField]="'id'"></vDetailInfo>
  <vDetailInfo [label]="'applications.content.categoryDetails.headerProps.subCategories' | translate" [valueField]="'directSubCategoriesCount'"></vDetailInfo>
  <vDetailInfo [label]="'applications.content.categoryDetails.headerProps.entries' | translate" [valueField]="'entriesCount'"></vDetailInfo>
  <vDetailInfo [label]="'applications.content.categoryDetails.headerProps.creationDate' | translate" [valueField]="'createdAt'"
               [value]="_currentCategory?.createdAt | vmcDate:'dateOnly'" [tooltip]="_currentCategory?.createdAt | vmcDate"></vDetailInfo>
  <vDetailInfo [label]="'applications.content.categoryDetails.headerProps.lastUpdate' | translate"
               [value]="_currentCategory?.updatedAt | vmcDate:'dateOnly'" [tooltip]="_currentCategory?.updatedAt | vmcDate"></vDetailInfo>
</v-details-bar>
