@import 'app-theme/_variables.scss';

.vEditorContainer {
  .vHeader {
    height: 58px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $vGrayscale1;
    color: white;
    border-bottom: 1px solid $vGrayscale4;
    .vClose {
      color: $vGrayscale3;
      font-size: 18px;
      margin-left: 24px;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
    .vTitle {
      margin-left: 24px;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
