<div class="vEditorContainer">
  <div class="vHeader">
    <i class="vIconclose_small vClose" (click)="_close()"></i>
    <span class="vTitle">{{'applications.content.entryDetails.entryEditor.title' | translate}}</span>
  </div>
  <div class="vVeditHoster">
    <vVeditHoster [tab]="tab"
                  [entry]="entry"
                  [entryHasSource]="entryHasSource"
                  (closeEditor)="_confirmClose = false; _close()"
                  (enteredDraftMode)="_confirmClose = true"
                  (exitDraftMode)="_confirmClose = false"
    ></vVeditHoster>
  </div>
</div>
