<div class="vDashboard">
  <div id="appMenu" #appMenu>
      <vVMCAppMenu></vVMCAppMenu>
      <div class="vPopupWidgetModalOverlay vMenuCover"></div>
  </div>
  <router-outlet></router-outlet>
  <vScrollToTop [scrollOffset]="50"></vScrollToTop>
</div>

<vPopupWidget #whatsNew data-aid="whatsNew" [popupWidth]="644" [popupHeight]="617" [modal]="true" [closeBtn]="false">
    <div class="whatsNew">
        <div class="vIcon"></div>
        <div class="vHeader">
            <span class="vTitle">Welcome to the New VMC!</span>
        </div>
        <div class="vWelcomeContent">
            <span>We are happy to introduce you to the new version of the Vidiun Management Console. The VMC has undergone a full facelift and is now Flash-free, with a fresh design, enhanced usability and faster performance.</span>
            <span class="enjoy">Enjoy!</span>
        </div>

        <div class="vFooter">
            <button class="vButtonBranded" type="button" pButton label="Lets Go!" (click)="closeWin()"></button>
        </div>
    </div>
</vPopupWidget>
