<p-radioButton *ngIf="enableNoParentSelection" class="vNoParentOption" [value]="null" [(ngModel)]="_selectedCategory"
               [ngModelOptions]="{standalone: true}"
               (click)="_clearSelection()"
               label="{{('applications.content.moveCategory.noParent') | translate}}"></p-radioButton>

<div class="vMain">
  <vAutoComplete #autoComplete
                 [disabled]="!_categoriesLoaded"
                 [multiple]="false"
                 field="name"
                 suggestionItemField="item"
                 suggestionLabelField="name"
                 suggestionSelectableField="isSelectable"
                 placeholder="{{'applications.entries.entryMetadata.searchCategoriesPH' | translate}}"
                 [minLength]="3"
                 (onSelect)="_onAutoCompleteSelected()"
                 [suggestionsProvider]="_categoriesProvider"
                 (completeMethod)="_onAutoCompleteSearch($event)">
  </vAutoComplete>
  <v-categories-tree #categoriesTree
                     [selectionMode]="'single'"
                     [(selectedCategory)]="_selectedCategory"
                     (onCategoriesLoaded)="_categoriesLoaded = true"
                     (onCategorySelected)="_onCategorySelected($event)"></v-categories-tree>
</div>
<div class="vSelectedCategoryTooltip" [vTooltip]="_selectionTooltip">{{ _selectionTooltip }}</div>
