<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.bulkActions.addTags' | translate}}</span>
    <div class="vTags">
      <span class="vLabel">{{'applications.content.bulkActions.addTagsLabel' | translate}}</span>
      <vAutoComplete [(ngModel)]="tags"
                     suggestionItemField="item"
                     suggestionSelectableField="isSelectable"
                     [multiple]="true"
                     [limitToSuggestions]="false"
                     [minLength]="3"
                     [suggestionsProvider]="_tagsProvider"
                     (completeMethod)="_searchTags($event)">
      </vAutoComplete>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton label="{{'applications.content.bulkActions.apply' | translate}}" (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
