<v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage" [bodyScroll]="true">
  <div class="vPlaylists vOverrideFAIcons">
    <div #playlistsTableHolder class="vPlaylistsHolder vContent">
      <vSticky stickyId="playlistsFilters" [scrollOffset]="80" [sticksTo]="'header'">
        <div class="vContent vFiltersWrapper">
          <div class="vPlaylistsTableFilters vContent">
            <button
              pButton
              type="button"
              label="{{'applications.content.playlists.addPlaylist' | translate}}"
              class="vButtonBranded vAddPlaylistBtn" [class.vHidden]="_selectedPlaylists.length"
              *ngIf="_vmcPermissions.PLAYLIST_ADD | vNgIfPermitted"
              (click)="_addPlaylist()"></button>
            <span
              class="vSelectedPlaylistsNum"
              *ngIf="(_playlistsStore.playlists.data$ | async)?.totalCount">
              {{'applications.content.playlists.playlists' | translate : [(_playlistsStore.playlists.data$ | async)?.totalCount] }}
            </span>

            <div class="vBulkOperations" [class.vHidden]="!_selectedPlaylists.length">
              <span class="vSelectedPlaylistsLabel">
                • {{ 'applications.content.playlists.selected' | translate : [_selectedPlaylists.length] }}</span>
              <button pButton icon="vIcontrash" class="vButtonDanger vBulkDeleteBtn"
                      [disabled]="_vmcPermissions.PLAYLIST_DELETE | vDisabledIfNotPermitted"
                      (click)="_deletePlaylists(_selectedPlaylists)"></button>
              <a class="vBulkCancel" (click)="_clearSelection()">
                {{'applications.content.playlists.cancel' | translate}}
              </a>
            </div>
            <div [class.vHidden]="_selectedPlaylists.length" class="vFilters">
              <input type="text" pInputText class="vSearchInput"
                     [(ngModel)]="_query.freetext"
                     (keyup.enter)="_onFreetextChanged()"
                     placeholder="{{'applications.content.playlists.searchEntries' | translate}}">
              <div #refineBtn class="vRefine vDropdown"><i class="vIconcalendar"></i></div>
            </div>
            <button pButton
                    class="vButtonDefault vRefreshBtn small"
                    type="text"
                    (click)="_reload()"
                    icon="vIconrefresh"
                    [vTooltip]="'applications.content.playlists.refresh' | translate"></button>
          </div>
        </div>
      </vSticky>
      <vSticky #tags [stickyClass]="'vStickyClass'" stickyId="playlistsTags" [sticksTo]="'playlistsFilters'">
        <div class="vTagsWrapper vContent">
          <v-playlists-tags   (onTagsChange)="_onTagsChange()"></v-playlists-tags>
        </div>
      </vSticky>

      <v-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
      <vPlaylistsTable
        class="vPlaylistsTable"
        [playlists]="(_playlistsStore.playlists.data$ | async)?.items"
        (sortChanged)="_onSortChanged($event)"
        [sortField]="_query.sortBy"
        [sortOrder]="_query.sortDirection"
        (actionSelected)="_onActionSelected($event)"
        [(selectedPlaylists)]="_selectedPlaylists"></vPlaylistsTable>
      </v-area-blocker>

      <div class="vPlaylistsTableFooter vContent" #footer *ngIf="(_playlistsStore.playlists.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_query.pageSize"
          [first]="_query.pageIndex * _query.pageSize"
          [rowsPerPageOptions]="[25,50,100,250]"
          [totalRecords]="(_playlistsStore.playlists.data$ | async)?.totalCount"
          (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</v-area-blocker>

<vPopupWidget
  #refinePopup
  data-aid="playlistsRefinePopup"
  [appendTo]="playlistsTableHolder"
  [popupWidth]="350"
  [popupHeight]="169"
  [closeBtn]="false"
  [targetRef]="refineBtn"
  [targetOffset]="{'x':-294, 'y': -20}"
  vSticky
  [sticksTo]="'header'"
  [stickyClass]="'vForceFix'"
  stickyId="playlistsAdditionalFilter"
  [scrollOffset]="80">
  <ng-template>
    <v-playlists-refine-filters
            [parentPopupWidget]="refinePopup"></v-playlists-refine-filters>
  </ng-template>
</vPopupWidget>

<vPopupWidget #addNewPlaylist data-aid="addNewPlaylist" [popupWidth]="586" [popupHeight]="410" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <vAddNewPlaylist [parentPopupWidget]="addNewPlaylist"></vAddNewPlaylist>
  </ng-template>
</vPopupWidget>
