@import 'app-theme/_variables.scss';
.vContainer {
  width: 100%;
  background-color: $vSecondary;
  display: flex;
  border-radius: 3px;
  color: #FFFFFF;
  align-items: center;
  padding-top:40px;
  padding-bottom: 40px;


  .vGraphicsContainer {
    flex: 0 0 auto;
    width: 160px;
    text-align: center;

    .vIcon {
      font-size: 128px;
    }
  }
  .vAccountInfoContainer {
    flex: 1 1 auto;

    padding-right: 35px;
    width: 100%;

    .vHeader {
      font-size: 24px;
    }

    .vTrialExpiration{
      padding-top: 16px;
      font-size: 18px;
    }

    .vStatistics {
      padding-top: 16px;
      .vBandwidth, .vStorage {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .vContactUs {
      padding-top: 16px;
      font-size: 15px;
    }
  }
}
