@import 'app-theme/_variables.scss';

.vFlavorImport{
	.vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 32px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    .vTitle {
      color: #333333;
      font-size: 16px;
      font-weight: 700;
    }
	}
  .vContainer{
    margin: 24px;
    height: 70px;
  }
  .vFooter{
    text-align: center;
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    button{
      margin-top: 16px;
      height: 34px;
    }
  }
	.vFlavorUrl{
		margin-top: 6px;
		width: 100%;
	}
	.vInvalid{
		color: $vDandger;
		font-size: 12px;
		font-weight: 700;
	}
}

