<v-area-blocker [showLoader]="_dataLoading" [message]="_blockerMessage">
  <div class="vAddNewProfile">
    <form [formGroup]="_addNewProfileForm" novalidate>
      <div class="vHeader">
        <span class="vTitle">{{'applications.settings.transcoding.addTranscodingProfile' | translate}}</span>
      </div>

      <div class="vContainer">
        <div class="vRow" [class.vHasError]="_nameField.touched && _nameField.invalid">
          <span class="vLabel">{{'applications.settings.transcoding.metadata.name' | translate}}</span>
          <div class="vRequired">*</div>
          <div class="vControl">
            <input [formControl]="_nameField" pInputText
                   [placeholder]="'applications.settings.transcoding.metadata.namePlaceholder' | translate"/>
          </div>
        </div>

        <div class="vRow">
          <span class="vLabel">{{'applications.settings.transcoding.metadata.description' | translate}}</span>
          <div class="vControl">
            <input [formControl]="_descriptionField" pInputText
                   [placeholder]="'applications.settings.transcoding.metadata.descriptionPlaceholder' | translate"/>
          </div>
        </div>

        <div class="vRow">
          <span
            class="vLabel">{{'applications.settings.transcoding.metadata.defaultMetadataSetting' | translate}}</span>
          <div class="vControl">
            <input [formControl]="_defaultMetadataSettingsField" pInputText
                   [placeholder]="'applications.settings.transcoding.metadata.defaultMetadataSettingPlaceholder' | translate"/>
          </div>
        </div>

        <div class="vRow" *ngIf="!_hideIngestFromRemoteStorage">
          <span
            class="vLabel">{{'applications.settings.transcoding.metadata.ingestFromRemoteStorage' | translate}}</span>
          <div class="vControl">
            <p-dropdown [options]="_remoteStorageProfilesOptions" [formControl]="_ingestFromRemoteStorageField"
                        [autoWidth]="false"></p-dropdown>
          </div>
        </div>
      </div>

      <div class="vFooter">
        <button type="button" pButton class="vButtonDefault"
                [label]="'applications.settings.transcoding.cancel' | translate"
                (click)="parentPopupWidget.close()"></button>
        <button type="button" class="vButtonBranded vNextBtn" pButton
                [disabled]="_addNewProfileForm.invalid"
                [label]="'applications.settings.transcoding.save' | translate"
                (click)="_goNext()"></button>
      </div>
    </form>
  </div>
</v-area-blocker>
