@import 'app-theme/_variables.scss';

.vAddNewProfile {
  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;

    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .vContainer {
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 28px;

    .vRow {
      display: flex;
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 0;
      }
      &.vHasError {
        .vRequired {
          color: $vDandger;
          font-weight: bold;
        }
        .vControl input {
          border-color: $vDandger;
          background: initial;
        }
      }

      .vLabel {
        width: 204px;
        flex: 0 0 auto;
        height: 18px;
        color: $vGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }

      .vRequired {
        width: 20px;
        margin-left: -28px;
        font-size: 24px;
      }
      .vRequired, .vLabel {
        padding: 8px 4px;
        height: 18px;
      }
      .vControl {
        color: $vGrayscale2;
        height: 34px;
        border-radius: 3px;

        input {
          width: 300px;
        }

        .vInputError {
          color: $vDandger;
        }
      }
    }
  }

  .vFooter {
    padding: 15px 0;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 120px;
      height: 34px;
    }

    .vNextBtn {
      border-width: 0;
      font-size: 14px;
      margin-left: 16px;

      &:disabled {
        border-width: 1px;
      }
    }
  }
}

:host /deep/ .vAddNewProfile {
  .ui-dropdown.ui-widget {
    width: 300px;
  }
}
