<v-area-blocker [showLoader]="false" [message]="_blockerMessage" style="height: 100%">

  <div class="vTreeContainer vOverrideFAIcons">

    <div class="vHeader">
    <span class="vTitle">
      <span>{{('applications.settings.integrationSettings.entitlement.addEntitlement.title') | translate}}</span>
    </span>
    </div>
    <div class="vContainer">
      <div class="vRow">
        <div class="vExplanation">
          {{('applications.settings.integrationSettings.entitlement.addEntitlement.explanation') | translate}}
        </div>
      </div>
      <div class="vRow">
        <vCategorySelector (onCategorySelected)="_onCategorySelected($event)"
                           [enableNoParentSelection]="false">
        </vCategorySelector>
      </div>
      <form class="vRow" [formGroup]="addEntitlementForm" novalidate>
        <span class="vLabel">{{'applications.settings.integrationSettings.entitlement.addEntitlement.addPrivacyContextLabel' | translate}}</span>
        <div class="vRequired" [ngClass]="{'vHasError':!addEntitlementForm.get('privacyContextLabel').valid &&
                   addEntitlementForm.get('privacyContextLabel').touched}">*
        </div>
        <div>
          <input class="vControl" formControlName="privacyContextLabel" pInputText
                 [ngClass]="{'vHasError':!addEntitlementForm.get('privacyContextLabel').valid &&
                   addEntitlementForm.get('privacyContextLabel').touched}">
          <div *ngIf="addEntitlementForm.get('privacyContextLabel').touched &&
                 addEntitlementForm.get('privacyContextLabel').hasError('required')"
               class="error">
            {{'applications.settings.integrationSettings.entitlement.addEntitlement.errors.requiredPrivacyContextLabel'
            | translate}}
          </div>
          <div *ngIf="addEntitlementForm.controls['privacyContextLabel'].touched &&
                        addEntitlementForm.controls['privacyContextLabel'].hasError('privacyContextLabelPattern')"
               class="error">
            {{addEntitlementForm.controls['privacyContextLabel'].hasError('privacyContextTooShort') ?
            ('applications.settings.integrationSettings.entitlement.editEntitlement.errors.privacyContextLabelTooShort' | translate) :
            'applications.settings.integrationSettings.entitlement.editEntitlement.errors.privacyContextLabelRegex' | translate }}
          </div>
        </div>
      </form>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()"
              [disabled]="!addEntitlementForm.get('privacyContextLabel').valid || !this._selectedCategory"></button>
      <a class="vLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</v-area-blocker>
