@import 'app-theme/_variables.scss';

.vFloater {
  width: 100%;
  display: flex;
  flex-direction: column;

  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    flex: 0 0 auto;

    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .vErrorRow {
    margin-left: 199px;
  }

  .vContainer {
    flex: 0 0 auto;
    margin: 0 28px 20px;
    min-height: 507px;

    .vLabel {
      display: block;
      margin-bottom: 5px;
    }

    .vControl {
      width: 360px;
    }

    .vCaption {
      font-size: 20px;
      font-weight: bold;
      margin: 20px 0 8px;
    }

    .vExtraPadding {
      padding-top: 12px;
    }
  }

  /deep/ {

    .vRow {
      display: flex;
      padding-top: 22px;

      .vLabel {
        width: 166px;
        flex: 0 0 auto;
        word-wrap: break-word;
        padding-right: 12px;
      }

      .vExtraWidth {
        width: 186px;
      }

      .vRequired {
        width: 20px;
        font-size: 24px;
        color: $vGrayscale2;
        margin-top: 7px;
        font-weight: bold;

        &.vHasError {
          color: $vDandger;
        }
      }

      .vSelectedRole {
          word-wrap: break-word;
        font-size: 13px;
        color: $vGrayscale3;
        line-height: 16px;
        margin-top: -4px;
      }

      input {
        width: 100%;
        height: 34px;
        border: 1px solid $vGrayscale4;
        color: #333333;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 0;
        outline: medium none;
        padding: .25em;
        font-weight: normal;

        &:focus {
          background-color: white;
          border: 1px solid $vGrayscale3;
          outline: 0 none;
        }

        &:disabled {
          background: $vGrayscale6;
          color: $vGrayscale3;
          border: 1px solid $vGrayscale4;
        }
        &.vHasError {
          border-color: $vDandger;
        }
      }

      .ng-touched.ng-invalid {
        border-color: $vDandger;
      }

      textarea {
        width: 100%;
        height: 76px;
      }

      .vControl, v-prime-control {
        width: 100%;
      }

      .extraMargin {
        margin-bottom: 8px;
      }
    }

    .rolesList {
      width: 100% !important;
    }
  }

  .vValign {
    align-items: center;
  }

  .invalid {
    color: $vDandger;
    padding-top: 5px;
    font-size: 15px;
  }

  /*********************/
  /* PrimeNG overrides */
  /*********************/

  .ui-inputtext.ng-invalid {
    border-color: $vDandger;
  }

  .vFooter {
    flex: 0 0 auto;
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 34px;
      width: 130px;
      margin: 0;
      border: none;

      &:disabled {
        border: 1px solid $vGrayscale4;
      }
    }
  }
}
