@import 'app-theme/_variables.scss';

.vTagsWrapper {
  z-index: 500;
}

.vAccounts {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .vAccountsHolder {
    height: 100%;
    min-height: $minTableHeight;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .vFilters {
      display: flex;
      margin-left: auto;
      .vSearchInput {
          width: 280px;
          height: 34px;
          background: $vMagnifyingGlassBkg;
          margin-right: 8px;
          padding: 9px 4px 8px 38px;

          &:focus {
              background-color: white;
          }
      }
      .vStatusesFilter {
          display: flex;
          height: 32px;
          align-items: center;
          cursor: pointer;
          color: $vGrayscale1;
          width: 178px;
          position: relative;
          margin-right: 8px;

          i {
              margin-right: 12px;
              margin-left: 8px;
              color: $vGrayscale4;
              &.dropdown {
                  font-size: 10px;
              }
          }

          .dropdown {
              position: absolute;
              right: 4px;
              top: 12px;
          }
      }
  }
  .vRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $vGrayscale3;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $vPrimary;
    }
  }
  .vAccountsTableFilters {
    color: $vGrayscale1;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    .vSelectedAccountsNum {
      padding-left: 16px;
    }
  }
  .vAccountsTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $vGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .vAccountsTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
    width: 100%;
  }
  .vPaginatorShowRowsLabel {
    color: $vGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .vAddAccountBtn {
    margin-left: 14px;
    height: 36px;
  }

    .vUsersHeader {
        color: $vGrayscale1;
    }
    .vUsersNeedMore {
        height: 66px;
        border-radius: 3px;
        background-color: #D9D9D9;
        margin-bottom: 20px;
        color: #222;
        padding-top: 12px;
        box-sizing: border-box;
        div {
            display: flex;
            align-items: center;
            padding: 0 21px;
            font-size: 15px;
            margin-bottom: 4px;
        }
        .vCurrentStatus,
        .vMoreUsers {
            font-weight: bold;
            margin-right: 5px;
        }

        .vMoreUsers {
            font-weight: bold;
            margin-left: 5px;
        }

        .vClickHere {
            color: #01accd;
            margin: 0 5px;
        }
    }
}



:host /deep/ span.ui-button-icon-left.pi-vIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.vIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .pi {
  margin-left: -.5em;
}

:host /deep/ .vStickyClass {
    border-bottom: 1px solid $vGrayscale5;
}

:host /deep/ .vAccountsTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
