<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true" [showLoader]="_isBusy">
  <div class="vAccounts vOverrideFAIcons">
    <div class="vAccountsHolder vContent">
        <div class="vUsersHeader">
            <div class="vUsersNeedMore">
                <div>
                <span class="vCurrentStatus">{{'applications.administration.accounts.currentStatus' | translate}}</span>
                {{'applications.administration.accounts.accountsInfo' | translate:[_usedAccounts, _availableAccounts]}}
                <span class="vMoreUsers">
                {{'applications.administration.accounts.moreAccounts' | translate}}
                <a class="vClickHere" (click)="_upgradeAccount()">{{'applications.administration.accounts.contact' | translate}}</a>
                {{'applications.administration.accounts.usersUpgrade' | translate}}
              </span>
                </div>
                <div>
                    {{'applications.administration.accounts.accountsExplain' | translate}}
                </div>
            </div>
        </div>
        <vSticky stickyId="accountsFilters" [sticksTo]="'header'" [scrollOffset]="80">
          <div class="vAccountsTableFilters vContent">
            <button pButton type="button" class="vButtonBranded vAddAccountBtn"
                    [label]="'applications.administration.accounts.addAccount' | translate"
                    [disabled]="_availableAccounts < 1 || _tableBlockerMessage"
                    (click)="_addAccount()"></button>
            <span class="vSelectedAccountsNum" *ngIf="(_accountsStore.accounts.data$ | async)?.totalCount">
              {{ 'applications.administration.accounts.accountsNum' | translate:[(_accountsStore.accounts.data$ | async)?.totalCount] }}
            </span>

              <div class="vFilters">
                  <input type="text" pInputText class="vSearchInput"
                         [(ngModel)]="_query.freeText"
                         (keyup.enter)="_onFreetextChanged()"
                         [placeholder]="'applications.administration.accounts.search' | translate">
                  <div #statusesFilterBtn class="vStatusesFilter vDropdown">
                      <i class="vIconfilter"></i>
                      <span>{{'applications.content.dropFolders.allStatuses' | translate}}</span>
                      <i class="vIcondropdown_arrow_bottom dropdown"></i>
                  </div>
              </div>

            <button pButton class="vButtonDefault vRefreshBtn small" (click)="_reload()" type="text" icon="vIconrefresh"
                    [vTooltip]="'applications.administration.accounts.refresh' | translate"></button>
          </div>
        </vSticky>
        <vSticky #tags [stickyClass]="'vStickyClass'" stickyId="accountsTags" [sticksTo]="'accountsFilters'">
            <div class="vContent">
                <v-accounts-tags [refineFilters]="_refineFilters" (onTagsChange)="_onTagsChange()"></v-accounts-tags>
            </div>
        </vSticky>

      <v-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
        <vAccountsTable class="vAccountsTable"
                     [accounts]="(_accountsStore.accounts.data$ | async)?.items"
                     (sortChanged)="_onSortChanged($event)"
                     (actionSelected)="_onActionSelected($event)">
        </vAccountsTable>
      </v-area-blocker>
      <div class="vAccountsTableFooter vContent" #footer *ngIf="(_accountsStore.accounts.data$ | async)?.totalCount">
        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_query.pageIndex * _query.pageSize"
                     [totalRecords]="(_accountsStore.accounts.data$ | async)?.totalCount"
                     [rowsPerPageOptions]="[25,50,75,100]"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.administration.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>

    <!-- popup widgets section -->
    <vPopupWidget #refinePopup
                  data-aid="accountsRefinePopup"
                  placement="top"
                  [popupWidth]="400"
                  [popupHeight]="400"
                  [closeBtn]="false"
                  [targetRef]="statusesFilterBtn"
                  [targetOffset]="{'x':-215, 'y': -15}"
                  vSticky [sticksTo]="'header'" [stickyClass]="'vForceFix'" [stickyId]="'statusesFilterPopup'"
                  [scrollOffset]="80">
        <ng-template>
            <v-accounts-refine-filters [refineFilters]="_refineFilters" [parentPopupWidget]="refinePopup"></v-accounts-refine-filters>
        </ng-template>
    </vPopupWidget>

    <vPopupWidget #newAccountPopup data-aid="newAccountPopup" [popupWidth]="791" [popupHeight]="700" [modal]="true" [closeBtnInside]="true">
        <ng-template>
            <vNewAccount [parentPopupWidget]="newAccountPopup" [templateAccounts]="_templateAccounts">
            </vNewAccount>
        </ng-template>
    </vPopupWidget>
</v-area-blocker>
