<div class="vLinkedEntrySelector vAddEntryWrap">
  <div class="vFloater">
    <div class="vHeader">
      <span class="vTitle">{{_title}}</span>
      <div class="vButtons">
        <a class="vCancel" (click)="parentPopup.close()">{{'app.common.cancel' | translate}}</a>
        <button type="button" pButton class="vButtonBranded"
                [disabled]="_selectedEntries.length === 0"
                [label]="_title"
                (click)="_addEntries()"></button>
      </div>
    </div>
    <div class="vContainer">
      <vEntriesSelector [columns]="_columns"
                        [selectionMode]="_selectionMode"
                        [(selectedEntries)]="_selectedEntries"></vEntriesSelector>
    </div>
  </div>
</div>
