@import 'app-theme/_variables.scss';

.vAddEntryWrap {
  .vFloater{
    display: flex;
    flex-direction: column;

    .vHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $vGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .vTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .vButtons {
        display: flex;
        margin-left: auto;

        .vCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .vButtonDefault {
          font-weight: normal;
        }
      }
    }

    .vContainer{
      flex: 1 1 auto;
    }
  }
}

:host /deep/ .vLinkedEntrySelector {
  .vContent {
    width: 100%;
    margin: 0 !important;
  }

  .vEntries {
    padding-top: 0;
    min-width: 0;
  }

  div.vEntriesTable {
    height: calc(100vh - 223px);
    overflow-y: auto;

    &.vTagsVisible {
      height: calc(100vh - 264px);
    }
  }

  .vEntriesTableFooter {
    width: 994px;
  }
}
