@import 'app-theme/_variables.scss';


.vFlavours{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	button{
		font-weight: 400;
		height: 32px;
	}
	.vTitle{
		padding-left: 24px;
		color: $vGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.vEntryStatus{
		padding-left: 24px;
		margin-top: 12px;
		margin-bottom: 24px;
		span{
			margin-left: 12px;
		}
		.vStatusNoContent{
			color: $vGrayscale1;
		}
		.vStatusReady{
			color: $vPrimary;
		}
		.vStatusError, .vStatusErrorProcessing{
			color: $vDandger;
		}
        &.vAddingEntry {
            width: calc(100% - 80px);
        }
	}
	.vFlavorStatusError{
		color: $vDandger;
	}
    .vFlavorReplacement {
        position: relative;
        .vRefreshBtn {
            position: absolute;
            right: 10px;
            bottom: 16px;
            font-size: 24px;
            border: none;
            min-width: inherit;
            outline: 0;
            color: $vGrayscale3;
            &:active {
                box-shadow: none;
                transform: rotate(45deg);
            }
            &:hover {
                background-color: #ffffff;
                color: $vPrimary;
            }
        }
    }
	.vTable{
		.vFlavorName{
			font-weight: bold;
		}
		.vConvertedFlavor{
			color: $vGrayscale1;
		}
	}
	.vTooltipHolder{
		position: relative;
	}
	.vFlavorsTableActions {
		width: 100%;
		text-align: center;
	}
}
:host /deep/ .ui-button-icon-right.ui-c.pi-pi-fw.vIcondropdown_arrow_bottom{
	font-size: 11px;
	padding-right: 4px;
}

:host /deep/ p-table {
    .ui-table .ui-table-thead > tr > th {
        border-left: 1px solid $vGrayscale6;
    }
}

@media screen and (max-width: 1310px) {
    .vReplacementButtonsShown {
        bottom: 22px !important;
    }
}
