<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage"
                [bodyScroll]="true">
    <vFileDialog #fileDialog (onFileSelected)="_onFileSelected($event)" [filter]="_uploadFilter"></vFileDialog>
    <div class="vFlavours vOverrideFAIcons" #flavors>
        <p class="vTitle">{{'applications.content.entryDetails.flavours.flavours' | translate}}</p>
        <div class="vEntryStatus"
             [class.vAddingEntry]="!_showActionsView && !((_widgetService.replacementData$ | async)?.tempEntryId && (_vmcPermissions.FEATURE_ENTRY_REPLACEMENT | vNgIfPermitted))"
             *ngIf="!(_widgetService.replacementData$ | async)?.tempEntryId">
            <i class="{{_widgetService.entryStatusClassName}}"></i><span>{{_widgetService.entryStatus}}</span>
        </div>
        <div class="vFlavorReplacement">
            <vFlavorReplaceMediaBtn *ngIf="_showActionsView"
                                    [replaceButtonsLabel]="_replaceButtonsLabel"
                                    [flavors]="(_widgetService.flavors$ | async)"
                                    [entry]="_widgetService.data"></vFlavorReplaceMediaBtn>
            <vFlavorReplaceMediaStatus
                *ngIf="(_widgetService.replacementData$ | async)?.tempEntryId && (_vmcPermissions.FEATURE_ENTRY_REPLACEMENT | vNgIfPermitted)"
                [replaceButtonsLabel]="_replaceButtonsLabel"
                [currentEntryId]="_widgetService.currentEntryId"
                [replacementData]="_widgetService.replacementData$ | async"
                [entry]="_widgetService.data">
            </vFlavorReplaceMediaStatus>
            <button pButton class="vButtonDefault vRefreshBtn small" type="text" icon="vIconrefresh"
                    [class.vReplacementButtonsShown]="_showActionsView"
                    (click)="_widgetService.refresh()"></button>
        </div>

        <div class="vTable">
            <p-table
                scrollHeight="100%"
                [value]="_widgetService.selectedFlavors"
                [resizableColumns]="true"
                [scrollable]="true"
                (onColResize)="_columnsResizeManager.onColumnResize($event)">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col data-cid="name" [ngStyle]="{'width': '144px', 'padding-left': '24px'}">
                        <col data-cid="assetId" [hidden]="_documentWidth < 1300" [ngStyle]="{'width': '100px'}">
                        <col data-cid="format">
                        <col data-cid="codec">
                        <col data-cid="bitrate">
                        <col data-cid="dimensions">
                        <col data-cid="size">
                        <col data-cid="stat">
                        <col [hidden]="_documentWidth < 1400 || (_vmcPermissions.FEATURE_VMC_DRILLDOWN_TAGS_COLUMN | vHiddenIfNotPermitted)">
                        <col *ngIf="_vmcPermissions.CONTENT_MANAGE_RECONVERT | vNgIfPermitted"  [ngStyle]="{'width':'80px'}">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th data-cid="name" pResizableColumn
                            [ngStyle]="{'width': '144px', 'padding-left': '24px'}">
                            {{'applications.content.entryDetails.flavours.flavour' | translate}}
                        </th>
                        <th data-cid="assetId" pResizableColumn
                            [ngStyle]="{'width': '100px'}"
                            [hidden]="_documentWidth < 1300">
                            {{'applications.content.entryDetails.flavours.assetId' | translate}}
                        </th>
                        <th data-cid="format" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.format' | translate}}
                        </th>
                        <th data-cid="codec" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.codec' | translate}}
                        </th>
                        <th data-cid="bitrate" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.bitrate' | translate}}
                        </th>
                        <th data-cid="dimensions" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.dimensions' | translate}}
                        </th>
                        <th data-cid="size" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.size' | translate}}
                        </th>
                        <th data-cid="stat" pResizableColumn>
                            {{'applications.content.entryDetails.flavours.stat' | translate}}
                        </th>
                        <th data-cid="tags"
                            [hidden]="_documentWidth < 1400 || (_vmcPermissions.FEATURE_VMC_DRILLDOWN_TAGS_COLUMN | vHiddenIfNotPermitted)">
                            {{'applications.content.entryDetails.flavours.tags' | translate}}
                        </th>
                        <th *ngIf="_vmcPermissions.CONTENT_MANAGE_RECONVERT | vNgIfPermitted" [ngStyle]="{'width':'80px'}"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-flavor>
                    <tr [pSelectableRow]="flavor">
                        <td [ngStyle]="{'padding-left': '24px'}"class="ui-resizable-column">
                            <span class="vFlavorName vTableColumn"
                                  [class.vConvertedFlavor]="flavor.status === '2'">{{flavor.name}}</span>
                        </td>
                        <td class="ui-resizable-column" [hidden]="_documentWidth < 1300">
                            <span class="vTableColumn" [vTooltip]="flavor.id" [showOnEllipsis]="true">{{flavor.id}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.format" [showOnEllipsis]="true">{{flavor.format}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.codec" [showOnEllipsis]="true">{{flavor.codec}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.bitrate" [showOnEllipsis]="true">{{flavor.bitrate}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.dimensions" [showOnEllipsis]="true">{{flavor.dimensions}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.size" [showOnEllipsis]="true">{{flavor.size}}</span>
                        </td>
                        <td class="ui-resizable-column">
                            <span class="vTableColumn" [vTooltip]="flavor.statusTooltip" [class.vFlavorStatusError]="flavor.status === '-1'">{{flavor.statusLabel}}</span>
                        </td>
                        <td [hidden]="_documentWidth < 1400 || (_vmcPermissions.FEATURE_VMC_DRILLDOWN_TAGS_COLUMN | vHiddenIfNotPermitted)">
                            <span class="vTableColumn" [vTooltip]="flavor.tags | tags" [showOnEllipsis]="true">{{flavor.tags | tags}}</span>
                        </td>
                        <td>
                            <div
                                *ngIf="_widgetService.showFlavorActions && flavor.status !== '1' && flavor.status !== '6' && flavor.status !== '7' && flavor.status !== '8' && flavor.status !== '0'"
                                class="vFlavorsTableActions">
                                <button type="button" class="vMoreActionsButton" pButton icon="vIconmore"
                                        (click)="openActionsMenu($event, flavor)"></button>
                            </div>
                            <div
                                *ngIf="flavor.status === '1' || flavor.status === '6' || flavor.status === '7' || flavor.status === '8' || flavor.status === '0'"
                                style="position: relative">
                                <div class="v-spinner-background">
                                    <div class="v-spinner-animation"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-menu #actionsmenu [popup]="true" [model]="_actions" [appendTo]="'body'" vMenuCloseOnScroll></p-menu>

    <vPopupWidget #drmPopup data-aid="drmPopup" [popupWidth]="550" [popupHeight]="440" [modal]="true">
        <vDRMDetails [currentFlavor]="_selectedFlavor"></vDRMDetails>
    </vPopupWidget>

    <vPopupWidget #previewPopup data-aid="previewPopup" [popupWidth]="500" [modal]="true" [preventPageScroll]="true">
        <vFlavorPreview [currentFlavor]="_selectedFlavor" [parentPopupWidget]="previewPopup"
                        [currentEntry]="_widgetService.data"></vFlavorPreview>
    </vPopupWidget>

    <vPopupWidget #importPopup data-aid="importPopup" [popupWidth]="500" [popupHeight]="260" [modal]="true" [preventPageScroll]="true">
        <vFlavorImport [currentFlavor]="_selectedFlavor" [parentPopupWidget]="importPopup"></vFlavorImport>
    </vPopupWidget>

    <vPopupWidget #linkPopup data-aid="linkPopup" [popupWidth]="791" [popupHeight]="460" [modal]="true" [preventPageScroll]="true">
        <ng-template>
            <vFlavorLink [flavor]="_selectedFlavor"
                         [storageProfile]="_widgetService.storageProfile"
                         [conversionProfileAsset]="_widgetService.conversionProfileAsset"
                         [parentPopupWidget]="linkPopup"></vFlavorLink>
        </ng-template>
    </vPopupWidget>

    <vPopupWidget #matchDropFolder data-aid="matchDropFolder" [popupWidth]="791" [popupHeight]="486" [modal]="true" [preventPageScroll]="true">
        <ng-template>
            <vReplaceMatchDropFolder [entry]="_widgetService.data" [flavor]="_selectedFlavor"
                                     [parentPopupWidget]="matchDropFolder"></vReplaceMatchDropFolder>
        </ng-template>
    </vPopupWidget>

</v-area-blocker>
