@import 'app-theme/_variables.scss';

.vContainer {
  background-color: white;
  box-sizing: border-box;
  padding: 28px 28px 28px 30px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  .vTitle {
    color: $vGrayscale1;
    padding-bottom: 32px;
    width: 100%;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    flex: 0 0 auto;
    .vHelp {
      /deep/ {
        .vInputHelper {
          vertical-align: top;
          line-height: 15px;
        }
      }
    }
  }

  .vExplanation {
    color: $vGrayscale1;
    font-family: Lato;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 20px;
    flex: 0 0 auto;
  }

  .vEntitlementReforcement{
    display: flex;
    padding-bottom: 32px;
    flex: 0 0 auto;

    .vApiDefault{
      flex: 0 0 auto;
      padding-right: 10px;
      font-weight: bold;
    }

    .vEntitlementEnforcement{
      flex: 1 1 auto;
    }
  }

  .vAddEntitlement{
    padding-bottom: 16px;
    flex: 0 0 auto;

    button {
      font-weight: bold;
      height: 34px;
      font-size: 14px;
    }
  }

  .vEntitlementsHolder{
    flex: 1 1 auto;
    overflow-y: auto;
    padding-right: 5px;
  }

  .vRow {
    padding-bottom: 20px;
    display: flex;
    font-size: 15px;
    .vLabel {
      flex: 0 0 auto;
      color: $vGrayscale1;
      font-weight: bold;
      width: 200px;
      word-wrap: break-word;
    }

    .vControl {
      padding-left: 30px;
      flex: 1 1 auto;
      color: $vGrayscale1;
    }
  }

}
:host {
  height: 100%;
}
