<v-area-blocker [showLoader]="_isBusy"
                [message]="_blockerMessage">
  <div class="vContainer">
    <div class="vTitle">
      <span>{{'applications.settings.integrationSettings.entitlement.title' | translate}}</span>
      <vInputHelper class="vHelp" trigger="click">
        <span>{{'applications.settings.integrationSettings.accountInfo.helpText' | translate}}</span>
        <a *ngIf="_manageHelpLinkExists" (click)="openLink()">{{'applications.settings.integrationSettings.accountInfo.readMore' | translate}}</a>
      </vInputHelper>
    </div>
    <div class="vExplanation">{{'applications.settings.integrationSettings.entitlement.explanation' | translate}}</div>
    <div class="vEntitlementReforcement">
      <div class="vApiDefault">{{'applications.settings.integrationSettings.entitlement.apiDefault' | translate}}</div>
      <div class="vEntitlementEnforcement">
        <span *ngIf="_partnerDefaultEntitlementEnforcement">
          {{'applications.settings.integrationSettings.entitlement.entitlementEnforcementEnabled' | translate}}
        </span>
        <span *ngIf="!_partnerDefaultEntitlementEnforcement">
          {{'applications.settings.integrationSettings.entitlement.entitlementEnforcementDisabled' | translate}}
        </span>
      </div>
    </div>
    <div class="vAddEntitlement">
            <button type="button" class="vButtonDefault" (click)="_addEntitlement()" pButton
                    [disabled]="_vmcPermissions.INTEGRATION_UPDATE_SETTINGS | vDisabledIfNotPermitted"
                  label="{{'applications.settings.integrationSettings.entitlement.addEntitlement.buttonText' | translate}}"></button>
    </div>
    <div class="vEntitlementsHolder">
      <vEntitlementsTable
        [entitlements]="_entitlements"
        (onActionSelected)="_onActionSelected($event)">
      </vEntitlementsTable>
    </div>
  </div>
</v-area-blocker>

<vPopupWidget #addNewEntitlement data-aid="addNewEntitlement" [popupWidth]="586" [popupHeight]="680" [modal]="true" [preventPageScroll]="true" [closeOnClickOutside]="false">
<ng-template>
  <vNewEntitlement (onApply)="_loadEntitlementSectionData()" [parentPopupWidget]="addNewEntitlement"></vNewEntitlement>
</ng-template>
</vPopupWidget>


<vPopupWidget #editEntitlementPopup data-aid="editEntitlement" [popupWidth]="586" [popupHeight]="323" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <vEditEntitlement (onEntitlementUpdated)="_loadEntitlementSectionData()"
                      [entitlement]="_currentEditEntitlement"
                      [ownerPopup]="editEntitlementPopup">
    </vEditEntitlement>
  </ng-template>
</vPopupWidget>
