<v-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy" [bodyScroll]="true">
  <div class="vFeeds vOverrideFAIcons">
    <div #feedsTableHolder class="vFeedsHolder vContent">
      <vSticky stickyId="feedsListFilters" [scrollOffset]="80"
               [sticksTo]="'header'">
        <div class="vFeedsTableFilters">
          <button pButton type="button" class="vButtonBranded vAddFeedBtn"
                  [label]="'applications.content.syndication.addFeed' | translate"
                  [class.vHidden]="_selectedFeeds?.length"
                  [disabled]="_vmcPermissions.SYNDICATION_ADD | vDisabledIfNotPermitted"
                  (click)="_addNewFeed()"></button>
          <span class="vSelectedFeedsNum" *ngIf="_feedsTotalCount">
             {{'applications.content.syndication.feeds' | translate: {'0': _feedsTotalCount} }}
          </span>

          <!--Bulk selection-->
          <div [class.vHidden]="!_selectedFeeds?.length" class="vBulkOperations">
            <span class="vSelectedFeedsLabel">• {{'applications.content.syndication.selected' | translate:{'0': _selectedFeeds?.length} }}</span>
            <button pButton icon="vIcontrash" class="vButtonDanger vBulkDeleteBtn"
                    [disabled]="_vmcPermissions.SYNDICATION_DELETE | vDisabledIfNotPermitted"
                    (click)="_deleteSelectedFeeds()"></button>

            <a class="vBulkCancel" (click)="_clearSelection()">
              {{'app.common.cancel' | translate}}
            </a>
          </div>
        </div>
      </vSticky>

      <v-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
        <vFeedsTable class="vFeedsTable"
                     [feeds]="(_feedsService.feeds.data$ | async)?.items"
                     [sortField]="_query.sortBy"
                     [sortOrder]="_query.sortDirection"
                     (sortChanged)="_onSortChanged($event)"
                     (actionSelected)="_onActionSelected($event)"
                     [(selectedFeeds)]="_selectedFeeds"
                     [playlists]="_playlists"
                     (onEditFeed)="_onActionSelected({action: 'edit', feed: $event})">
        </vFeedsTable>
      </v-area-blocker>
      <div class="vFeedsTableFooter vContent" #footer *ngIf="_feedsTotalCount">
        <p-paginator [rows]="_query.pageSize" (onPageChange)="_onPaginationChanged($event)"
                     [first]="_query.pageIndex * _query.pageSize"
                     [totalRecords]="_feedsTotalCount"
                     [rowsPerPageOptions]="[25,50,100,250]"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</v-area-blocker>

<vPopupWidget #feedDetails data-aid="feedDetails" [popupWidth]="995" [slider]="true" (onClose)="_resetPlaylists()">
  <ng-template>
    <vFeedDetails [parentPopupWidget]="feedDetails"
                  [feed]="_currentEditFeed"
                  [playlists]="_playlists"
                  [loadingPlaylists]="_loadingPlaylists"
                  (searchPlaylists)="_onSearchPlaylists($event)"></vFeedDetails>
  </ng-template>
</vPopupWidget>

