@import 'app-theme/_variables.scss';

.vMetadataWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1 1 auto;
}

.vMetadataDetails {
  padding: 26px 20px 20px 20px;
  width: 100%;
  position: relative;

  .vSchemaTitle {
    color: $vGrayscale1;
    font-size: 18px;
    font-weight: bold;
  }

  /deep/ {

    .vRow {
      display: flex;
      padding-top: 22px;

      .vLabel {
        width: 196px;
        flex: 0 0 auto;
        word-wrap: break-word;
        padding-right: 12px;
      }


      input {
        width: 100%;
        max-width: 500px;
        height: 34px;
      }

      textarea {
        width: 100%;
        max-width: 500px;
        height: 76px;
      }

        vmultiselect{
            max-width: 500px;
            display: block;
        }

      .vControl, v-prime-control {
        width: 100%;
      }
    }
  }

  .vValign {
    align-items: center;
  }

  .extraPadding {
    padding-bottom: 21px;
  }

}

:host /deep/ {
  .vControl, v-prime-control {
    width:100%;
    max-width: 500px;
    .vHasError {
      border: 1px solid $vDandger;
      background: initial;
    }
  }
}

:host /deep/ vautocomplete {
  .ui-state-disabled {
    background-color: $vGrayscale5;
  }

  input {
    height: auto !important;
    width: 100%;
  }
}

:host /deep/ .ui-autocomplete {
  width: 100%;
}
