<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="vMetadataWrap">
    <div class="vMetadataDetails">
      <span class="vSchemaTitle">{{'applications.content.playlistDetails.sections.metadata' | translate}}</span>

      <form [formGroup]="_widgetService.metadataForm" novalidate>
        <div class="vRow vValign">
        <span class="vLabel" >
          {{'applications.content.playlistDetails.metadata.playlistName' | translate}}
        </span>
          <div class="vControl">
            <input #metadataNameInput formControlName="name" pInputText
                    (blur)="_trimNameValue()"
                    [ngClass]="{'vHasError':!_widgetService.metadataForm.controls['name'].valid &&
                   _widgetService.metadataForm.controls['name'].touched}">
            <div *ngIf="_widgetService.metadataForm.controls['name'].touched &&
                 _widgetService.metadataForm.controls['name'].hasError('required')"
                 class="error">
              {{'applications.content.playlistDetails.metadata.nameIsMandatory' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.content.playlistDetails.metadata.description' | translate}}</span>
          <div class="vControl">
            <textarea formControlName="description" pInputTextarea class="threeRows"></textarea>
          </div>
        </div>
        <div class="vRow vValign">
          <span class="vLabel">{{'applications.content.playlistDetails.metadata.tags' | translate}}</span>
          <div class="vControl">
            <vAutoComplete
              formControlName="tags"
              suggestionItemField="item"
              suggestionSelectableField="isSelectable"
              [multiple]="true"
              [limitToSuggestions]="false"
              [minLength]="3"
              [suggestionsProvider]="_tagsProvider"
              (completeMethod)="_searchTags($event)">
            </vAutoComplete>
          </div>
        </div>
      </form>
    </div>
  </div>
</v-area-blocker>
