<v-area-blocker [message]="_sectionBlockerMessage" [showLoader]="_loading">
    <div class="vContent vOverrideFAIcons">
        <span class="vTitle">{{'applications.content.bulkActions.removeViewers' | translate}}</span>
        <div class="vViewers">
            <span class="vLabel">{{'applications.content.bulkActions.removeViewersLabel' | translate}}</span>
            <span *ngIf="!users || !users.length"
                  class="vNoItems">{{'applications.content.bulkActions.noViewersToRemove' | translate}}</span>
            <vAutoComplete *ngIf="users && users.length"
                           readonly="true"
                           [classField]="'__class'"
                           [limitToSuggestions]="false"
                           [multiple]="true"
                           [ngModel]="users"
                           [tooltipResolver]="'__tooltip'"
                           (onUnselect)="_removeUser($event)">
            </vAutoComplete>
        </div>
        <div class="vFooter">
            <button class="vButtonBranded" pButton type="button"
                    [disabled]="usersToRemove.length === 0"
                    [label]="'applications.content.bulkActions.apply' | translate"
                    (click)="_apply()"></button>
        </div>
    </div>
</v-area-blocker>
