<div>
	<form [formGroup]="relatedEditForm" novalidate>
    <div class="vFloater">
      <div class="vHeader">
        <span class="vTitle">{{'applications.content.entryDetails.related.editTitle' | translate}}</span>
      </div>

      <div class="vContainer">
        <div class="vRow">
          <span class="vLabel">{{'applications.content.entryDetails.related.title' | translate}}</span>
          <input formControlName="title" type="text" pInputText/>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.content.entryDetails.related.description' | translate}}</span>
          <textarea formControlName="description" class="threeRows" pInputTextarea></textarea>
        </div>
      </div>

      <div class="vFooter">
        <button type="button" class="vButtonBranded" (click)="_saveAndClose()" pButton label="{{'applications.content.entryDetails.related.done' | translate}}"></button>
      </div>
    </div>
	</form>
</div>
