@import 'app-theme/_variables.scss';

.vRelated{
	position: relative;
	height: 100%;
	button{
		margin-left: 24px;
	}
	.vTitle{
		color: $vGrayscale1;
		font-size: 20px;
		font-weight: 700;
		padding-left: 24px;
	}
	.vTable{
		margin-top: 24px;
	}
	.vRelatedTableActions {
		width: 100%;
		text-align: center;
	}
	.vUploadMonitor{
		display: flex;
		flex-direction: column;
		align-items: center;
		a{
			margin-top: 8px;
		}
	}
	.vError{
		color: $vDandger;
	}
}

:host /deep/ .ui-dropdown.ui-widget{
	width: 120px;
}


:host /deep/ .ui-table-scrollable-body{
	overflow: visible;
}

:host /deep/ .vFileName {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  color: $vGrayscale3;
}
