<v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage" [bodyScroll]="true">
  <div class="vDropFolders vOverrideFAIcons">
    <div class="vDropFoldersHolder vContent">
      <vSticky stickyId="dropFolderFilters" [scrollOffset]="80" [sticksTo]="'header'">
        <div class="vDropFoldersTableFilters vContent">
          <span class="vSelectedDropFoldersNum" *ngIf="(_dropFoldersStore.dropFolders.data$ | async)?.totalCount">
            {{ 'applications.content.uploadControl.files' | translate:[(_dropFoldersStore.dropFolders.data$ | async)?.totalCount] }}
          </span>

          <div [class.vHidden]="!_selectedDropFolders.length" class="vBulkOperations">
            <span class="vSelectedDropFoldersLabel">
              • {{'applications.content.uploadControl.selected' | translate:[_selectedDropFolders.length]}}
            </span>
            <button pButton icon="vIcontrash" class="vButtonDanger vBulkDeleteBtn"
                    (click)="_bulkDelete(_selectedDropFolders)"></button>
            <a class="vBulkCancel" (click)="_clearSelection()">
              {{'applications.content.uploadControl.cancel' | translate}}
            </a>
          </div>
          <div [class.vHidden]="_selectedDropFolders.length" class="vFilters">
            <input type="text" pInputText class="vSearchInput"
                   [(ngModel)]="_query.freeText"
                   (keyup.enter)="_onFreetextChanged()"
                   [placeholder]="'applications.content.dropFolders.search' | translate">
            <div #statusesFilterBtn class="vStatusesFilter vDropdown">
              <i class="vIconfilter"></i>
              <span>{{'applications.content.dropFolders.allStatuses' | translate}}</span>
              <i class="vIcondropdown_arrow_bottom dropdown"></i>
            </div>
          </div>
          <button pButton
                  class="vButtonDefault vRefreshBtn small"
                  type="text"
                  (click)="_reload()"
                  icon="vIconrefresh"
                  [vTooltip]="'applications.content.dropFolders.refresh' | translate"></button>
        </div>
      </vSticky>

      <vSticky #tags [stickyClass]="'vStickyClass'" stickyId="dropFoldersTags" [sticksTo]="'dropFolderFilters'">
        <div class="vContent">
          <v-drop-folders-tags   [refineFilters]="_refineFilters"
                                 (onTagsChange)="_onTagsChange()"></v-drop-folders-tags>
        </div>
      </vSticky>


      <v-area-blocker [showLoader]="_tableIsBusy"
                      [message]="_tableBlockerMessage"
                      [bodyScroll]="true">
      <vDropFoldersListTable
        class="vDropFoldersTable"
        [dropFolders]="(_dropFoldersStore.dropFolders.data$ | async)?.items"
        (navigateToEntry)="_navigateToEntry($event)"
        (sortChanged)="_onSortChanged($event)"
        (deleteDropFolderFiles)="_deleteDropFolderFiles($event)"
        [(selectedDropFolders)]="_selectedDropFolders"></vDropFoldersListTable>
      </v-area-blocker>

      <div class="vDropFoldersTableFooter vContent" #footer
           *ngIf="(_dropFoldersStore.dropFolders.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_query.pageSize"
          [first]="_query.pageIndex * _query.pageSize"
          [rowsPerPageOptions]="[25,50,100,250]"
          [totalRecords]="(_dropFoldersStore.dropFolders.data$ | async)?.totalCount"
          (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</v-area-blocker>

<!-- popup widgets section -->
<vPopupWidget #refinePopup
              data-aid="dropFoldersRefinePopup"
              placement="top"
              [popupWidth]="400"
              [popupHeight]="400"
              [closeBtn]="false"
              [targetRef]="statusesFilterBtn"
              [targetOffset]="{'x':-215, 'y': -15}"
              vSticky [sticksTo]="'header'" [stickyClass]="'vForceFix'" [stickyId]="'statusesFilterPopup'"
              [scrollOffset]="80">
  <ng-template>
    <v-drop-folders-refine-filters   [refineFilters]="_refineFilters"
                                     [parentPopupWidget]="refinePopup"></v-drop-folders-refine-filters>
  </ng-template>
</vPopupWidget>
