<div class="vDRMDetails vOverrideFAIcons">
  <div class="vHeader">
    <span class="vTitle">{{'applications.content.entryDetails.flavours.drm.header' | translate}}</span>
  </div>

  <div class="vContainer">
    <span class="vName">{{currentFlavor?.name}}</span>
    <div class="vRow">
      <span class="vLabel">{{'applications.content.entryDetails.flavours.drm.assetId' | translate}}</span>
      <span>{{currentFlavor?.drm.id}}</span>
    </div>
    <div class="vRow">
      <span class="vLabel">{{'applications.content.entryDetails.flavours.drm.start' | translate}}</span>
      <span *ngIf="currentFlavor && currentFlavor.drm.startTime">{{currentFlavor?.drm.startTime | vmcDate }}</span>
      <span *ngIf="currentFlavor && !currentFlavor.drm.startTime">{{'applications.content.entryDetails.flavours.drm.na' | translate}}</span>
    </div>
    <div class="vRow">
      <span class="vLabel">{{'applications.content.entryDetails.flavours.drm.end' | translate}}</span>
      <span *ngIf="currentFlavor && currentFlavor.drm.endTime">{{currentFlavor?.drm.endTime  | vmcDate}}</span>
      <span *ngIf="currentFlavor && !currentFlavor.drm.endTime">{{'applications.content.entryDetails.flavours.drm.na' | translate}}</span>
    </div>
    <span>{{'applications.content.entryDetails.flavours.drm.mbr' | translate}}</span>
    <div class="vSources">
      <span class="vRow" *ngFor="let source of currentFlavor?.drm.flavorSources">{{source}}</span>
    </div>
  </div>

</div>
