@import 'app-theme/_variables.scss';

.vDRMDetails{
  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .vContainer{
    margin: 12px;
    height: 70px;
  }
  .vName{
    font-weight: 700;
    margin-bottom: 30px;
    display: block;
  }
	.vRow{
		display: flex;
		margin-bottom: 12px;
		flex-direction: row;
		align-items: center;
		.vLabel{
			width: 350px;
		}
	}
	.vSources{
		background-color: $vGrayscale6;
		border: 1px solid white;
		border-radius: 3px;
    box-sizing: border-box;
		height: 150px;
		margin-top: 6px;
		margin-bottom: 12px;
		padding: 8px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}

