<v-area-blocker [message]="_sectionBlockerMessage" [showLoader]="_loading">
    <div class="vContent vOverrideFAIcons">
        <span class="vTitle">{{'applications.content.bulkActions.addViewers' | translate}}</span>
        <div class="vViewers">
            <span class="vLabel">{{'applications.content.bulkActions.addViewersLabel' | translate}}</span>
            <vAutoComplete field="screenName"
                           suggestionItemField="item"
                           suggestionLabelField="name"
                           suggestionSelectableField="isSelectable"
                           [classField]="'__class'"
                           [limitToSuggestions]="false"
                           [minLength]="3"
                           [multiple]="true"
                           [onItemAdding]="_convertUserInputToValidValue"
                           [suggestionsProvider]="_usersProvider"
                           [tooltipResolver]="'__tooltip'"
                           (completeMethod)="_searchUsers($event)"
                           [(ngModel)]="users">
            </vAutoComplete>
        </div>
        <div class="vFooter">
            <button class="vButtonBranded" pButton type="button"
                    [label]="'applications.content.bulkActions.apply' | translate"
                    (click)="_apply()"></button>
        </div>
    </div>
</v-area-blocker>
