<div class="vReplaceMediaButtonsLabel">{{replaceButtonsLabel}}</div>

<button *ngIf="_uploadEnabled"
        pButton class="vFlavorReplaceButton vButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.uploadFromDesktop' | translate"
        (click)="_openReplacementMenu('upload')"></button>

<button *ngIf="_importEnabled"
        pButton class="vFlavorReplaceButton vButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.importFromUrl' | translate"
        (click)="_openReplacementMenu('import')"></button>

<button *ngIf="_linkEnabled"
        pButton class="vFlavorReplaceButton vButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.linkRemoteStorage' | translate"
        (click)="_openReplacementMenu('link')"></button>

<button *ngIf="_matchEnabled"
        pButton class="vFlavorReplaceButton vButtonDefault"
        [label]="'applications.content.entryDetails.flavours.replaceVideo.matchFromDropFolder' | translate"
        (click)="matchDropFolder.open()"></button>

<vPopupWidget #uploadMenu data-aid="uploadMenu" [popupWidth]="791" [popupHeight]="607" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <vFlavorReplaceFile [entry]="entry"
                            [flavors]="flavors"
                            [parentPopupWidget]="uploadMenu"
                            [replaceType]="_replaceType"></vFlavorReplaceFile>
    </ng-template>
</vPopupWidget>

<vPopupWidget #matchDropFolder data-aid="matchDropFolder" [popupWidth]="791" [popupHeight]="560" [modal]="true" [preventPageScroll]="true">
    <ng-template>
        <vReplaceMatchDropFolder [entry]="entry"
                                 [parentPopupWidget]="matchDropFolder"></vReplaceMatchDropFolder>
    </ng-template>
</vPopupWidget>
