@import 'app-theme/_variables.scss';

.vFieldsTable {
  background-color: white;
  height: auto;
  padding: 0;

  .vTitle {
    color: $vGrayscale1;
    font-weight: 700;
    cursor: pointer;
    max-height: 45px;
    &:hover {
      color: #000000;
    }
    &.vProfileDisabled {
      color: $vGrayscale4;
      cursor: text;
    }
  }

  .vTypeIcon {
    font-size: 24px;
    color: $vGrayscale3;
    vertical-align: middle;
  }

  .vFieldNameWrap {
    display: flex;
    align-items: center;

    .vMediaTypeIcon {
      font-size: 26px;
      margin-right: 23px;
    }
  }

  .vFieldsTableActions {
    display: none;
    align-content: center;
    justify-content: center;
    color: $vGrayscale1;

    i {
      margin-right: 10px;
      font-size: 22px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.vActionDisabled {
        color: $vGrayscale3;
        cursor: text;
      }

      &.vActionMoveDown {
        transform: rotate(180deg);
      }

      &.vActionDelete {
        color: $vDandger
      }
    }
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .vFieldsTable {
  tr.vProfileDisabled .ui-cell-data {
    color: $vGrayscale4;
  }

  tr:hover .vFieldsTableActions {
    display: flex !important;
  }

  p-table {
    .ui-table-scrollable-body {
      margin-bottom: 34px;
      height: calc(100vh - 521px) !important;
    }

    .ui-table-scrollable-table-wrapper {
      height: calc(100vh - 521px);
    }

    .stickyHeader {
      z-index: 10;
      display: table;
    }
  }
}
