<div class="vFieldsTable" [class.noResults]="!fields?.length">
    <p-table
        scrollHeight="100%"
        dataKey="id"
        [scrollable]="true"
        [value]="_fields"
        [rowTrackBy]="rowTrackBy"
        (selectionChange)="_onSelectionChange($event)"
        [(selection)]="selectedFields">
        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'width':'50px'}"></th>
                <th>
                    {{'applications.settings.metadata.table.fieldLabel' | translate}}
                </th>
                <th [ngStyle]="{'width':'115px'}">
                    {{'applications.settings.metadata.table.fieldType' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.systemName' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.shortDescription' | translate}}
                </th>
                <th>
                    {{'applications.settings.metadata.table.description' | translate}}
                </th>
                <th [ngStyle]="{'width':'90px'}">
                    {{'applications.settings.metadata.table.maxValues' | translate}}
                </th>
                <th [ngStyle]="{'width':'90px'}">
                    {{'applications.settings.metadata.table.searchable' | translate}}
                </th>
                <th *ngIf="(isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_ADD | vNgIfPermitted)) || (!isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vNgIfPermitted))"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-field let-i="rowIndex">
            <tr [pSelectableRow]="field">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="field"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'width':'50px'}">
                    <i class="vTypeIcon" [ngClass]="field.type | vCustomSchemaTypePipe:'icon'"></i>
                </td>
                <td>
                    <div class="vTitle vTableColumn"
                         [vTooltip]="field.key"
                         (click)="_editField(field)">
                        {{field.key}}
                    </div>
                </td>
                <td [ngStyle]="{'width':'115px'}">{{field.type | vCustomSchemaTypePipe:'label'}}</td>
                <td>{{field.name}}</td>
                <td>{{field.description}}</td>
                <td>{{field.documentations}}</td>
                <td [ngStyle]="{'width':'90px'}">
                    {{field.allowMultiple ? ('applications.settings.metadata.unlimited' | translate) : '1'}}
                </td>
                <td [ngStyle]="{'width':'90px'}">
                    {{(field.isSearchable ? 'app.common.yes' : 'app.common.no') | translate}}
                </td>
                <td *ngIf="(isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_ADD | vNgIfPermitted)) || (!isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vNgIfPermitted))">
                    <span class="vFieldsTableActions">
                        <i class="vIconarrow_up vActionMoveDown"
                           *ngIf="_fields.length > 1"
                           [vTooltip]="'applications.settings.metadata.table.moveDown' | translate"
                           [class.vActionDisabled]="i + 1 === _fields?.length"
                           (click)="i + 1 !== _fields?.length && _moveField(field, 'down')"></i>

                        <i class="vIconarrow_up"
                           *ngIf="_fields.length > 1"
                           [vTooltip]="'applications.settings.metadata.table.moveUp' | translate"
                           [class.vActionDisabled]="i === 0"
                           (click)="i !== 0 && _moveField(field, 'up')"></i>

                        <i class="vIconremove vActionDelete"
                           [vTooltip]="'applications.settings.metadata.table.remove' | translate"
                           (click)="_removeField(field)"></i>
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{'applications.content.table.noResults' | translate}}</div>
        </ng-template>
    </p-table>
</div>
