<v-area-blocker [showLoader]="_isLoading"
                [message]="_blockerMessage">
    <div class="vUploadSettings">
        <div class="vHeader">
            <h1>{{_title}}</h1>
        </div>
        <div class="vContent">
            <form [formGroup]="_profileForm" class="vProfile">
                <span>{{ 'applications.content.entryDetails.flavours.replaceVideo.transcodingProfile' | translate }}</span>
                <p-dropdown class="vTranscodingProfile"
                            [options]="_transcodingProfilesOptions"
                            [autoWidth]="false"
                            [placeholder]="'applications.content.entryDetails.flavours.replaceVideo.profilePlaceholder' | translate"
                            [formControl]="_transcodingProfileField"
                            (onChange)="_updateFlavorsOption(); _updateStorageProfile()">
                    <ng-template let-profile pTemplate="item">
                        <span class="vTranscodingProfileItem" [vTooltip]="profile.label">{{profile.label}}</span>
                    </ng-template>
                </p-dropdown>

                <vInputHelper *ngIf="replaceType === 'link'" class="vHelp" icon="vIconlife_donut" trigger="click"
                              [title]="'applications.content.entryDetails.flavours.replaceVideo.storageProfile.noteTitle' | translate">
                    <span>{{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.note' | translate}}</span>
                </vInputHelper>

                <button
                    *ngIf="_files?.length === 0 || (_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted)"
                    type="button"
                    class="vButtonDefault vAddFileButton"
                    pButton icon="vIconplus"
                    [label]="'applications.content.entryDetails.flavours.replaceVideo.addFileBtn' | translate"
                    (click)="_addFile()"></button>
            </form>

            <div *ngIf="replaceType === 'link'" class="vStorageProfile">
                <div class="vStorageProfileMetadata">
                    <span class="vStorageProfileMetadataTitle">
                        {{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.name' | translate}}
                    </span>
                    {{_selectedStorageProfile?.name}}
                    <span class="vDelimiter"></span>
                </div>
                <div class="vStorageProfileMetadata">
                    <span class="vStorageProfileMetadataTitle">
                        {{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.id' | translate}}
                    </span>
                    {{_selectedStorageProfile?.displayId}}
                    <span class="vDelimiter"></span>
                </div>
                <div class="vStorageProfileMetadata">
                    <span class="vStorageProfileMetadataTitle">
                        {{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.url' | translate}}
                    </span>
                    {{_selectedStorageProfile?.url}}
                </div>
                <br>
                <div class="vStorageProfileMetadata">
                    <span class="vStorageProfileMetadataTitle">
                        {{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.directory' | translate}}
                    </span>
                    {{_selectedStorageProfile?.directory}}
                </div>
            </div>

            <div class="vTable" [class.vLink]="replaceType === 'link'" [class.empty]="_files.length === 0">
                <p-table scrollHeight="100%" [value]="_files" [scrollable]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [ngStyle]="{'width': '28px'}"></th>
                            <th *ngIf="replaceType === 'upload'" class="vFileNameCol">
                                {{'applications.content.entryDetails.flavours.replaceVideo.fileName' | translate}}
                            </th>
                            <th *ngIf="replaceType === 'import'">
                                {{'applications.content.entryDetails.flavours.replaceVideo.fileUrl' | translate}}
                            </th>
                            <th *ngIf="replaceType === 'link'">
                                {{'applications.content.entryDetails.flavours.replaceVideo.link' | translate}}
                            </th>
                            <th [ngStyle]="{'width': '210px', 'overflow':'visible'}"
                                *ngIf="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted">
                                {{'applications.content.entryDetails.flavours.replaceVideo.flavor' | translate}}
                            </th>
                            <th [ngStyle]="{'width': '100px'}" *ngIf="replaceType === 'upload'">
                                {{'applications.content.entryDetails.flavours.replaceVideo.size' | translate}}
                            </th>
                            <th [ngStyle]="{'width': '40px', 'text-align': 'center'}"></th>
                            <th [ngStyle]="{'width': '45px', 'text-align': 'center'}"
                                *ngIf="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted"></th>
                            <th [ngStyle]="{'width': '28px'}"></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-file>
                        <tr>
                            <td [ngStyle]="{'width': '28px'}"></td>
                            <td *ngIf="replaceType === 'upload'" class="vFileNameCol">
                                <span class="vFileName vTableColumn" [vTooltip]="file.name">{{file.name}}</span>
                            </td>
                            <td *ngIf="replaceType === 'import'">
                                <input pInputText type="text"
                                       class="vReplaceUrl"
                                       [class.vHasError]="file.hasError"
                                       [(ngModel)]="file.url">
                            </td>
                            <td *ngIf="replaceType === 'link'">
                                <input pInputText type="text"
                                       class="vReplaceUrl"
                                       [class.vHasError]="file.hasError"
                                       [(ngModel)]="file.url">
                            </td>
                            <td [ngStyle]="{'width': '210px', 'overflow':'visible'}"
                                *ngIf="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted">
                                <p-dropdown class="vTranscodingProfile"
                                            [options]="_flavorOptions"
                                            [class.vHasError]="file.errorToken === 'applications.upload.validation.selectFlavor'"
                                            [autoWidth]="false"
                                            [disabled]="_flavorsFieldDisabled"
                                            appendTo="body"
                                            vDropdownCloseOnScroll
                                            [scrollTarget]="_tableScrollableWrapper"
                                            [(ngModel)]="file.flavor"
                                            (onChange)="_updateFileValidityOnTypeChange(file)"
                                            [placeholder]="'applications.content.entryDetails.flavours.replaceVideo.select' | translate">
                                    <ng-template let-profile pTemplate="item">
                                        <span class="vTranscodingProfileItem" [vTooltip]="profile.label">{{profile.label}}</span>
                                    </ng-template>
                                </p-dropdown>
                            </td>
                            <td [ngStyle]="{'width': '100px'}" *ngIf="replaceType === 'upload'">
                                {{file.size | vFileSize}}
                            </td>
                            <td [ngStyle]="{'width': '40px', 'text-align': 'center'}">
                                <i *ngIf="file.hasError"
                                   class="vIconerror vIconError"
                                   [vTooltip]="file.errorToken | translate"
                                   placement="top"></i>
                            </td>
                            <td [ngStyle]="{'width': '45px', 'text-align': 'center'}"
                                *ngIf="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted">
                                <i class="vIcontrash vIconRemoveFile"
                                   [vTooltip]="'applications.content.entryDetails.flavours.replaceVideo.remove' | translate"
                                   placement="top"
                                   (click)="_removeFile(file)"></i>
                            </td>
                            <td [ngStyle]="{'width': '28px'}"></td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="_files.length === 0" class="vEmptyMessage">
                    <h1>
                        {{ 'applications.content.entryDetails.flavours.replaceVideo.emptyMessage.title' | translate }}
                    </h1>
                    <p *ngIf="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted">
                        {{ 'applications.content.entryDetails.flavours.replaceVideo.emptyMessage.getStarted' | translate}}
                        <a (click)="_addFile()">
                            {{ 'applications.content.entryDetails.flavours.replaceVideo.emptyMessage.browse' | translate}}
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="vFooter">
            <button class="vButtonDefault vUploadButton"
                    pButton
                    [label]="'applications.content.entryDetails.flavours.replaceVideo.cancel' | translate"
                    (click)="parentPopupWidget?.close()"></button>
            <button class="vButtonBranded vUploadButton"
                    pButton
                    [disabled]="_files.length === 0 || _isLoading || !!_blockerMessage"
                    [label]="_uploadBtnLabel"
                    (click)="_upload()"></button>
        </div>
    </div>
</v-area-blocker>
<vFileDialog #fileDialog
             [filter]="_allowedExtensions"
             [allowMultiple]="_vmcPermissions.FEATURE_MULTI_FLAVOR_INGESTION | vNgIfPermitted"
             (onFileSelected)="_handleSelectedFiles($event)"></vFileDialog>
