@import 'app-theme/_variables.scss';

.vPlaylistRuleWrap {
  .vFloater {
    display: flex;
    flex-direction: column;

    .vHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $vGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .vTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .vButtons {
        display: flex;
        margin-left: auto;

        .vCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .VAddRule {
          width: 100px;
        }

        .vButtonDefault {
          font-weight: normal;
        }
      }
    }

    .vContainer {
      flex: 1 1 auto;

      .vFilters {
        display: flex;
        margin-left: auto;

        .vResultsLimit {
          width: 248px !important;
          margin-right: 16px;
          padding-left: 10px;
          border: 1px solid $vGrayscale4;
          border-radius: 4px;
          display: flex;
          background-color: #ffffff;
          height: 32px;
          align-items: center;
          cursor: pointer;
          color: $vGrayscale1;
          position: relative;
          i {
            margin-right: 12px;
            margin-left: 8px;
            font-size: 24px;
            color: $vGrayscale4;
            &.dropdown {
              font-size: 10px;
            }
          }
          &:hover {
            color: $vPrimary;
            i {
              color: $vPrimary;
            }
            i.vIcondropdown_arrow_bottom.dropdown {
              color: $vGrayscale3;
            }
          }
          .dropdown {
            position: absolute;
            right: 4px;
            top: 12px;
          }
        }

        .vRuleNameInput {
          width: 298px;
          margin-right: 16px;
          padding-left: 10px;

          &.hasError {
            border-color: $vDandger;
          }
        }

        .vRuleNameLabel {
          font-size: 15px;
          font-weight: normal;
          line-height: 32px;
          margin-right: 16px;
        }

        .vOrderBy {
          width: 260px;
          margin-right: 16px;

          p-dropdown {
            width: 100%;
          }
        }
      }
    }
  }
}

.vResultsLimitPopup {
  padding: 29px 16px 24px 16px;

  .vResultsLimitSlider {

  }

  .vResultsLimitPopupFooter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    span {
      color: $vGrayscale3;
    }
  }
}

:host /deep/ .vPlaylistRuleWrap {
  .vEntries {
    min-width: auto;
    padding-top: 0;
  }

  .vContent {
    width: 992px;

    .ui-table-scrollable-body {
      height: calc(100vh - 409px) !important;
    }

    .vTagsVisible .ui-table-scrollable-body {
      height: calc(100vh - 450px) !important;
    }

  }
}

:host /deep/ .vOrderBy .ui-dropdown {
  width: 100%;

  label {
    color: $vGrayscale1;
  }
}
