<v-area-blocker [message]="_blockerMessage">
  <div class="vPlaylistRuleWrap">
    <div class="vFloater">
      <div class="vHeader">
        <span class="vTitle">{{_title}}</span>
        <div class="vButtons">
          <a class="vCancel" (click)="onClosePopupWidget.emit()">{{'app.common.cancel' | translate}}</a>
          <button type="button"
                  class="vButtonBranded VAddRule"
                  pButton
                  [label]="_saveBtnLabel"
                  (click)="_save()"></button>
        </div>
      </div>
      <div class="vContainer">
        <vEntriesList [columns]="_columns" [enforcedFilters]="_enforcedFilters" [showReload]="false">
          <div class="additional-filters vFilters">
            <label for="ruleNameInput" class="vRuleNameLabel">
              {{'applications.content.entries.ruleName' | translate}}
            </label>
            <input type="text"
                   id="ruleNameInput"
                   pInputText
                   class="vRuleNameInput"
                   [class.hasError]="_nameRequiredError"
                   [(ngModel)]="_ruleName"
                   [placeholder]="'applications.content.entries.ruleNamePlaceholder' | translate">
            <div #resultsLimitBtn class="vResultsLimit">
              <span
                *ngIf="_resultsLimit">{{'applications.content.entries.resultsLimit' | translate:[_resultsLimit]}}</span>
              <i class="vIcondropdown_arrow_bottom dropdown"></i>
            </div>
            <div class="vOrderBy">
              <p-dropdown [options]="_orderByOptions"
                          [autoWidth]="false"
                          (onChange)="_onOrderByChange()"
                          [(ngModel)]="_orderBy">
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{'applications.content.entries.orderBy' | translate:[item.label]}}</span>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </vEntriesList>
      </div>
    </div>
  </div>
</v-area-blocker>
<vPopupWidget #resultsLimitPopup
              data-aid="resultsLimitPopup"
              [popupWidth]="260"
              [popupHeight]="101"
              [closeBtn]="false"
              [targetRef]="resultsLimitBtn"
              [targetOffset]="{'x': 0, 'y': 37}"
              vSticky [sticksTo]="'header'" [stickyClass]="'vForceFix'" [stickyId]="'resultsLimitPopup'"
              [scrollOffset]="80"
              (onClose)="_applyResultsLimit()">
  <div class="vResultsLimitPopup">
    <div class="vResultsLimitSlider">
      <vSlider [(ngModel)]="_resultsLimit" [min]="1" [max]="200" [step]="1"></vSlider>
    </div>
    <div class="vResultsLimitPopupFooter">
      <span>{{ 'applications.content.entries.resultsLimitRange' | translate }}</span>
      <a (click)="resultsLimitPopup.close()">{{ 'app.common.apply' | translate }}</a>
    </div>
  </div>
</vPopupWidget>
