@import 'app-theme/_variables.scss';

.vLinkedEntriesTable {
  .vTableColumn {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .vDeletehBtn {
    float: right;
    font-size: 22px;
    border: none;
    min-width: inherit;
    outline: 0;
    color: $vGrayscale3;
    &:active {
      box-shadow: none;
    }
    &:hover {
      background-color: #ffffff;
      color: $vPrimary;
    }
  }

  .vThumbnailHolder {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 46px;
    background-color: $vGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-radius: 3px;
    &.disable {
      cursor: auto;
    }
    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 80px;
      height: auto;
      border-radius: 3px;
    }
  }

  .vHelper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .emptymessage {
    line-height: 60px;
    font-size: 20px;
  }
}

:host /deep/ .vLinkedEntriesTable {
  .ui-table .ui-table-scrollable-body {
    max-height: 284px !important;
  }
}
