$vmc-flags-path: '../../styles/flags/';
@import "../../styles/flags/flags.scss";
@import 'app-theme/_variables.scss';

.vAccessControlProfilesTable {
    background-color: white;
    overflow-y: hidden;
    position: absolute;
    padding: 0;
    .vAccessControlProfileTableName {
        font-weight: bold;
        color: $vGrayscale1;
        cursor: pointer;
        max-width: calc(100% - 10px);
    }
    .vThumbnailHolder {
        overflow: hidden;
        position: relative;
        width: 80px;
        height: 46px;
        background-color: $vGrayscale6;
        white-space: nowrap;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        &.disable {
            cursor: auto;
        }
        img {
            position: absolute;
            left: -100%;
            right: -100%;
            top: -100%;
            bottom: -100%;
            margin: auto;
            width: 80px;
            height: auto;
            border-radius: 3px;
        }
    }
    .vTitle {
        color: $vGrayscale1;
        font-weight: 700;
        cursor: pointer;
        &:hover {
            color: #000000;
        }
        &.disable {
            color: $vGrayscale4;
            cursor: auto;
        }
    }
    .vAccessControlProfilesTableActions {
        width: 100%;
        text-align: center;
    }

    .vAccessControlRestriction {
        span, i {
            vertical-align: middle;
        }

        .vAccessControlRestrictionIcon {
            font-size: 15px;
            margin-right: 10px;

            &.authorized {
                color: $vSuccess;
            }

            &.blocked {
                color: $vDandger;
            }
        }
    }

    .vAccessControlProfilesDetailRow {
        background-color: $vGrayscale6;
        border-left: 4px solid $vGrayscale3;
        font-size: 15px;
        color: $vGrayscale3;
        overflow-y: auto;
        max-height: 195px;
        padding: 12px 0;

        .vNoAdditionalInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            table-layout: fixed;

            tr {
                td {
                    padding: 0;
                    vertical-align: top;

                    .vDescription {
                        word-wrap: break-word;
                    }

                    div {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-bottom: 26px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &.vCountryList {
                        .vCountryListFlag {
                            margin-right: 6px;
                        }
                    }
                }
            }
        }

        .vStub1 {
            width: 42px;
        }

        .vStub2 {
            width: 80px;
        }
    }
}

:host {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    flex-direction: column;
}

:host /deep/ .vAccessControlProfilesTable p-table {
    .ui-table .ui-table-tbody .pi-chevron-circle-down {
        margin-left: 0;
        margin-top: 3px;
    }
    .ui-table .ui-table-tbody .pi-chevron-circle-right {
        margin-top: 3px;
    }

    .ui-table .ui-table-thead > tr > th,
    .ui-table .ui-table-tfoot > tr > td,
    .ui-table .ui-table-tbody > tr > td {
        padding: 0;
    }

    .ui-table-scrollable-body {
        margin-bottom: 34px;
    }
    .stickyHeader {
        z-index: 10;
        display: table;
    }
}
