<div class="vAccessControlProfilesTable" [class.noResults]="!_profiles?.length">
    <p-table vStickyHeader
             dataKey="id"
             scrollHeight="100%"
             sticksTo="profilesFilters"
             stickyClass="stickyHeader"
             stickyId="accessControlProfileTable"
             [scrollable]="true"
             [value]="_profiles"
             [sortField]="filter.sortBy"
             (selectionChange)="_onSelectionChange($event)"
             [defaultSortOrder]="_defaultSortOrder"
             [rowTrackBy]="_rowTrackBy"
             (sortFunction)="_onSortChanged($event)"
             [(selection)]="selectedProfiles">

        <ng-template pTemplate="header">
            <tr>
                <th [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th [ngStyle]="{'width':'44px'}"></th>
                <th>
                    {{'applications.settings.accessControl.table.name' | translate}}
                </th>
                <th [hidden]="_documentWidth < 1300">
                    {{'applications.settings.accessControl.table.id' | translate}}
                </th>
                <th [hidden]="_documentWidth < 1300" [vpSortableColumn]="'createdAt'">
                    {{'applications.settings.accessControl.table.createdOn' | translate}}
                    <p-sortIcon [field]="'createdAt'"></p-sortIcon>
                </th>
                <th>
                    {{'applications.settings.accessControl.table.domains' | translate}}
                </th>
                <th>
                    {{'applications.settings.accessControl.table.countries' | translate}}
                </th>
                <th>
                    {{'applications.settings.accessControl.table.ips' | translate}}
                </th>
                <th>
                    {{'applications.settings.accessControl.table.flavors' | translate}}
                </th>
                <th>
                    {{'applications.settings.accessControl.table.advancedSecurity' | translate}}
                </th>
                <th [ngStyle]="{'overflow':'visible', 'width':'80px'}"></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-profile let-expanded="expanded">
            <tr [pSelectableRow]="profile">
                <td [ngStyle]="{'width':'44px', 'padding-left': '14px'}">
                    <p-tableCheckbox [value]="profile"></p-tableCheckbox>
                </td>
                <td [ngStyle]="{'width':'44px'}">
                    <a [pRowToggler]="profile">
                        <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-pw pi-chevron-circle-right'"
                           style="font-size: 1.25em"></i>
                    </a>
                </td>
                <td>
                    <span class="vAccessControlProfileTableName vTableColumn"
                          [vTooltip]="profile.name"
                          (click)="_onActionSelected('edit', profile)">
                        {{profile.name}}
                    </span>
                </td>
                <td [hidden]="_documentWidth < 1300">{{profile.id}}</td>
                <td [hidden]="_documentWidth < 1300">{{ profile.createdAt | vmcDate:'dateOnly' }}</td>
                <td>
                    <span class="vAccessControlRestriction">
                        <i class="vAccessControlRestrictionIcon" [ngClass]="{
                        'vIconconfirmation authorized': profile.view.domain.isAuthorized === null || profile.view.domain.isAuthorized,
                        'vIconerror blocked': profile.view.domain.isAuthorized !== null && !profile.view.domain.isAuthorized
                        }"></i>
                        <span>{{profile.view.domain.label || ('applications.settings.accessControl.table.allowAll' | translate)}}</span>
                    </span>
                </td>
                <td>
                    <span class="vAccessControlRestriction">
                        <i class="vAccessControlRestrictionIcon" [ngClass]="{
                        'vIconconfirmation authorized': profile.view.countries.isAuthorized === null ||profile.view.countries.isAuthorized,
                        'vIconerror blocked': profile.view.countries.isAuthorized !== null && !profile.view.countries.isAuthorized
                        }"></i>
                        <span>{{profile.view.countries.label || ('applications.settings.accessControl.table.allowAll' | translate)}}</span>
                    </span>
                </td>
                <td>
                    <span class="vAccessControlRestriction">
                        <i class="vAccessControlRestrictionIcon" [ngClass]="{
                        'vIconconfirmation authorized': profile.view.ips.isAuthorized === null ||profile.view.ips.isAuthorized,
                        'vIconerror blocked': profile.view.ips.isAuthorized !== null && !profile.view.ips.isAuthorized
                        }"></i>
                        <span>{{ profile.view.ips.label || ('applications.settings.accessControl.table.allowAll' | translate) }}</span>
                    </span>
                </td>
                <td>
                    <span class="vAccessControlRestriction">
                        <i class="vAccessControlRestrictionIcon" [ngClass]="{
                        'vIconconfirmation authorized': profile.view.flavors.isAuthorized === null ||profile.view.flavors.isAuthorized,
                        'vIconerror blocked': profile.view.flavors.isAuthorized !== null && !profile.view.flavors.isAuthorized
                        }"></i>
                        <span>{{ profile.view.flavors.label || ('applications.settings.accessControl.table.allowAll' | translate) }}</span>
                    </span>
                </td>
                <td>{{profile.view.advancedSecurity.label}}</td>
                <td [ngStyle]="{'overflow':'visible', 'width':'80px'}">
                    <div class="vAccessControlProfilesTableActions">
                        <button type="button" pButton icon="vIconmore" class="vMoreActionsButton"
                                (click)="_openActionsMenu($event, profile)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <div class="emptymessage">{{_emptyMessage}}</div>
        </ng-template>

        <ng-template let-profile pTemplate="rowexpansion">
            <tr>
                <td [attr.colspan]="_documentWidth < 1300 ? 9 : 11">
                    <div class="vAccessControlProfilesDetailRow">
                        <table *ngIf="profile.view.hasAdditionalInfo">
                            <tr *ngIf="profile.view.hasAdditionalInfo">
                                <td class="vStub1"></td>
                                <td class="vStub1"></td>
                                <td [attr.colspan]="_documentWidth < 1300 ? 1 : 3">
                                    <span class="vDescription">{{profile.description}}</span>
                                </td>
                                <td>
                                    <div *ngFor="let domain of profile.view.domain.details" [vTooltip]="domain">
                                        {{domain}}
                                    </div>
                                </td>
                                <td class="vCountryList">
                                    <div *ngFor="let country of profile.view.countries.details"
                                         [vTooltip]="country | vCountryFromCode:'label'">
                                        <i class="vFlag" [ngClass]="country | vCountryFromCode:'icon'"></i>
                                        {{country | vCountryFromCode:'label'}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let ip of profile.view.ips.details" [vTooltip]="ip">{{ip}}</div>
                                </td>
                                <td>
                                    <div *ngFor="let flavor of profile.view.flavors.details" [vTooltip]="flavor.label">
                                        {{flavor.label}}
                                    </div>
                                </td>
                                <td>{{profile.view.advancedSecurity.details.label}}</td>
                                <td class="vStub2"></td>
                            </tr>
                        </table>
                        <div *ngIf="!profile.view.hasAdditionalInfo"
                             class="vNoAdditionalInfo">
                            {{'applications.settings.accessControl.table.noAdditionalInfo' | translate}}
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-menu #actionsmenu [popup]="true" [model]="_items" [appendTo]="'body'" vMenuCloseOnScroll></p-menu>

