@import "app-theme/_variables.scss";

.vTitle{
  color: $vGrayscale1;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid $vGrayscale4;
  height: 78px;
  line-height: 78px;
}
.vContent{
  display: flex;
  flex-direction: column;
  height: 500px;
  .vLabel{
    display: block;
    margin-bottom: 12px;
  }
  .vTag{
    margin-bottom: 12px;
  }
  .vTags{
    padding: 12px;
    height: 330px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .vNoItems {
    text-align: center;
    width: 100%;
    display: block;
  }
}
.vFooter{
  position: absolute;
  bottom: 0px;
  display: flex;
  width: 100%;
  height: 66px;
  border-top: 1px solid $vGrayscale4;
  align-items: center;
  justify-content: center;
}

:host /deep/ .ui-autocomplete {
  width: 100%;
}
