<div class="vContent vOverrideFAIcons">
  <span class="vTitle">{{'applications.content.categories.bActions.changeContributionPolicy' | translate}}</span>
  <div class="vContainer">
      <span
        class="vLabel">{{'applications.content.categories.bActions.changeContributionPolicyLabel' | translate}}</span>
    <div class="vBlock">
      <p-radioButton class="vRadio" [(ngModel)]="_selectedPolicy" [value]="_availablePolicies.all" name="policy"
                     label="{{'applications.content.categories.noRestriction' | translate}}"></p-radioButton>
      <p-radioButton class="vRadio" [(ngModel)]="_selectedPolicy" [value]="_availablePolicies.membersWithContributionPermission"
                     name="policy" label="{{'applications.content.categories.private' | translate}}"></p-radioButton>
    </div>
  </div>
  <div class="vFooter">
    <button type="button" class="vButtonBranded" pButton
            label="{{'app.common.apply' | translate}}"
            [disabled]="_selectedPolicy === null"
            (click)="_apply()"></button>
  </div>
</div>
