<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.bulkActions.addPublishers' | translate}}</span>
    <div class="vPublishers">
      <span class="vLabel">{{'applications.content.bulkActions.addPublishersLabel' | translate}}</span>
      <vAutoComplete [(ngModel)]="users"
                     suggestionItemField="item"
                     suggestionSelectableField="isSelectable"
                     suggestionLabelField="name"
                     field="screenName"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [multiple]="true"
                     [limitToSuggestions]="false"
                     [minLength]="3"
                     [suggestionsProvider]="_usersProvider"
                     [onItemAdding]="_convertUserInputToValidValue"
                     (completeMethod)="_searchUsers($event)">
      </vAutoComplete>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton label="{{'applications.content.bulkActions.apply' | translate}}" (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
