<div class="vCustomSchemaWrap">
  <div class="vFloater">
    <div class="vHeader">
      <span class="vTitle">{{ _title }}</span>
      <div class="vButtons">
        <a class="vCancel" (click)="_cancel()">{{'app.common.cancel' | translate}}</a>
        <button type="button"
                class="vButtonBranded VButtonSave"
                pButton
                [disabled]="!customSchemaForm.isValid || !_isDirty || (!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted))"
                [label]="'app.common.save' | translate"
                (click)="_saveSchema()"></button>
      </div>
    </div>
    <div class="vContainer">
      <div class="vSchemaFormWrapper">
        <vCustomSchemaForm #customSchemaForm [(schema)]="_schema"
                           [serverValidationError]="serverValidationError"
                           (schemaChanges)="_setDirty()"></vCustomSchemaForm>

        <div class="vCustomSchemaTableControls">
          <div *ngIf="_selectedFields.length" class="vBulkControls">
            <button pButton
                    class="vButtonDefault vMoveBtn vMoveBtnTop"
                    [disabled]="!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted)"
                    icon="vIcondropdown_arrow_top"
                    (click)="_bulkMove('up')"></button>

            <button pButton
                    [disabled]="!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted)"
                    [class.vMoveBtnBottomDisabled]="!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted)"
                    class="vButtonDefault vMoveBtn vMoveBtnBottom"
                    icon="vIcondropdown_arrow_bottom"
                    (click)="_bulkMove('down')"></button>

            <button pButton class="vButtonDanger vBulkDeleteBtn"
                    [disabled]="!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted)"
                    icon="vIcontrash"
                    (click)="_bulkRemove()"></button>

            <span class="vSelectedEntriesNum">
              {{ 'applications.settings.metadata.fields' | translate : [_profileFields.length] }}
            </span>

            <div class="vSelected">
              • {{ 'applications.settings.metadata.selected' | translate : [_selectedFields.length] }}
              <a class="vBulkCancel" (click)="_clearSelection()">
                {{'applications.settings.metadata.cancel' | translate}}
              </a>
            </div>
          </div>
          <div *ngIf="!_selectedFields.length" class="vDefaultControls">
            <button
              pButton
              class="vButtonDefault"
              [disabled]="(!_schema?.isNew && (_vmcPermissions.CUSTOM_DATA_PROFILE_UPDATE | vDisabledIfNotPermitted))"
              type="button"
              icon="vIconplus"
              iconPos="left"
              [label]="'applications.settings.metadata.addCustomField' | translate"
              (click)="_editField(null)"></button>

            <button
              pButton
              type="button"
              class="vButtonDefault"
              icon="vIconupload"
              iconPos="left"
              [disabled]="_schema?.isNew || !_schema?.downloadUrl || (_vmcPermissions.CUSTOM_DATA_PROFILE_ADD | vDisabledIfNotPermitted)"
              [label]="'applications.settings.metadata.downloadSchema' | translate"
              (click)="_downloadSchema()"></button>
          </div>
        </div>
      </div>
      <div class="vSchemaTableWrapper">
        <vCustomSchemaFieldsTable [fields]="_profileFields"
                                  [isNew]="_schema?.isNew"
                                  (onActionSelected)="_actionSelected($event)"
                                  [(selectedFields)]="_selectedFields"></vCustomSchemaFieldsTable>
      </div>
    </div>
  </div>
</div>

<vPopupWidget #customSchemaField
              data-aid="customSchemaField"
              [popupWidth]="586"
              [popupHeight]="633"
              [closeBtn]="true"
              [closeOnClickOutside]="false"
              [modal]="true">
  <ng-template>
    <vCustomSchemaFieldForm [field]="_selectedField"
                            [fields]="_profileFields"
                            [parentPopupWidget]="customSchemaField"
                            (onSave)="_saveField($event)"></vCustomSchemaFieldForm>
  </ng-template>
</vPopupWidget>
