@import 'app-theme/_variables.scss';

.vCustomSchemaWrap {
  .vFloater{
    display: flex;
    flex-direction: column;

    .vHeader {
      height: 72px;
      width: 100%;
      padding: 0 32px;
      box-sizing: border-box;
      border-bottom: 1px solid $vGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .vTitle {
        color: #333333;
        font-size: 15px;
      }

      .vButtons {
        display: flex;
        margin-left: auto;

        .VButtonSave {
          height: 34px;
          width: 100px;
        }

        .vCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .vButtonDefault {
          font-weight: normal;
        }
      }
    }

    .vContainer{
      flex: 1 1 auto;

      .vSchemaFormWrapper {
        height: 328px;

        .vCustomSchemaTableControls {
          padding: 0 32px;

          .vHidden {
            margin: 0 !important;
          }

          .vBulkControls {
            display: inline-flex;
            align-items: center;
            font-size: 15px;

            .vSelectedEntriesNum {
              margin: 0 5px 0 20px;
            }

            .vSelected {
              font-weight: bold;
            }

            .vBulkCancel {
              margin-left: 20px;
              color: $vGrayscale1;
              font-weight: normal;
            }

            .vMoveBtn {
              width: 40px;
              height: 34px;
              margin: 0;
            }

            .vMoveBtnTop {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            .vMoveBtnBottom {
              margin: 0 20px 0 -4px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;

                &.vMoveBtnBottomDisabled {
                    margin-left: -1px;
                }
            }

            .vBulkDeleteBtn {
              width: 42px;
              height: 34px;
              font-size: 24px;
            }
          }

          .vDefaultControls {
            button {
              margin-right: 24px;
              /deep/ .ui-button-icon-left{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

:host /deep/ .vCustomSchemaTableControls .vIconupload {
  transform: rotate(180deg);
}

:host /deep/ span.ui-button-icon-left.pi-vIcontrash{
  margin-left: -.5em;
}
