@import 'app-theme/_variables.scss';

.vDistributedProfileErrorInfo {
  width: 338px;
  padding: 16px;
  font-size: 15px;
  line-height: 18px;

  .vInfo {
    white-space: pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vGoToLink {
    margin-top: 14px;
    color: $vTertiary;
    display: block;
  }
}
