<form class="vCustomSchemaForm" [formGroup]="_schemaForm" novalidate>
  <div class="vRow">
    <div class="vLabel">
        {{'applications.settings.metadata.form.customSchemaTitle' | translate}}
        <div class="vRequired" [class.vControlInvalid]="_nameField.touched && _nameField.invalid">*</div>
    </div>

    <div>
      <input class="vControl" pInputText
             [class.vControlInvalid]="_nameField.touched && _nameField.invalid"
             [formControl]="_nameField"
             (blur)="_nameField.setValue((_nameField.value || '').trim())">
        <div class="vErrorMessage" *ngIf="_nameField.touched && _nameField.invalid">
          <span *ngIf="_nameField.hasError('required')">
                {{'applications.settings.metadata.form.schemaNameRequired' | translate}}
            </span>
            <span *ngIf="_nameField.hasError('maxlength')">
                {{'applications.settings.metadata.form.schemaNameMaxLength' | translate:[_nameMaxLength]}}
            </span>
        </div>
    </div>
  </div>

  <div class="vRow">
    <span class="vLabel">{{'applications.settings.metadata.form.description' | translate}}</span>
    <div>
      <textarea class="vControl VTextArea"
                pInputText [formControl]="_descriptionField"></textarea>
    </div>
  </div>

  <div class="vRow">
    <span class="vLabel">{{'applications.settings.metadata.form.systemName' | translate}}</span>
    <div>
      <input class="vControl" pInputText
             [class.vControlInvalid]="_systemNameField.invalid"
             [formControl]="_systemNameField">
    </div>
  </div>

  <div class="vRow applyTo">
    <span class="vLabel">{{'applications.settings.metadata.form.applyTo' | translate}}</span>
    <div class="vSelectApplyTo">
      <p-radioButton class="vRadioLeft"
                     name="applyTo"
                     [value]="_applyToValues.entry"
                     [formControl]="_applyToField"
                     [label]="'applications.settings.metadata.form.entries' | translate"></p-radioButton>
      <p-radioButton class="vRadioRight"
                     name="applyTo"
                     [value]="_applyToValues.category"
                     [formControl]="_applyToField"
                     [label]="'applications.settings.metadata.form.categories' | translate"></p-radioButton>
    </div>
  </div>
</form>
