<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
  <div class="vMetadataWrap">
    <div class="vMetadataDetails">
      <span class="vSchemaTitle">{{'applications.settings.transcoding.sections.metadata' | translate}}</span>

      <form [formGroup]="_widgetService.metadataForm" novalidate>
        <div class="vRow vValign">
          <span class="vLabel">
            {{'applications.settings.transcoding.metadata.name' | translate}}
          </span>
          <div class="vControl">
            <input #metadataNameInput [formControl]="_widgetService.nameField" pInputText
                   [placeholder]="'applications.settings.transcoding.metadata.namePlaceholder' | translate"
                   [ngClass]="{'vHasError':_widgetService.nameField.touched && !_widgetService.nameField.valid}">
            <div *ngIf="_widgetService.nameField.touched && !_widgetService.nameField.valid"
                 class="vHasError">
              {{'applications.settings.transcoding.metadata.nameIsMandatory' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.transcoding.metadata.description' | translate}}</span>
          <div class="vControl">
            <textarea [formControl]="_widgetService.descriptionField" pInputTextarea class="threeRows"
                      [placeholder]="'applications.settings.transcoding.metadata.descriptionPlaceholder' | translate"></textarea>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">
            {{'applications.settings.transcoding.metadata.defaultMetadataSetting' | translate}}
          </span>
          <div class="vControl">
            <input [formControl]="_widgetService.defaultEntryIdField" pInputText
                   [placeholder]="'applications.settings.transcoding.metadata.defaultMetadataSettingPlaceholder' | translate"
                   [ngClass]="{'vHasError':_widgetService.entryNotFoundErrorParams || _widgetService.entryValidationGeneralError}">
            <div *ngIf="_widgetService.entryNotFoundErrorParams"
                 class="vHasError">
              {{'applications.settings.transcoding.entryNotFound' | translate:[_widgetService.entryNotFoundErrorParams]}}
            </div>
            <div *ngIf="_widgetService.entryValidationGeneralError"
                 class="vHasError">
              {{'applications.settings.transcoding.entryValidationGeneralError' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow" *ngIf="!_widgetService.hideStorageProfileIdField">
          <span class="vLabel">
            {{'applications.settings.transcoding.metadata.ingestFromRemoteStorage' | translate}}
          </span>
          <div class="vControl">
            <p-dropdown [options]="_widgetService.remoteStorageProfilesOptions"
                        [formControl]="_widgetService.storageProfileIdField"
                        [autoWidth]="false"></p-dropdown>
          </div>
        </div>
      </form>
    </div>
  </div>
</v-area-blocker>
