<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage">
	<form [formGroup]="_widgetService.usersForm" novalidate>
		<div class="vUsers">
			<p class="vTitle">{{'applications.content.entryDetails.users.users' | translate}}</p>
			<div class="vUsersDetails">
				<div class="vRow">
					<span class="vLabels">{{'applications.content.entryDetails.users.creator' | translate}}</span>
					<span [vTooltip]="_widgetService._creator">{{_widgetService._creator}}</span>
				</div>
				<div class="vRow">
					<span class="vLabels">{{'applications.content.entryDetails.users.owner' | translate}}</span>
					<span [vTooltip]="_widgetService._owner?.screenName ? _widgetService._owner?.screenName : _widgetService._owner?.id">
            {{_widgetService._owner?.screenName ? _widgetService._owner?.screenName : _widgetService._owner?.id}}
          </span>
					<a class="changeOwner"
             *ngIf="_vmcPermissions.CONTENT_MANAGE_ENTRY_USERS | vNgIfPermitted"
             (click)="_openChangeOwner()">{{'applications.content.entryDetails.users.changeOwner' | translate}}</a>
				</div>
				<div class="vRow vSeparator">
					<span class="vLabels">{{'applications.content.entryDetails.users.co-editors' | translate}}</span>
					<vAutoComplete #editorsAutoComplete
								   formControlName="editors"
								   suggestionItemField="item"
								   suggestionLabelField="name"
								   [tooltipResolver]="'__tooltip'"
								   [classField]="'__class'"
								   field="id"
								   [multiple]="true"
								   [onItemAdding]="_convertUserInputToValidValue"
								   [limitToSuggestions]="false"
								   [minLength]="3"
								   suggestionSelectableField="isSelectable"
								   [suggestionsProvider]="_usersProvider"
								   (completeMethod)="_searchUsers($event, 'editors')">
					</vAutoComplete>
				</div>
				<div class="vRow">
					<span class="vLabels">{{'applications.content.entryDetails.users.co-publishers' | translate}}</span>
					<vAutoComplete formControlName="publishers"
								   suggestionItemField="item"
								   suggestionLabelField="name"
								   field="screenName"
								   [multiple]="true"
								   [tooltipResolver]="'__tooltip'"
								   [classField]="'__class'"
								   [onItemAdding]="_convertUserInputToValidValue"
								   [limitToSuggestions]="false"
								   [minLength]="3"
								   suggestionSelectableField="isSelectable"
								   [suggestionsProvider]="_usersProvider"
								   (completeMethod)="_searchUsers($event, 'publishers')">
					</vAutoComplete>
				</div>
                <div class="vRow">
                    <span class="vLabels">{{'applications.content.entryDetails.users.co-viewers' | translate}}</span>
                    <vAutoComplete formControlName="viewers"
                                   suggestionItemField="item"
                                   suggestionLabelField="name"
                                   field="id"
                                   [multiple]="true"
                                   [tooltipResolver]="'__tooltip'"
                                   [classField]="'__class'"
                                   [onItemAdding]="_convertUserInputToValidValue"
                                   [limitToSuggestions]="false"
                                   [minLength]="3"
                                   suggestionSelectableField="isSelectable"
                                   [suggestionsProvider]="_usersProvider"
                                   (completeMethod)="_searchUsers($event, 'viewers')">
                    </vAutoComplete>
                </div>
			</div>
		</div>

		<vPopupWidget #ownerPopup data-aid="ownerPopup" [popupWidth]="550" [popupHeight]="264" [modal]="true">
        <div class="vFloater vOverrideFAIcons">
          <div class="vHeader">
            <span class="vTitle">{{'applications.content.entryDetails.users.changeOwner' | translate}}</span>
          </div>

          <div class="vContainer">
            <span class="vLabel">{{'applications.content.entryDetails.users.changeOwnerText' | translate}}</span>
            <vAutoComplete formControlName="owners"
                           suggestionItemField="item"
                           suggestionLabelField="name"
                           field="screenName"
                           [onItemAdding]="_convertUserInputToValidValue"
                           [multiple]="false"
						   [tooltipResolver]="'__tooltip'"
						   [classField]="'__class'"
                           [limitToSuggestions]="false"
                           placeholder="{{'applications.content.entryDetails.users.changeOwnerPH' | translate}}"
                           [minLength]="3"

                           [suggestionsProvider]="_usersProvider"
                           (onUnselect)="_updateApplyButtonState()"
                           (onSelect)="_updateApplyButtonState()"
                           (completeMethod)="_searchUsers($event)">
            </vAutoComplete>
          </div>

          <div class="vFooter">
            <button type="button" class="vButtonDefault" [disabled]="false" (click)="ownerPopup.close()" pButton label="{{'app.common.cancel' | translate}}"></button>
            <button pButton type="button" class="vButtonBranded"
                    [label]="'applications.content.entryDetails.users.save' | translate"
                    [disabled]="_disableSaveButton"
                    (click)="_saveAndClose()"></button>
          </div>
			</div>

		</vPopupWidget>
	</form>

</v-area-blocker>
