@import 'app-theme/_variables.scss';

form{
	width: 100%;
}

.vUsers {
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
	box-sizing: border-box;
	.vTitle {
		color: $vGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.vUsersDetails{
		padding-right: 12px;
		margin-top: 12px;
		width: 100%;
		box-sizing: border-box;
		.vRow{
			display: flex;
			padding-top: 24px;
			align-items: center;
		}
		.vLabels{
			width: 180px;
			flex: 0 0 auto;
		}
		.changeOwner{
			margin-left: 12px;
		}
		.vSeparator{
			margin-top: 48px;
		}
	}
}

.vFloater{
  display: flex;
  flex-direction: column;
  height: 260px;
  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    flex: 0 0 auto;
    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .vContainer{
    flex: 0 0 auto;
    height: 72px;
    margin: 24px;
    .vLabel{
      display: block;
      margin-bottom: 8px;
    }
  }
  .vFooter{
    flex: 0 0 auto;
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      height: 34px;
      margin-left: 8px;
    }
  }
  /deep/ .ui-autocomplete.ui-widget{
    width: 100%;
    font-size: 15px;

    input{
      width: 100%;
    }

    li.userAdded{
      background-color: transparentize($vPrimary, 0.5) !important;
    }

    ul.ui-autocomplete-multiple-container {
      height: auto;
    }
  }
  /deep/ vAutoComplete{
    margin-top: 4px;
    width: 100%;
    .ui-autocomplete-input-token{
      width: 260px;
    }
  }
}

:host /deep/ .ui-autocomplete.ui-widget{
	width: 100%;
	input{
		width: 100%;
	}
}

:host /deep/ vAutoComplete{
	width: 100%;

  li.userAdded{
    background-color: transparentize($vPrimary, 0.5) !important;
  }

  .ui-state-disabled {
    background-color: $vGrayscale5 !important;
  }
}

/deep/ vPopupWidget .vPopupWidget {
	overflow: visible !important;
}


