<v-area-blocker [showLoader]="_loading">
	<vSticky #playlistSections stickyId="playlistSections" [sticksTo]="'playlistHeader'" [scrollOffset]="120" [stickyClass]="'vStickySections'">
		<div class="vSections">
			<ul *ngIf="_showList">
				<li *ngFor="let section of _sections" [class.active]="section.attached">
					<div (click)="_navigateToSection(section)" [class.vSectionHasErrors]="!section.isValid">
						{{section.label}}
					</div>
				</li>
			</ul>
		</div>
	</vSticky>
</v-area-blocker>
