<div class="vOverrideFAIcons vContainer">
  <div class="vHeader">
    <vAutoComplete
      [disabled]="!_categoriesLoaded"
      inputStyleClass="vSearchCategory"
      #searchCategory
      field="label"
      placeholder="{{'applications.content.filters.findCategory' | translate}}"
      [minLength]="3"
      suggestionSelectableField="isSelectable"
      (onSelect)="_onSuggestionSelected()"
      [suggestionsProvider]="_suggestionsProvider"
      (completeMethod)="_searchSuggestions($event)"
    ></vAutoComplete>
    <i #config class="vIcongear vTreeConfig"
       [vTooltip]="'applications.content.filters.preferences.preferences' | translate"></i>
    <div class="vIdlCategories">
      <span>{{'applications.content.filters.allCategories' | translate | uppercase}} </span>
    </div>
  </div>
  <vScrollToTopContainer class="vTreeContainer">
    <v-categories-tree #categoriesTree
                       [disablePropagation]="selectionMode === _CategoriesModes.Self"
                       [selectedCategories]="selection"
                       (onCategoriesLoaded)="_categoriesLoaded = true"
                       (onCategorySelected)="_onCategorySelected($event)"
                       (onCategoryUnselected)="onCategoriesUnselected.emit([$event])"
                       >
    </v-categories-tree>
  </vScrollToTopContainer>

  <p>
    <a (click)="_clearAll()">{{'applications.content.filters.clearAll' | translate}}</a>
    <a class="vClose" (click)="close()">{{'applications.content.filters.close' | translate}}</a>
  </p>
</div>
<vPopupWidget #categoriesPref
              data-aid="categoriesPref"
              [popupWidth]="360"
              [popupHeight]="220"
              [closeBtn]="true"
              [closeBtnInside]="true"
              [closeOnResize]="true"
              [targetRef]="config"
              [targetOffset]="{'x':-324, 'y': -24}"
              [parentPopup]="parentPopupWidget"
              vSticky [stickyClass]="'vForceFix'" [stickyId]="'categoriesPref'" [sticksTo]="'header'" [scrollOffset]="80">
  <ng-template>
    <vCategoriesFilterPrefs [selectionMode]="selectionMode"
                            (selectionModeChange)="_onSelectionModeChanged($event)"></vCategoriesFilterPrefs>
  </ng-template>
</vPopupWidget>
