<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
  <div class="vSchemas vOverrideFAIcons">
    <div #schemasTableHolder class="vSchemasHolder vContent">
      <vSticky stickyId="schemasFilters" [scrollOffset]="80" [sticksTo]="'header'">
        <div class="vContent vFiltersWrapper">
          <div class="vSchemasTableFilters vContent">
            <button
              pButton
              type="button"
              [disabled]="_vmcPermissions.CUSTOM_DATA_PROFILE_ADD | vDisabledIfNotPermitted"
              [label]="'applications.settings.metadata.addCustomSchema' | translate"
              class="vButtonBranded vAddSchemaBtn"
              (click)="_addNewSchema()"></button>
            <span
              class="vSelectedSchemasNum"
              *ngIf="(_schemasStore.schemas.data$ | async)?.totalCount">
                {{'applications.settings.metadata.schemas' | translate : [(_schemasStore.schemas.data$ | async)?.totalCount] }}
              </span>

          <div class="vBulkOperations" *ngIf="_selectedSchemas.length">
            <span class="vSelectedSchemasLabel">
              • {{ 'applications.settings.metadata.selected' | translate : [_selectedSchemas.length] }}
            </span>
            <button pButton icon="vIcontrash" class="vButtonDanger vBulkDeleteBtn"
                    [vTooltip]="'applications.settings.metadata.deleteProfiles' | translate"
                    [disabled]="_vmcPermissions.CUSTOM_DATA_PROFILE_DELETE | vDisabledIfNotPermitted"
                    (click)="_deleteSchemas(_selectedSchemas)"></button>
            <a class="vBulkCancel" (click)="_clearSelection()">
              {{'applications.settings.metadata.cancel' | translate}}
            </a>
          </div>
        </div>
      </div>
    </vSticky>
    <v-area-blocker [showLoader]="_tableIsBusy"
                    [bodyScroll]="true">
      <vSchemasTable
        class="vSchemasTable"
        [schemas]="(_schemasStore.schemas.data$ | async)?.items"
        (actionSelected)="_onActionSelected($event)"
        [(selectedSchemas)]="_selectedSchemas"></vSchemasTable>
    </v-area-blocker>

      <div class="vSchemasTableFooter vContent" #footer *ngIf="(_schemasStore.schemas.data$ | async)?.totalCount">
        <p-paginator
          [rows]="_query.pageSize"
          [first]="_query.pageIndex * _query.pageSize"
          [rowsPerPageOptions]="[25,50,75,100]"
          [totalRecords]="(_schemasStore.schemas.data$ | async)?.totalCount"
          (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        <span class="vPaginatorShowRowsLabel">{{'applications.content.paginator.showRows' | translate}}</span>
      </div>
    </div>
  </div>
</v-area-blocker>


<vPopupWidget #customSchema data-aid="customSchema" [popupWidth]="995" [slider]="true">
  <ng-template>
    <vCustomSchema [schema]="_selectedSchema"
                   [serverValidationError]="_serverValidationError"
                   (onSave)="_saveSchema($event)"
                   (onClosePopupWidget)="_onClosePopup()"></vCustomSchema>
  </ng-template>
</vPopupWidget>
