@import 'app-theme/_variables.scss';

.vPermissionsTable {
  background-color: white;
  height: auto;
  padding: 0;
  width: 100%;

  .vPermissionGroup {
    color: $vGrayscale1;
    font-weight: bold;
    font-size: 15px;
  }

  .vIconError {
    position: absolute;
    top: 20px;
    padding-left: 1px;
    margin-left: 20px;
    font-size: 24px;
    color: $vDandger;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  flex-direction: column;
}

:host /deep/ .vPermissionsTable {
  p-table .ui-table-scrollable-body{
    margin-bottom: 34px;
  }

  .ui-table .ui-table-thead > tr > th {
    border: 1px solid $vGrayscale6;
    border-left: none;
    border-right: none;
    padding: 10px auto;
  }

  td {
    position: relative;
  }

  .vHasError .ui-multiselect {
    border: 1px solid $vDandger;
  }

  .ui-multiselect .ui-multiselect-panel{
      z-index: 1;
  }

  .vPermissionsList {
    .ui-multiselect {
      width: 320px;
    }

    .ui-multiselect-label {
      padding: .5em .5em;
    }

    .ui-multiselect-trigger {
      padding: .25em !important;
    }
  }
}
