<div class="vPermissionsTable">
  <p-table [value]="_rolePermissions" [customSort]="true">
    <ng-template pTemplate="header">
      <tr>
        <th [ngStyle]="{'width': '350px', 'padding-left': '28px'}">
          {{'applications.administration.role.permissionsTable.featureSet' | translate}}
        </th>
        <th>{{'applications.administration.role.permissionsTable.permissions' | translate}}</th>
        <th [ngStyle]="{'width': '80px'}"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-permission>
      <tr [pSelectableRow]="permission" class="vTableRow">

        <td [ngStyle]="{'width': '350px', 'padding-left': '28px'}">
          <span class="vPermissionGroup">{{permission.label}}</span>
        </td>

        <td [ngStyle]="{'overflow': 'visible'}">
          <vMultiSelect *ngIf="permission.items"
                        class="vPermissionsList"
                        [class.vHasError]="permission.hasError"
                        panelStyleClass="vPermissionsListPanel"
                        menuItemDisplayStyle="flex"
                        [hideOnScroll]="scrollableContainer"
                        [options]="permission.items"
                        [disabled]="!permission.checked || permission.disabled || (!isNewRole && (_vmcPermissions.ADMIN_ROLE_UPDATE | vDisabledIfNotPermitted))"
                        [showToggleAll]="true"
                        [maxSelectedLabels]="0"
                        [defaultLabel]="permission.isAdvancedGroup ? ('applications.administration.role.permissionsTable.viewOnly' | translate) : ('applications.administration.role.permissionsTable.selectPermissions' | translate)"
                        [disabledLabel]="'applications.administration.role.permissionsTable.disabled' | translate"
                        [allSelectedLabel]="'applications.administration.role.permissionsTable.allPermissions' | translate"
                        [selectAllLabel]="'applications.administration.role.permissionsTable.allPermissions' | translate"
                        [selectedItemsLabel]="'applications.administration.role.permissionsTable.custom' | translate"
                        [appendTo]="'body'"
                        [resetFilterOnHide]="true"
                        (onChange)="_onChange($event, permission)"
                        [(ngModel)]="permission.formValue">
            <ng-template let-item pTemplate="item">
              <span class="vPermissionItem">
                {{item.label}}
              </span>
            </ng-template>
          </vMultiSelect>

          <i *ngIf="permission.hasError"
             class="vIconerror vIconError"
             [vTooltip]="'applications.administration.role.permissionsTable.requiredError' | translate"></i>
        </td>

        <td [ngStyle]="{'width': '80px'}">
          <p-inputSwitch [disabled]="!isNewRole && (_vmcPermissions.ADMIN_ROLE_UPDATE | vDisabledIfNotPermitted)"
                         [(ngModel)]="permission.checked"
                         (onChange)="_togglePermission($event, permission)"></p-inputSwitch>
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>
