<form class="vLoginForm"
      [formGroup]="_forgotPasswordForm"
      (submit)="_resetPassword($event)">
  <h1>{{ 'app.login.forgotPassword.title' | translate}}</h1>

  <ng-container *ngIf="_displayEmailField">
    <p>
      {{ 'app.login.forgotPassword.instructions' | translate}}
      <span *ngIf="!_contactUsLinkExists">{{ 'app.login.forgotPassword.contactUs' | translate }}</span>
      <a *ngIf="_contactUsLinkExists" (click)="_openContactUs()">{{ 'app.login.forgotPassword.contactUs' | translate }}</a>
    </p>

    <div>
      <input pInputText
             [placeholder]="'app.login.forgotPassword.placeholder' | translate"
             [formControl]="_emailField"
             [ngClass]="{
               'has-error': errorMessage || _emailValidationMessage,
               'has-success': _emailField.valid && _emailField.touched
             }"
             [vTooltip]="_emailValidationMessage | translate"
             placement="right">
    </div>

    <p *ngIf="errorMessage" class="vErrorMessage" [innerHTML]="errorMessage"></p>

    <div>
      <button class="vButtonDefault"
              pButton
              [label]="_resetBtnText | translate"
              [disabled]="inProgress"></button>
    </div>
  </ng-container>
  <ng-container *ngIf="!_displayEmailField">
    <p class="vLoginFormEmailSentTitle">
      <i class="vIconcheck_large vLoginFormEmailSentIcon"></i>
      {{ 'app.login.forgotPassword.sent.emailSent' | translate }}
    </p>
    <p>{{ 'app.login.forgotPassword.sent.instructions' | translate }}</p>
    <p class="vRedirectTo">
      {{ 'app.login.forgotPassword.sent.redirectTo' | translate }}&nbsp;
      <a (click)="_openLogin()" class="vUnderlined">{{ 'app.login.forgotPassword.sent.login' | translate}}</a>
    </p>
  </ng-container>

</form>
