<div class="vAddEntryWrap">
  <div class="vFloater">
    <div class="vHeader">
      <span class="vTitle">{{'applications.content.playlists.addEntry' | translate}}</span>
      <div class="vButtons">
        <a class="vCancel" (click)="onClosePopupWidget.emit()">{{'app.common.cancel' | translate}}</a>
        <button type="button"
                class="vButtonBranded"
                [disabled]="_selectedEntries.length === 0"
                pButton
                [label]="_addButtonLabel"
                (click)="_addEntries()"></button>
      </div>
    </div>
    <div class="vContainer">
      <vEntriesSelector
                        [enforcedFilters]="_enforcedFilters"
                        [(selectedEntries)]="_selectedEntries"
                        (selectedEntriesChange)="_selectionChanged($event)"></vEntriesSelector>
    </div>
  </div>
</div>
