@import 'app-theme/_variables.scss';

.vMyUserSettingsWrapper {
  height: 100%;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;

  .vFormContainer {
    margin-top: 24px;
    background: white;
    padding: 27px 29px 10px;
  }

  .vTitle {
    color: $vGrayscale1;
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    margin-bottom: 25px;
    align-items: center;
    display: flex;
  }

  .vInformationSection {
    font-size: 15px;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  .vIconwarning,
  .vIconUsers,
  .vIconpen {
    font-size: 18px;
    padding-right: 10px;
    color: $vGrayscale3;
  }

  .vIconUsers {
    font-size: 25px;
    padding-right: 13px;
  }

  .vIconpen {
    font-size: 15px;
    padding-right: 0;
    margin-left: 10px;
    cursor: pointer;
  }

  .vUserDetailsSection {
    .vRow {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      &:first-child {
        padding-top: 10px;
      }

      .vLabel {
        width: 272px;
        flex: 0 0 auto;
        height: 18px;
        color: $vGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }
}
