<v-area-blocker [showLoader]="_isBusy" [message]="_areaBlockerMessage">
  <div class="vMyUserSettingsWrapper vContent">
    <section class="vFormContainer">
      <div class="vTitle">
        <i class="vIconUsers"></i>
        {{'applications.settings.myUserSettings.userDetails' | translate}}
      </div>
      <div class="vInformationSection">
        <i class="vIconwarning"></i>
        <span>{{'applications.settings.accountSettings.informationMessage' | translate}}</span>
      </div>
      <div class="vUserDetailsSection">
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.userName' | translate}}</div>
          <span>{{_user?.fullName}}</span>
          <i class="vIconpen" (click)="_editUserName()"></i>
        </div>
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.userId' | translate}}</div>
          <span>{{_user?.id}}</span>
        </div>
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.emailAddress' | translate}}</div>
          <span>{{_user?.email}}</span>
          <i class="vIconpen" (click)="_editEmailAddress()"></i>
        </div>
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.role' | translate}}</div>
          <span>{{_role?.name}}</span>
        </div>
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.roleDescription' | translate}}</div>
          <span>{{_role?.description}}</span>
        </div>
        <div class="vRow">
          <div class="vLabel">{{'applications.settings.myUserSettings.password' | translate}}</div>
          <span>
            <a (click)="_changePassword()">{{'applications.settings.myUserSettings.editUser' | translate}}</a>
          </span>
        </div>
      </div>
    </section>
  </div>

  <vPopupWidget #editUserNamePopup data-aid="editUserNamePopup" [popupWidth]="600" [popupHeight]="455" [modal]="true" [preventPageScroll]="true">
    <ng-template>
      <vEditUserName [parentPopupWidget]="editUserNamePopup"
                     [user]="_user"
                     [blockerMessage]="_updateBlockerMessage"
                     (updateLoginData)="_updateLoginData($event, 'editUserNamePopup')"></vEditUserName>
    </ng-template>
  </vPopupWidget>

  <vPopupWidget #editEmailAddressPopup data-aid="editEmailAddressPopup" [popupWidth]="600" [popupHeight]="245" [modal]="true" [preventPageScroll]="true">
    <ng-template>
      <vEditEmailAddress [parentPopupWidget]="editEmailAddressPopup"
                         [user]="_user"
                         [blockerMessage]="_updateBlockerMessage"
                         (updateEmail)="_updateEmail($event, 'editEmailAddressPopup')"></vEditEmailAddress>
    </ng-template>
  </vPopupWidget>

  <vPopupWidget #changePasswordPopup data-aid="changePasswordPopup" [popupWidth]="600" [popupHeight]="440" [modal]="true" [preventPageScroll]="true">
    <ng-template>
      <vChangePassword [parentPopupWidget]="changePasswordPopup"
                       [user]="_user"
                       [blockerMessage]="_updateBlockerMessage"
                       (updateLoginData)="_updateLoginData($event, 'changePasswordPopup')"></vChangePassword>
    </ng-template>
  </vPopupWidget>
</v-area-blocker>
