<div class="vDistributedProfile">
  <div [class]="'vProfileIcon ' + (_providerType | vEntriesDistributionProviderTypeIcon)"></div>

  <div class="vDistributedProfileContent">
    <span class="vTitle">
      <span class="vTitleLabel" (click)="_openProfile(_profile)">{{_profile?.name}}</span>
      <a *ngIf="_distributorPageLink" class="vDistributorPageLink" target="_blank"
         [vTooltip]="'applications.content.entryDetails.distribution.previewDistributorVideo' | translate"
         [href]="_distributorPageLink">
        <i class="vIconexternal_link vTitleIcon"></i>
      </a>
    </span>
    <div class="vMetadata">
      <span class="vStatus" *ngIf="!_profile?.validationErrors?.length">
        <i class="vStatusIcon" [ngClass]="_profile | vEntriesDistributionStatus:'icon'"></i>
        {{_profile | vEntriesDistributionStatus:'label'}}
        <span class="vDelimiter"></span>
      </span>
      <span *ngIf="_profile?.validationErrors?.length">
        <i class="vStatusUpdateFailed vIconerror"></i>
        {{'applications.content.entryDetails.distribution.status.exportFailed' | translate}}
        <span class="vDelimiter"></span>
      </span>
      <span *ngIf="_isModified">
        <span class="vModified">{{'applications.content.entryDetails.distribution.modified' | translate}}</span>
        <span class="vDelimiter"></span>
      </span>
      <span class="vLastUpdate">
        {{'applications.content.entryDetails.distribution.lastUpdate' | translate:[(_profile?.updatedAt | vmcDate:'dateOnly')]}}
        <span class="vDelimiter"></span>
      </span>
      <span class="vAutoDistribution" *ngIf="_profile?.autoDistribution">
        {{'applications.content.entryDetails.distribution.auto' | translate}}
        <span class="vDelimiter"></span>
      </span>
      <a class="vMoreDetails" (click)="_openProfile(_profile)">
        {{'applications.content.entryDetails.distribution.moreDetails' | translate}}
      </a>
    </div>
    <div class="vValidationErrors" *ngIf="_profile?.validationErrors?.length">
      <vEntryDistributedProfileErrors [errors]="_profile?.validationErrors"></vEntryDistributedProfileErrors>
    </div>
  </div>

  <div class="vControls">
    <button *ngIf="!_deleteButtonHidden" pButton
            [disabled]="_vmcPermissions.CONTENT_MANAGE_DISTRIBUTION_REMOVE | vDisabledIfNotPermitted"
            icon="vIcontrash" class="vButtonDanger vDeleteBtn"
            (click)="_deleteDistribution(_profile)"></button>
    <button *ngIf="!_actionButtonHidden"
            pButton class="vButtonDefault vUpdateBtn"
            [disabled]="_actionButtonDisabled || (_vmcPermissions.CONTENT_MANAGE_DISTRIBUTION_SEND | vDisabledIfNotPermitted)"
            [label]="_actionButtonLabel"
            (click)="_performAction(_profile)"></button>
  </div>
</div>
