<v-area-blocker [message]="_blockerMessage">
  <div class="vEditRole">
    <div class="vFloater">
      <div class="vHeader" vStickyHeader [stickyId]="'editRoleHeader'">
        <span class="vTitle">{{_title}}</span>
        <div class="vButtons">
          <a class="vCancel" (click)="parentPopupWidget.close()">
            {{'applications.administration.role.cancel' | translate}}
          </a>
          <button pButton class="vButtonBranded vSaveBtn"
                  *ngIf="_isNewRole || (_vmcPermissions.ADMIN_ROLE_UPDATE | vNgIfPermitted)"
                  [label]="_actionBtnLabel"
                  [disabled]="_saveDisabled"
                  (click)="_performAction()"></button>
        </div>
      </div>
      <div class="vContainer" #scrollableContainer>
        <form class="vRoleForm" [formGroup]="_editRoleForm" novalidate>
          <div class="vRow">
            <span class="vLabel">{{'applications.administration.role.name' | translate}}</span>
            <div class="vRequired" [class.vHasError]="_nameField.invalid && _nameField.touched">*</div>
            <div>
              <input class="vControl" pInputText
                     [formControl]="_nameField"
                     [class.vHasError]="_nameField.invalid && _nameField.touched">
              <div *ngIf="_nameField.hasError('required') && _nameField.touched" class="vError">
                {{'applications.administration.role.errors.required' | translate}}
              </div>
                <div *ngIf="_nameField.hasError('unsafeValue') && _nameField.pristine" class="vError">
                    {{'applications.administration.role.errors.unsafeValue' | translate}}
                </div>
            </div>
          </div>

          <div class="vRow">
            <span class="vLabel">{{'applications.administration.role.description' | translate}}</span>
            <div class="vRequired" [class.vHasError]="_descriptionField.invalid && _descriptionField.touched">*</div>
            <div>
              <textarea class="vControl" pInputTextarea
                        [formControl]="_descriptionField"
                        [class.vHasError]="_descriptionField.invalid && _descriptionField.touched">
              </textArea>
              <div *ngIf="_descriptionField.hasError('required') && _descriptionField.touched" class="vError">
                {{'applications.administration.role.errors.required' | translate}}
              </div>
                <div *ngIf="_descriptionField.hasError('unsafeValue') && _descriptionField.pristine" class="vError">
                    {{'applications.administration.role.errors.unsafeValue' | translate}}
                </div>
            </div>
          </div>
        </form>
        <div *ngIf="_hasDisabledPermissions" class="vHasDisabledPermissions">
          <a [href]="_contactUsLink" target="_blank">{{'applications.administration.role.contactUs' | translate}}</a>
          {{'applications.administration.role.contactUsText' | translate}}
        </div>
        <vRolePermissionsTable [permissions]="_permissions"
                               [isNewRole]="_isNewRole"
                               [scrollableContainer]="scrollableContainer"
                               (setDirty)="_setDirty()"
                               (rolePermissionsChange)="_updateRolePermissions($event)"></vRolePermissionsTable>
      </div>
    </div>
  </div>
</v-area-blocker>
