@import 'app-theme/_variables.scss';

.vEditRole {
  width: 100%;

  .vFloater {
    display: flex;
    flex-direction: column;

    .vHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $vGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .vTitle {
        color: #333333;
        font-size: 15px;
        font-weight: 700;
      }

      .vButtons {
        display: flex;
        margin-left: auto;

        .vSaveBtn {
          width: 100px;
        }

        .vCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .vButtonDefault {
          font-weight: normal;
        }
      }
    }

    .vContainer {
      flex: 1 1 auto;
      overflow-y: auto;
      max-height: calc(100vh - 158px);

      .vHasDisabledPermissions {
        padding: 0 0 20px 30px;
      }

      .vRoleForm {
        padding: 0 28px 53px 28px;
      }

      .vRow {
        display: flex;
        padding-top: 24px;

        .vLabel {
          width: 200px;
          flex: 0 0 auto;
          height: 18px;
          color: $vGrayscale1;
          font-size: 15px;
          line-height: 18px;
        }

        .vRequired {
          width: 20px;
          font-size: 24px;
          color: $vGrayscale3;
          &.vHasError {
            color: $vDandger;
            font-weight: bold;
          }
        }
        .vRequired, .vLabel {
          padding: 8px 4px;
          height: 18px;
        }
        .vControl {
          height: 34px;
          width: 500px;
          &.vHasError {
            border: 1px solid $vDandger;
            background: initial;
          }
        }

        textarea.vControl {
          height: 76px;
        }

        .vError {
          color: $vDandger;
          padding-top: 8px;
        }
      }
    }
  }
}
