<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.bulkActions.removeFromCategories' | translate}}</span>
    <div class="vCategories">
      <span class="vLabel">{{'applications.content.bulkActions.removeFromCategoriesLabel' | translate}}</span>
      <div *ngFor="let category of categories; let index = index" class="vCategory">
        <p-checkbox label="{{category.label}}" [(ngModel)]="category.selected"  binary="true" (onChange)="updateSelectedCategories()"></p-checkbox>
      </div>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton label="{{'applications.content.bulkActions.apply' | translate}}" (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
