<div class="vCaptureWin vOverrideFAIcons" #captionsEdit>

    <div class="vHeader">
      <span class="vTitle">{{'applications.content.entryDetails.thumbnails.capture.title' | translate}}</span>
    </div>

    <div class="vContainer">
        <div class="vPlayerTarget">
            <v-player #player [flashvars]="playerConfig.flashvars" [cdnUrl]="serverUri" [pid]="playerConfig.pid" [uiconfid]="playerConfig.uiconfid" [entryid]="playerConfig.entryid" [width]="340" [height]="190" (vidiunPlayerReady)="onPlayerReady($event)"></v-player>
        </div>
        <div class="vLabel">{{'applications.content.entryDetails.thumbnails.capture.label' | translate}}</div>
    </div>


    <div class="vFooter">
            <button type="button" class="vButtonBranded" (click)="_capture()" pButton label="{{'applications.content.entryDetails.thumbnails.capture.save' | translate}}"></button>
    </div>


</div>
