<div class="vUploadMonitorSection">
  <div class="vUploadMonitorSectionHeading">
    <span class="vUploadMonitorSectionHeadingTitle">{{ title }}</span>

    <a class="vUploadMonitorSectionHeadingDetails"
       (click)="_openDetails()">
      {{ 'applications.upload.uploadMonitor.viewDetails' | translate }}
    </a>
  </div>
  <div class="vUploadMonitorSectionContent">

    <ng-container [ngSwitch]="layout">

      <div *ngSwitchCase="'totals'">
      <span *ngIf="!_isUpToDate">
        <span class="vUploadMonitorStatus" *ngIf="uploading !== 0">
          <i class="vIconrefresh_small vUploadMonitorStatusIcon uploading"></i>
          {{ _uploadingTitle | translate:{'0': uploading} }}
        </span>
        <span class="vUploadMonitorStatus" *ngIf="queued !== 0">
          <i class="vIconupload2 vUploadMonitorStatusIcon queued"></i>
          {{ 'applications.upload.uploadMonitor.queued' | translate:{'0': queued} }}
        </span>
        <span class="vUploadMonitorStatus" *ngIf="completed !== 0">
          <i class="vIconcheck_small vUploadMonitorStatusIcon completed"></i>
          {{ 'applications.upload.uploadMonitor.completed' | translate:{'0': completed} }}
        </span>
        <span class="vUploadMonitorStatus" *ngIf="errors !== 0">
          <i class="vIconerror vUploadMonitorStatusIcon error"></i>
          {{ 'applications.upload.uploadMonitor.error' | translate:{'0': errors} }}
        </span>
      </span>
        <span *ngIf="_isUpToDate">
        <span class="vUploadMonitorStatus">
          <i class="vIconcheck_small vUploadMonitorStatusIcon completed"></i>
          {{ 'applications.upload.uploadMonitor.upToDate' | translate }}
        </span>
      </span>
      </div>

      <span *ngSwitchCase="'loading'">
        {{ 'applications.upload.uploadMonitor.loading' | translate }}
      </span>
      <span *ngSwitchCase="'error'">
        {{ 'applications.upload.uploadMonitor.errors.poll' | translate }}
      </span>
      <span *ngSwitchCase="'recoverableError'">
        {{ 'applications.upload.uploadMonitor.errors.prepare' | translate }}
        <a (click)="requestToRecover.emit()">{{ 'app.common.retry' | translate }}</a>
      </span>

    </ng-container>

  </div>
</div>
