@import 'app-theme/_variables.scss';

.vFlavorLink {
    .vHeader {
        height: 78px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-bottom: 1px solid $vGrayscale4;
        .vTitle {
            color: $vGrayscale1;
            font-size: 24px;
            font-weight: bold;
        }
    }
    .vContainer {
        height: 315px;

        .vFlavorUrl {
            padding: 16px 24px ;

            input {
                margin-top: 6px;
                width: 500px;

                &.vHasError {
                    border-color: $vDandger;
                }
            }
        }
        .vInvalid {
            color: $vDandger;
            font-size: 12px;
            font-weight: 700;
            margin-top: 10px;
        }

        .vFlavorUrlTitle {
            border-top: 1px solid $vGrayscale6;
            border-bottom: 1px solid $vGrayscale6;
            font-size: 13px;
            font-weight: bold;
            color: $vGrayscale3;
            padding: 9px 0;

            span {
                padding-left: 24px;
            }
        }

        .vStorageProfileInfo {
            padding: 32px 24px;

            .vStorageProfileInfoItem {
                display: inline-block;
                padding: 5px 0;

                .vStorageProfileInfoItemTitle {
                    font-weight: bold;
                }
            }

            .vDelimiter {
                margin: 0 10px;

                &:after {
                    content: '|';
                    font-size: 12px;
                    color: $vGrayscale4;
                    top: -2px;
                    position: relative;
                }
            }
        }
    }
    .vFooter {
        text-align: center;
        height: 66px;
        border-top: 1px solid $vGrayscale4;
        button {
            margin-top: 16px;
            margin-left: 8px;
            margin-right: 8px;
            height: 34px;
            width: 140px;
        }
    }
}

