<form [formGroup]="_form" class="vFlavorLink" (submit)="_link()">
    <div class="vHeader">
        <span class="vTitle">{{'applications.content.entryDetails.flavours.link.linkRemoteStorage' | translate}}</span>
    </div>
    <div class="vContainer">
        <div class="vStorageProfileInfo">
            <div class="vStorageProfileInfoItem">
                <span class="vStorageProfileInfoItemTitle">
                    {{'applications.content.entryDetails.flavours.link.remoteStorageName' | translate}}
                </span>
                {{storageProfile?.name}}
                <span class="vDelimiter"></span>
            </div>
            <div class="vStorageProfileInfoItem">
                <span class="vStorageProfileInfoItemTitle">
                    {{'applications.content.entryDetails.flavours.link.id' | translate}}
                </span>
                {{storageProfile?.id}}
                <span class="vDelimiter"></span>
            </div>
            <div class="vStorageProfileInfoItem">
                <span class="vStorageProfileInfoItemTitle">
                    {{'applications.content.entryDetails.flavours.link.storageUrl' | translate}}
                </span>
                {{storageProfile?.storageUrl}}
                <span class="vDelimiter"></span>
            </div>
            <br>
            <div class="vStorageProfileInfoItem">
                <span class="vStorageProfileInfoItemTitle">
                    {{'applications.content.entryDetails.flavours.link.storageBaseDirectory' | translate}}
                </span>
                {{storageProfile?.storageBaseDir}}
                <vInputHelper class="vHelp" icon="vIconlife_donut" trigger="click"
                              [title]="'applications.content.entryDetails.flavours.replaceVideo.storageProfile.noteTitle' | translate">
                    <span>{{'applications.content.entryDetails.flavours.replaceVideo.storageProfile.note' | translate}}</span>
                </vInputHelper>
            </div>
        </div>
        <div class="vFlavorUrlTitle">
            <span>{{'applications.content.entryDetails.flavours.link.filePathName' | translate}}</span>
        </div>
        <div class="vFlavorUrl">
            <input pInputText type="text"
                   [class.vHasError]="_filePathField.touched && _filePathField.invalid"
                   [formControl]="_filePathField"
                   [placeholder]="'applications.content.entryDetails.flavours.link.enterFlavorUrl' | translate"/>
            <div class="vInvalid" *ngIf="_filePathField.touched && _filePathField.invalid">
                {{'applications.content.entryDetails.flavours.link.required' | translate}}
            </div>
        </div>
    </div>
    <div class="vFooter">
        <button type="button" class="vButtonDefault" pButton
                [label]="'applications.content.entryDetails.flavours.link.cancel' | translate"></button>
        <button type="submit" class="vButtonBranded" pButton
                [disabled]="_form.invalid"
                [label]="'applications.content.entryDetails.flavours.link.link' | translate"></button>
    </div>
</form>
