@import 'app-theme/_variables.scss';

.vEditWin {
  width: 100%;

  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;

    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .vContainer {
    margin: 12px;
    height: 270px;
  }

  .vFooter {
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      height: 34px;
    }
  }

  .vRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;

    .vLabel {
      width: 179px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      height: 18px;
      color: $vGrayscale1;
      font-size: 15px;
      line-height: 18px;
    }

    .vLabel {
      padding: 8px 4px;
      height: 18px;
    }

    .vControl {
      height: 34px;
      width: 300px;

      &.vHasError {
        border: 1px solid $vDandger;
        background: initial;
      }

      &.threeRows {
        height: 76px;
      }
    }

    .error {
      color: $vDandger;
      padding-top: 8px;
    }

    .vStrongPassword {
      font-size: 15px;
    }
  }

  .vButton {
    width: 100px;
  }

  .vButtonBranded {
    margin-left: 20px;
  }
}
