<v-area-blocker [message]="blockerMessage">
  <div class="vEditWin">
    <form [formGroup]="_changePasswordForm" novalidate>
      <div class="vHeader">
        <span class="vTitle">{{'applications.settings.myUserSettings.changePassword' | translate}}</span>
      </div>

      <div class="vContainer">
        <div class="vStrongPassword">{{'applications.settings.myUserSettings.strongPassword' | translate}}</div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.currentPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="vControl"
                   formControlName="currentPassword"
                   pInputText
                   [ngClass]="{'vHasError':!_changePasswordForm.get('currentPassword').valid && _changePasswordForm.get('currentPassword').touched}">
            <div *ngIf="_changePasswordForm.get('currentPassword').touched && _changePasswordForm.get('currentPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.newPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="vControl"
                   formControlName="newPassword"
                   pInputText
                   [ngClass]="{'vHasError':!_changePasswordForm.get('newPassword').valid && _changePasswordForm.get('newPassword').touched}">
            <div *ngIf="_changePasswordForm.get('newPassword').touched && _changePasswordForm.get('newPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.myUserSettings.reTypeNewPassword' | translate}}</span>
          <div>
            <input type="password"
                   class="vControl"
                   formControlName="reTypeNewPassword"
                   pInputText
                   [ngClass]="{'vHasError':!_changePasswordForm.get('reTypeNewPassword').valid && _changePasswordForm.get('reTypeNewPassword').touched}">
            <div *ngIf="_changePasswordForm.get('reTypeNewPassword').touched && _changePasswordForm.get('reTypeNewPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.required' | translate}}
            </div>
            <div *ngIf="_changePasswordForm.get('reTypeNewPassword').touched && _passwordMatchValidator(_changePasswordForm.get('reTypeNewPassword')) && !_changePasswordForm.get('reTypeNewPassword').hasError('required')"
              class="error">
              {{'applications.settings.myUserSettings.errors.doNotMuchPasswords' | translate}}
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="vFooter">
      <button pButton class="vButtonDefault vButton" (click)="parentPopupWidget.close()"
              [label]="'applications.settings.myUserSettings.cancel' | translate"></button>
      <button
              pButton class="vButtonBranded vButton"
              [label]="'applications.settings.myUserSettings.save' | translate"
              [disabled]="_changePasswordForm.pristine"
              (click)="_updateLoginData()"></button>
    </div>
  </div>

</v-area-blocker>
