<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vContent vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.bulkActions.changeOwner' | translate}}</span>
    <div class="vContainer">
      <span class="vLabel">{{'applications.content.bulkActions.changeOwnerLabel' | translate}}</span>

      <vAutoComplete [(ngModel)]="_owner"
                     suggestionItemField="item"
                     suggestionLabelField="name"
                     field="screenName"
                     [onItemAdding]="_convertUserInputToValidValue"
                     [tooltipResolver]="'__tooltip'"
                     [classField]="'__class'"
                     [multiple]="false"
                     [limitToSuggestions]="false"
                     placeholder="{{'applications.content.entryDetails.users.changeOwnerPH' | translate}}"
                     [minLength]="3"
                     [suggestionsProvider]="_usersProvider"
                     (onUnselect)="_updateApplyButtonState()"
                     (onSelect)="_updateApplyButtonState()"
                     (completeMethod)="_searchUsers($event)">
      </vAutoComplete>

    </div>
    <div class="vFooter">
      <button type="button"
              class="vButtonBranded"
              pButton
              [label]="'applications.content.bulkActions.apply' | translate"
              [disabled]="_disableApplyButton"
              (click)="_apply()"></button>
    </div>
  </div>
</v-area-blocker>
