<v-details-bar #detailsBar [data]="_currentProfile">
  <vDetailInfo [iconStyle]="_currentProfile?.type | vTranscodingProfileType:true"
               [tooltip]="_currentProfile?.type | vTranscodingProfileType:false"></vDetailInfo>
  <vDetailInfo *ngIf="!_isNew" [label]="'applications.settings.transcoding.details.id' | translate" [valueField]="'id'"></vDetailInfo>
  <vDetailInfo *ngIf="!_isNew" [label]="'applications.settings.transcoding.details.creationDate' | translate"
               [value]="_currentProfile?.createdAt | vmcDate:'dateOnly'"
               [tooltip]="_currentProfile?.createdAt | vmcDate"></vDetailInfo>
  <vDetailInfo *ngIf="!_isNew" [label]="'applications.settings.transcoding.details.flavors' | translate"
               [valueField]="'flavors'"></vDetailInfo>
</v-details-bar>

