@import 'app-theme/_variables.scss';

.vPreviewDetails{
	display: flex;
	color: $vGrayscale3;
	font-size: 13px;
	overflow: hidden;
	.vRow{
		display: flex;
		flex: 0 0 auto;
		a{
			font-size: 13px;
		}
		.vLabels{
			margin-right: 4px;
		}
		.vSeparator{
			margin-right: 8px;
			margin-left: 8px;
		}
	}

}

:host /deep/ .vDetails {
  .vIcontranscoding {
    margin-left: 1px;
  }
}
