@import 'app-theme/_variables.scss';

.vAccessControlProfiles {
  font-size: 15px;
  background-color: $appBkgColor;
  height: $contentArea;
  padding-top: 30px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .vAccessControlProfilesHolder {
    height: 100%;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .vRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $vGrayscale3;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $vPrimary;
    }
  }
  .vSelectedEntriesNum {
    padding-left: 16px;
  }
  .vAccessControlProfileTableFilters {
    color: $vGrayscale1;
    z-index: 502;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;

    .vSelectedEntriesNum {
      padding-left: 16px;
    }

    .vAddProfileBtn {
      margin-left: 14px;
      height: 36px;
      border: none;
    }
  }
  .vBulkLogTableTags {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border: 1px solid grey;
    flex: 0 0 50px;
  }
  .vAccessControlProfilesTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $vGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .vAccessControlProfilesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }
  .vSelectedEntriesLabel {
    font-weight: bold;
    margin-right: 36px;
    margin-left: 5px;
  }
  .vSearchInput {
    background: $vMagnifyingGlassBkg;
    background-color: $vGrayscale6;
    padding-left: 30px;
    margin-right: 8px;
    width: 260px;
    &:focus {
      background-color: white;
    }
  }
  .vBulkOperations {
    display: flex;
    align-items: center;
  }
  .vPaginatorShowRowsLabel {
    color: $vGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .vAccessControlProfilesCancel {
    margin-left: 10px;
  }
  .vBulkDeleteBtn {
    margin-right: 10px;
    width: 44px;
    font-size: 24px;
  }
  .vBulkActionsBtn {
    font-weight: 400;
    font-size: 15px;
  }
  .vFilters {
    display: flex;
    margin-left: auto;
  }
  .vHidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .vTagContent {
    display: flex;
    align-items: center;
  }
  .vTagLabel {
    flex: 0 0 auto;
    user-select: none;
    cursor: default;
  }
  .vTagRemove {
    flex: 0 0 auto;
    margin-top: 2px;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border: 0px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }
}

:host /deep/ span.ui-button-icon-left.pi-vIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.vIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .pi {
  margin-left: -.5em;
}

:host /deep/ .vStickyClass {
  border-bottom: 1px solid $vGrayscale5;
}

:host /deep/ .vSchemasTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
