<v-area-blocker [showLoader]="_showLoader">
  <div class="vOverrideFAIcons vRefineFilters">
    <vScrollToTopContainer #refine class="vTreeContainer">
      <div class="vFiltersGroupTitle">
        <span>{{'applications.content.dropFolders.filters.additionalFilters' | translate | uppercase}}</span>
      </div>
      <p>{{'applications.content.dropFolders.filters.createdBetween' | translate}}</p>
      <div class="vDateRange">

        <p-calendar class="vDateRangeFirst" [(ngModel)]="_createdAfter" [readonlyInput]="true" [showIcon]="true"
                    [monthNavigator]="true" [yearNavigator]="true" [yearRange]="_createdAtDateRange"
                    [dateFormat]="_calendarFormat" icon="vIconcalendar" (onSelect)="_onCreatedChanged()"></p-calendar>
        <p-calendar class="vDateRangeLast vPullLeft90" [(ngModel)]="_createdBefore" [readonlyInput]="true"
                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="_createdAtDateRange"
                    [dateFormat]="_calendarFormat" icon="vIconcalendar" (onSelect)="_onCreatedChanged()"></p-calendar>
      </div>
      <a class="vClearAll" (click)="_clearCreatedComponents()" [class.vDisabledLink]="!_createdAfter && !_createdBefore">
        {{'applications.content.dropFolders.filters.clearDates' | translate}}
      </a>
      <span *ngIf="_createdAtFilterError" class="vError">{{_createdAtFilterError}}</span>
        <div *ngFor="let treeInstance of _primeLists">
          <p-tree [value]="treeInstance.items"
                  [selectionMode]="'checkbox'"
                  vRefinePrimeTree
                  [(selection)]="treeInstance.selections"
                  (onNodeSelect)="_onTreeNodeSelect($event, treeInstance)"
                  (onNodeUnselect)="_onTreeNodeUnselect($event, treeInstance)">
            <ng-template let-node pTemplate="default">
              <span class="vTreeNodeLabel" [vTooltip]="node.label" [delay]="1000">
                {{node.label}}
              </span>
            </ng-template>
          </p-tree>
        </div>
    </vScrollToTopContainer>

    <p>
      <a class="clearAll" (click)="_clearAllComponents()">
        {{'applications.content.dropFolders.filters.clearAll' | translate}}
      </a>
      <a class="vClose" (click)="_close()">
        {{'applications.content.dropFolders.filters.close' | translate}}
      </a>
    </p>
  </div>
</v-area-blocker>

