@import "app-theme/_variables.scss";

.vRefineFilters {
  margin: 12px;
}

.vFiltersGroupTitle {
  color: $vGrayscale3;
  line-height: 40px;
  letter-spacing: 0.1em;
  font-size: 13px;
  border-top: 1px solid $vGrayscale6;
  border-bottom: 1px solid $vGrayscale6;
  margin-left: -12px;
  padding-left: 20px;
  margin-right: -20px;
  margin-bottom: 8px;
}

.vTreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: 340px;
  border-bottom: 1px solid $vGrayscale6;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  width: 387px;
  position: relative;
}

.vDateRange {
  display: flex;
  align-items: center;
}

.vClearAll {
  margin-bottom: 6px;
  margin-top: 4px;
  display: block;
}

.vClose {
  float: right;
}

.vError {
  font-size: 14px;
  color: $vDandger;
}

.vTreeNodeLabel {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  line-height: 43px;
  color: $vGrayscale1;
  text-overflow: ellipsis;
  margin-left: 5px;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  color: $vGrayscale5;
  border: none;
}

.vTreeNodeNumChildren {
  font-size: 14px;
  font-weight: 400;
  color: $vGrayscale3;
  margin-left: 10px;
}

/* prevent calendars from being cut by the popup widget borders */
:host /deep/ .vPullLeft30 .ui-datepicker.ui-widget {
  margin-left: -30px;
  left: 0px !important;
}

:host /deep/ .vPullLeft90 .ui-datepicker.ui-widget {
  margin-left: -90px;
  left: 0px !important;
}

:host /deep/ .vDateRange .vDateRangeFirst .ui-calendar.ui-calendar-w-btn {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

:host /deep/ .ui-calendar.ui-calendar-w-btn {
  border-radius: 0px;
}

:host /deep/ .ui-calendar .ui-inputtext {
  width: 120px;
}

:host /deep/ .vDateRange .vDateRangeLast .ui-calendar.ui-calendar-w-btn {
  border-left: 0px solid $vGrayscale4;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

:host /deep/ .ui-tree .ui-tree-container {
  overflow: visible;
}

:host /deep/ .ui-tree .ui-chkbox {
  vertical-align: top;
  margin-top: 14px;
}
