<div class="vPlaylistRulesTableFilters">
  <vSticky stickyId="playlistContentBulk"
           sticksTo="playlistHeader"
           stickyClass="vStickyHeader"
           [scrollOffset]="120">
    <div class="vHeader">
      <div class="vBulkActionsContainer">
        <div class="vBulkActions" *ngIf="selectedRules.length; else addRuleWrap">
          <button pButton
                  class="vButtonDefault vMoveBtn vMoveBtnTop"
                  [disabled]="!isNewPlaylist && (_vmcPermissions.PLAYLIST_UPDATE | vDisabledIfNotPermitted)"
                  icon="vIcondropdown_arrow_top"
                  (click)="_moveRules('up')"></button>
          <button pButton
                  class="vButtonDefault vMoveBtn vMoveBtnBottom"
                  [class.vMoveBtnBottomDisabled]="!isNewPlaylist && (_vmcPermissions.PLAYLIST_UPDATE | vDisabledIfNotPermitted)"
                  [disabled]="!isNewPlaylist && (_vmcPermissions.PLAYLIST_UPDATE | vDisabledIfNotPermitted)"
                  icon="vIcondropdown_arrow_bottom"
                  (click)="_moveRules('down')"></button>
          <button pButton class="vButtonDanger vBulkDeleteBtn"
                  [disabled]="!isNewPlaylist && (_vmcPermissions.PLAYLIST_UPDATE | vDisabledIfNotPermitted)"
                  [label]="'applications.content.playlists.remove' | translate"
                  (click)="deleteRules.emit(selectedRules)"></button>
        </div>
        <ng-template #addRuleWrap>
          <button
            pButton
            type="button"
            icon="vIconplus"
            iconPos="left"
            [disabled]="!isNewPlaylist && (_vmcPermissions.PLAYLIST_UPDATE | vDisabledIfNotPermitted)"
            [label]="'applications.content.playlistDetails.content.addRule' | translate"
            class="vButtonDefault vAddRuleBtn"
            (click)="addRule.emit()">
          </button>
        </ng-template>
        <span class="vSelectedRulesNum" *ngIf="rulesTotalCount">
          {{'applications.content.playlistDetails.content.entriesInRules'| translate: [entriesTotalCount, rulesTotalCount]}}
      </span>
        <div *ngIf="selectedRules.length" class="vSelected">
        <span class="vSelectedRulesLabel">
          {{'applications.content.playlists.selected' | translate: [selectedRules.length]}}
        </span>
          <a class="vBulkCancel" (click)="clearSelection.emit()">
            {{'applications.content.playlists.cancel' | translate}}
          </a>
        </div>
      </div>
      <div *ngIf="duration" class="vPlaylistRulesTableDuration">
        {{'applications.content.playlistDetails.details.duration'| translate: [(duration | vTime)]}}
      </div>
    </div>
  </vSticky>
</div>

