<v-area-blocker [showLoader]="_loading" [message]="_sectionBlockerMessage">
  <div class="vDownloadContainer vOverrideFAIcons">
    <span class="vTitle">{{'applications.content.entryDetails.downloadEntry.title' | translate}}</span>
    <div class="vDownload">
      <span class="vLabel">{{'applications.content.entryDetails.downloadEntry.downloadFlavor' | translate }}</span>
      <p-dropdown [options]="_flavors" [(ngModel)]="_selectedFlavor" appendTo="body"></p-dropdown>

    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              [label]="'applications.content.entryDetails.downloadEntry.downloadEntry' | translate"
              (click)="_downloadFlavor(_selectedFlavor)"></button>
    </div>
  </div>
</v-area-blocker>
