<v-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage" [bodyScroll]="true">
	<div class="vmcDetailsLayout vOverrideFAIcons">
		<div class="vContent vDetailsWrapper">
			<vSticky  stickyId="profileHeader" [sticksTo]="'header'" stickyClass="stickyHeader">
				<div class="vDetailsHeader">
					<div class="vContent">
						<button pButton class="vButtonDefault vBackBtn small" icon="vIconarrow_backward" (click)="_backToList()"></button>
						<div class="vTitle">{{ _profileName }}</div>
						<button pButton class="vButtonBranded vSaveBtn"
                    [label]="'applications.settings.transcoding.profile.save' | translate"
                    [disabled]="_isSaveDisabled"
                    (click)="_save()"></button>
						<button pButton class="vButtonDefault vNavigationBtnLeft" [disabled]="!_enablePrevButton" (click)="_navigateToPrevious()" icon="vIconarrow_backward"></button>
						<button pButton class="vButtonDefault vNavigationBtnRight" [disabled]="!_enableNextButton" (click)="_navigateToNext()" icon="vIconarrow_forward"></button>
					</div>
				</div>
			</vSticky>
			<div class="vHeaderDetails">
				<vTranscodingProfileDetails></vTranscodingProfileDetails>
			</div>
			<div class="vDetailsMain">
        <div class="vSections">
          <vTranscodingProfileSectionsList></vTranscodingProfileSectionsList>
        </div>
				<div class="vDetailsContent">
					<router-outlet></router-outlet>
				</div>
			</div>
			<div class="vSpacer"></div>
		</div>

	</div>
</v-area-blocker>
