@import 'app-theme/_variables.scss';

.vLiveDashboardContainer {
  width: 100%;
}
.vLive{
  padding: 24px;
  padding-top: 0;
  width: 100%;
	.vTitle{
		color: $vGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
  .vButtons{
    padding-top: 12px;

    .vButtonLiveDashboard {
      height:34px;
      width: 160px;
      /deep/ .vIconstatistic{
        line-height: 18px;

        &:before {
          font-size: 22px;
          color: $vGrayscale3;
        }
      }
    }
  }
	.vLiveDetails{
		box-sizing: border-box;
		width: 100%;
		button{
			font-weight: 400;
		}
		.vSubTitle{
			display: block;
			color: $vGrayscale1;
			font-size: 16px;
			font-weight: 700;
            padding-top: 42px;

      &:first-child {
        margin-top:0;
      }
		}
		.vRow{
			display: flex;
			padding-top: 18px;
			align-items: center;

            .vControl {
                color: $vGrayscale2;
                height: 34px;
                width: 360px;
                border-radius: 3px;
                &.vInputSwitch {
                    padding-right: 12px;

                    & + span {
                        vertical-align: middle;
                    }
                }
            }
		}
		.vCopyBtn{
			border: 0px solid white;
			&:active:not(:disabled){
				box-shadow: none;
			}
			outline: none;
			font-size: 18px;
		}

		.vTableHeader{
			font-weight: 700;
		}
		.vNote{
			display: block;
			margin-top: 14px;
			margin-bottom: 14px;
		}
		.vLabels{
			flex: 0 0 auto;
			width: 150px;
		}
		.vWideLabels{
			flex: 0 0 auto;
			width: 225px;
		}
		.vLiveNumber{
			width:20px;
		}
		.vLiveBitrateCB{
			margin-top: -2px;
			width:26px;
		}
		.vLiveBitrate{
			width:200px;
			flex: 0 0 auto;
		}
		.vLiveKbps{
			font-size:13px;
			margin-left: 4px;
		}
		.vLiveWidth{
			width:80px;
		}
		.vLiveX{
			text-align: center;
			width:40px;
		}
		.vLiveHeight{
			width:80px;
		}
		.vReportLink{
			margin-left: 12px;
			&.vDisabled{
				pointer-events: none;
				color: $vGrayscale4;
			}
		}
		.vError{
			line-height: 28px;
			padding-left: 20px;
			color: $vDandger;
			font-size: 13px;
		}
	}

}

:host /deep/ .ui-dropdown{
	width: 200px !important;
}
:host /deep/ .vLiveBitrate .ui-dropdown{
	width: 120px !important;
}
:host /deep/ .ui-dropdown-label.ui-inputtext{
	background-color: #ffffff;
}

:host /deep/ .ui-spinner .pi{
	margin-top: -.8em;
}

:host /deep/ span.ui-button-icon-left.vIconcalendar{
	padding-top: 2px !important;
}
