<div class="vSubcategoriesTableFilters">
  <vSticky stickyId="subcategoryContentBulk"
           sticksTo="categoryHeader"
           stickyClass="vStickyHeader"
           [scrollOffset]="120">
    <div class="vHeader">
      <div class="vBulkActionsContainer">
        <div class="vBulkActions" *ngIf="selectedItems.length; else addItemWrap">
          <button pButton
                  [disabled]="_vmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | vDisabledIfNotPermitted"
                  class="vButtonDefault vMoveBtn vMoveBtnTop"
                  icon="vIcondropdown_arrow_top"
                  (click)="_moveItems('up')"></button>
          <button pButton
                  class="vButtonDefault vMoveBtn vMoveBtnBottom"
                  [disabled]="_vmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | vDisabledIfNotPermitted"
                  icon="vIcondropdown_arrow_bottom"
                  (click)="_moveItems('down')"></button>
          <button pButton class="vButtonDanger vBulkDeleteBtn"
                  [disabled]="_vmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | vDisabledIfNotPermitted"
                  label="{{'applications.content.categoryDetails.subcategories.tableHeaderDetails.remove' | translate}}"
                  (click)="_deleteItems()"></button>
        </div>
        <ng-template #addItemWrap>
          <button
            pButton
            type="button"
            [disabled]="_vmcPermissions.CONTENT_MANAGE_EDIT_CATEGORIES | vDisabledIfNotPermitted"
            label="{{'applications.content.categoryDetails.subcategories.tableHeaderDetails.addSubcategory' | translate}}"
            class="vButtonBranded vAddItemBtn"
            (click)="addItem.emit()">
          </button>
        </ng-template>
        <span class="vSelectedItemsNum" *ngIf="itemsTotalCount">
          {{ _getTranslation('applications.content.categoryDetails.subcategories.tableHeaderDetails.total', itemsTotalCount) }}
      </span>
        <div *ngIf="selectedItems.length" class="vSelected">
          <span class="vSelectedItemsLabel">
            • {{ _getTranslation('applications.content.categoryDetails.subcategories.tableHeaderDetails.selected', selectedItems.length) }}
          </span>
          <a class="vBulkCancel" (click)="clearSelection.emit()">
            {{'applications.content.categoryDetails.subcategories.tableHeaderDetails.cancel' | translate}}
          </a>
        </div>
      </div>
    </div>
  </vSticky>
</div>

