<form [formGroup]="_form" novalidate>
  <div class="vRow vTitle">
    {{'applications.content.syndication.details.destinationsForms.yahoo.title' | translate}}
  </div>
  <div class="vContentFlavor">

    <!--Content Flavor-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.contentFlavor.label' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <p-dropdown class="vControl" [options]="_availableContentFlavors" formControlName="contentFlavor"
                      [autoWidth]="false" [filter]="true">
          </p-dropdown>
        </span>
        <!--Add to default transcoding profile-->
        <div class="vAddToDefaultTranscodingProfile">
          <p-checkbox formControlName="addToDefaultTranscodingProfile"
                      label="{{'applications.content.syndication.details.destinationsForms.yahoo.contentFlavor.checkbox' | translate}}"
                      binary="true"></p-checkbox>
        </div>
      </div>
    </div>

    <!--Landing Page-->
    <div class="vRow" [class.vInputValidationError]="_form.get('landingPage').touched && _form.get('landingPage').invalid">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.landingPage.label' | translate}}</span>
      <div class="vAsterix"
           [ngClass]="{'vHasError':!_form.get('landingPage').valid && _form.get('landingPage').touched}">*
      </div>
      <div class="vControlContainer">
        <input class="vControl" formControlName="landingPage" pInputText placeholder="http://"
               [ngClass]="{'vHasError':!_form.get('landingPage').valid && _form.get('landingPage').touched}">
        <div *ngIf="_form.get('landingPage').touched && _form.get('landingPage').hasError('required')"
             class="error">
          {{'applications.content.syndication.details.destinationsForms.yahoo.errors.requiredLandingPage' | translate}}
        </div>
        <div *ngIf="_form.get('landingPage').touched && _form.get('landingPage').hasError('url')"
             class="error">
          {{'applications.content.syndication.details.destinationsForms.yahoo.errors.invalidLandingPage' | translate}}
        </div>
      </div>
    </div>

    <!--Landing Page Explanation-->
    <div class="vLandingPageExplanation">
      {{'applications.content.syndication.details.destinationsForms.yahoo.landingPage.explanation' | translate}}
    </div>


    <!--Playback-->
    <div class="vRow vPlayback vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.playback.label' | translate}}</span>
      <div class="vControlContainer">
            <span class="vControl">
              <p-radioButton class="vFromYahoo" name="playback" (click)="_clearPlayer()"
                             [value]="'fromYahoo'"
                             formControlName="playback"
                             label="{{'applications.content.syndication.details.destinationsForms.yahoo.playback.fromYahoo' | translate}}">
              </p-radioButton>
              <p-radioButton class="vPlaybackLinkback" name="playback"
                             [value]="'linkback'"
                             formControlName="playback"
                             label="{{'applications.content.syndication.details.destinationsForms.yahoo.playback.linkback' | translate}}">
              </p-radioButton>
            </span>
        <!--Select Player-->
        <div class="vSelectPlayer" *ngIf="_form.get('playback').value === 'fromYahoo'">
          <div class="vSelectPlayerLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.playback.player' | translate}}</div>
          <p-dropdown class="vSelectPlayerControl" [options]="_availablePlayers" formControlName="selectedPlayer"
                      [autoWidth]="false" [filter]="true">
              <ng-template let-item pTemplate="selectedItem">
                  <div class="playerItem selectedPlayer">
                      <div [class]="'playerIcon v'+item.version"></div>
                      <span>{{item.label}}</span>
                  </div>
              </ng-template>
              <ng-template let-item pTemplate="item">
                  <div class="playerItem">
                      <div [class]="'playerIcon v'+item.version"></div>
                      <span>{{item.label}}</span>
                      <i class="check vIconcheck_small"></i>
                  </div>
              </ng-template>
          </p-dropdown>
        </div>
        <div class="vSelectPlayerInfo">
          {{'applications.content.syndication.details.destinationsForms.yahoo.playback.playerMessage' | translate}}
        </div>
      </div>
    </div>


    <!--Website-->
    <div class="vRow" [class.vInputValidationError]="_form.get('website').touched && _form.get('website').invalid">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.website.label' | translate}}</span>
      <div class="vAsterix"
           [ngClass]="{'vHasError':!_form.get('website').valid && _form.get('website').touched}">*
      </div>
      <div class="vControlContainer">
        <input class="vControl" formControlName="website" pInputText placeholder="http://"
               [ngClass]="{'vHasError':!_form.get('website').valid && _form.get('website').touched}">
        <div *ngIf="_form.get('website').touched && _form.get('website').hasError('required')"
             class="error">
          {{'applications.content.syndication.details.destinationsForms.yahoo.errors.requiredWebsite' | translate}}
        </div>
        <div *ngIf="_form.get('website').touched && _form.get('website').hasError('url')"
             class="error">
          {{'applications.content.syndication.details.destinationsForms.yahoo.errors.invalidWebsite' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Description-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.description.label' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <textarea formControlName="description" class="threeRows" [rows]="6" [cols]="60" pInputTextarea></textarea>
        </span>
      </div>
    </div>

    <!--Categories-->
    <div class="vRow">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.yahoo.category.label' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <p-multiSelect class="vCategories"
                         [options]="_availableCategories"
                         formControlName="selectedCategories" [filter]="false" maxSelectedLabels="2"
                         selectedItemsLabel="{{'applications.content.syndication.details.destinationsForms.yahoo.category.itemsSelected' | translate}}"
                         defaultLabel="{{'applications.content.syndication.details.destinationsForms.yahoo.category.promptText' | translate}}"></p-multiSelect>
        </span>
      </div>
    </div>

  </div>
</form>
