@import 'app-theme/_variables.scss';

.vTitle {
  height: 24px;
  width: 100%;
  color: $vGrayscale1;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.vAddToDefaultTranscodingProfile {
  padding-top: 11px;
  /deep/ {
    .ui-chkbox-label {
      font-weight: normal;
    }
  }
}

.vLandingPageExplanation {
  color: $vGrayscale1;
  width: 710px;
  padding-top: 12px;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 20px;
}

.vPlayback {
  .vSelectPlayer {
    padding-top: 17px;
    display: flex;
    align-items: center;

    .vSelectPlayerLabel {
      flex: 0 0 auto;
    }
    .vSelectPlayerControl {
      padding-left:23px;
    }
  }

  .vPlaybackLinkback {
    padding-left: 31px;
  }

  .vSelectPlayerInfo {
    padding-top: 12px;
  }
}
:host /deep/ .vSelectPlayer p-dropdown{
    .ui-dropdown{
        width: 380px !important;
    }
    .ui-dropdown-panel .ui-dropdown-filter-container{
        padding-left: 12px;
    }
    .ui-dropdown-filter.ui-inputtext{
        width: 350px;
    }
    .pi-pi-search:before{
        font-size: 20px;
        content: "\e911";
    }

    .ui-dropdown label{
        padding-left: 2px;
    }
    .ui-dropdown-item.ui-corner-all{
        padding-left: 8px;
        padding-right: 8px;
        width: 340px;
    }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight:after{
        content: none;
    }
    .check{
        margin-left: auto;
        display: none;
    }
    .ui-dropdown-item.ui-corner-all.ui-state-highlight .check{
        display: block;
    }
}
