<v-area-blocker [showLoader]="_widgetService.showSectionLoader" [message]="_widgetService.sectionBlockerMessage"
                [bodyScroll]="true">
    <div class="vAdvertisements">
        <div class="vTitle">{{'applications.content.entryDetails.advertisements.title' | translate}}</div>
        <div class="vDescription">{{'applications.content.entryDetails.advertisements.description' | translate}}</div>
        <div class="vButtons">
            <div>
                <button pButton class="vButtonDefault"
                        [disabled]="!_advertisementsEnabled"
                        (click)="advertisements.open()"
                        label="{{'applications.content.entryDetails.advertisements.manageAdvertisements' | translate}}"></button>
            </div>
        </div>
    </div>
</v-area-blocker>

<vPopupWidget #advertisements data-aid="advertisements" [fullScreen]="true">
  <ng-template>
    <vEntryEditor [entry]="_widgetService.data"
                  [entryHasSource]="true"
                  [tab]="'advertisements'"
                  [parentPopupWidget]="advertisements"></vEntryEditor>
  </ng-template>
</vPopupWidget>
