@import 'app-theme/_variables.scss';

.vRefineFilters{
  margin: 12px;
}
.vTreeContainer{
	float: left;
	width: 100%;
	border-bottom: 1px solid $vGrayscale6;
	margin: 0 -20px 10px -20px;
	padding: 0 0 10px 20px;
	width: 387px;
	position: relative;
}

.vFiltersGroupTitle {
	color: $subLinkColor;
	font-size: 12px;
	letter-spacing: .5px;
	cursor: pointer;
	text-decoration: none;
	margin: 5px 0 15px;
}

.vDateRange{
	margin-bottom: 5px;
}

.vClearDates{
	margin: 5px 0 0;
}

.vClose{
	float: right;
}

.disabledLink {
  color: $vGrayscale4;
  cursor: default;
  text-decoration: none;
}

:host /deep/ .vDateRange .ui-calendar.ui-calendar-w-btn {
	width: 158px;
}

:host /deep/ .vDateRange .ui-calendar .ui-inputtext {
	margin: 0;
	padding-left: 33px;
	width: 100%;
}

:host /deep/ .vDateRange .vDateRangeFirst .ui-calendar.ui-calendar-w-btn {
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

:host /deep/ .vDateRange .vDateRangeLast .ui-calendar.ui-calendar-w-btn {
	border-left: 0 solid $vGrayscale4;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-left: -3px;
}

/deep/ vPopupWidget .vPopupWidget {
	overflow: visible !important;
}
