<v-area-blocker [showLoader]="_showLoader" [message]="_blockerMessage">
	<div class="vRefineFilters">
		<div class="vTreeContainer">
			<div class="vFiltersGroupTitle">
				{{'applications.content.filters.createdBetween' | translate | uppercase}}
			</div>
			<div class="vDateRange">
				<p-calendar
					class="vDateRangeFirst"
					[(ngModel)]="createdAfter"
					[readonlyInput]="true"
					[showIcon]="true"
					[monthNavigator]="true"
					[yearNavigator]="true"
					[maxDate]="createdBefore"
					[yearRange]="_createdAtDateRange"
                    [dateFormat]="_calendarFormat"
					icon="vIconcalendar"
					(onSelect)="_onCreatedChanged()"></p-calendar>
				<p-calendar
					class="vDateRangeLast vPullLeft30"
					[(ngModel)]="createdBefore"
					[readonlyInput]="true"
					[showIcon]="true"
					[monthNavigator]="true"
					[yearNavigator]="true"
					[minDate]="createdAfter"
                    [dateFormat]="_calendarFormat"
					[yearRange]="_createdAtDateRange"
					icon="vIconcalendar"
					(onSelect)="_onCreatedChanged()"></p-calendar>
				<div class="vClearDates">
          <a (click)="_clearCreatedComponents()" [ngClass]="{disabledLink: !createdAfter && !createdBefore}">{{'applications.content.filters.clearDates' | translate}}</a>
        </div>
			</div>
		</div>
		<div>
			<a class="vClose" (click)="_close()">{{'applications.content.filters.close' | translate}}</a>
		</div>
	</div>
</v-area-blocker>
