@import 'app-theme/_variables.scss';

.vContainer {
  overflow: hidden;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  .vHeader {
    flex: 0 0 auto;
    height: 72px;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    .vButton {
      float: right;
      height: 34px;
      width: 88px;
    }
    .vTitle {
      float: left;
      font-weight: 700;
      padding: 8px;
    }
    .vInheritanceMessage {
      display: block;
      clear: both;
      padding: 0 8px;
      width: 850px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $vDandger;
    }
  }
  .vHeader.vInheritance {
    height: 80px;
  }

  .vBulkActionsContainer {
    flex: 0 0 auto;
    padding: 9px 0 9px 24px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid $vGrayscale4;
    .vAddItemBtn {
        flex: 0 0 auto;
      height: 34px;
    }

    .vItemsNum {
      padding-left: 24px;
      display: inline-block;
      width: 392px;
    }

    .vItemsNum.vSelected {
      width: auto;
      padding-left: 0px;
    }

    .vBulkActions {
      margin-left: 16px;
      display: inline-block;

      .vSelectedItems {
        font-weight: bold;
      }

      .vBulkCancel {
        padding: 0 24px;
        color: #333333;
      }
    }

    .vFiltersContainer {
      display: flex;
      .vSearchInput {
        background: $vMagnifyingGlassBkg;
        padding-left: 38px;
        margin-right: 16px;
        width: 258px;
      }

      .vRefine {
        display: flex;
        height: 32px;
        align-items: center;
        cursor: pointer;
        color: $vGrayscale1;
        width: 160px;
        position: relative;
        i {
          margin-right: 12px;
          margin-left: 8px;
          font-size: 24px;
          color: $vGrayscale4;
          &.dropdown {
            font-size: 10px;
          }
        }
        .dropdown {
          position: absolute;
          right: 4px;
          top: 12px;
        }
      }
    }

    .vHidden {
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
  }

  .vManageEndUserPermissionsTable {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 34px;
  }
  vManageEndUserPermissionsTable{
    width: 100%;
  }

  .vTableFooter {
    flex: 0 0 auto;
    bottom: 0;
    height: 34px;
    background-color: white;
    border-top: 1px solid $vGrayscale6;
    position: fixed;
    box-sizing: border-box;
    padding: 0 14px 28px;
    display: block;
    width: 996px;
  }

  .vPaginatorShowRowsLabel {
    color: $vGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
}


:host /deep/ {
  .ui-dropdown {
    height: 34px;
    border: 1px solid $vGrayscale4;

    .ui-dropdown-label {
      color: $vGrayscale1;
      font-size: 15px;
    }
  }
}
.vBulkActionsBtn {
  font-size: 15px;
}

:host{
  width: 100%;
}

:host /deep/  .vIcondropdown_arrow_bottom {
  font-size: 12px;
  color: $vGrayscale3;
}

:host /deep/  .ui-widget-header.ui-table-scrollable-header {
  border-top: 0px solid white;
}
:host /deep/ vtags .vTags {
  border-top: 0px solid white;
  border-bottom: 1px solid $vGrayscale4;
}

:host /deep/  .ui-button-text-icon-right .ui-button-text {
  padding-left: 10px;
}

:host /deep/ vSticky {
  width: 100%;
}

:host /deep/ .vStickyHeader {
  background-color: white;
  border-top: 2px solid $vGrayscale6;
  box-shadow: $vGrayscale5 0px 1px 0px;
  display: flex;
  height: 68px;
  width: inherit;
}
:host /deep/ .vTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
