@import 'app-theme/_variables.scss';

$app-styles-path: '../../../styles';
@import '../../../styles/icons.scss';

:host {
  width: 100%;
}

.vProfileIcon
{
  margin-right:20px;
}

.vEditDistributionProfileWrap {
  .vFloater {
    display: flex;
    flex-direction: column;
    color: $vGrayscale1;

    .vHeader {
      height: 78px;
      width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $vGrayscale4;
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      .vTitle {
        display: flex;
        align-items: center;

        img {
          width: 24px;
          margin-right: 10px;
        }

        .vTitleNames {
          display: flex;
          flex-direction: column;

          .vTitleProfileName {
            color: $vGrayscale1;
            font-size: 15px;
            font-weight: 700;
          }

          .vTitleDistributionName {
            color: $vGrayscale3;
            font-size: 14px;
            margin-top: 10px;
            text-transform: capitalize;
          }
        }
      }

      .vButtons {
        display: flex;
        margin-left: auto;

        .vCancel {
          font-size: 15px;
          color: #333333;
          align-self: center;
          margin-right: 24px;
        }

        .vButtonDefault {
          font-weight: normal;
        }
      }
    }

    .vContainer {
      flex: 1 1 auto;
      padding: 28px;
      height: calc(100vh - 213px);
      overflow-y: auto;

      .vRow {
        display: flex;
        padding-top: 20px;

        &.vFirstRow {
          padding-top: 0;
        }

        .vDistributionLink {
          a {
            display: block;
            margin-bottom: 10px;
          }

        }

        .vError {
          margin-top: 10px;
          font-size: 14px;
          color: $vDandger;
        }

        .vLabel {
          width: 172px;
          flex: 0 0 auto;
          height: 18px;
          color: $vGrayscale1;
          font-size: 15px;
          line-height: 18px;
          padding: 8px 4px;
        }

        .vReadonlyData {
          padding: 8px 0;
          font-size: 15px;

          .vIconinactive {
            color: $vGrayscale3;
            margin-right: 8px;
            position: relative;
            top: 1px;
          }

          .vStatus {
            .vStatusIcon {
              font-size: 16px;
              position: relative;
              top: 1px;
              margin-right: 5px;
            }

            .vIconhelp_full,
            .vIconupload2 {
              color: $vOrange;
            }

            .vIconcomplete {
              color: $vSuccess;
            }

            .vIconsync {
              color: $vSecondary;
            }

            .vIconerror {
              color: $vDandger;
            }
          }
        }

        .vControl {
          height: 34px;
          color: $vGrayscale2;
          width: 500px;
          border-radius: 3px;

          &.vDateControl {
            width: 176px;
          }

          &.vControlInvalid {
            border: 1px solid $vDandger;
          }
        }
      }

      .vFormHeader {
        margin-top: 32px;
        margin-bottom: 24px;
      }
    }
  }
}

:host /deep/ .vEditDistributionProfileWrap {
  p-checkbox {
    padding: 6px 0;
    .ui-chkbox-label {
      font-size: 15px;
      font-weight: normal;
    }
  }

  .vDateControl .ui-inputtext {
    width: 176px;
  }

  .ui-inputtext:disabled {
    border-color: $vGrayscale2;
    color: $vGrayscale2;
  }

  .vRemoveProfile {
    .vIcontrash {
      font-size: 24px;
    }

    .ui-button-text {
      margin-left: 16px;
    }
  }
}
