<div class="vEditDistributionProfileWrap">
  <div class="vFloater">
    <div class="vHeader">
      <div class="vTitle">
        <div [class]="'vProfileIcon ' + (undistributedProfile?.providerType | vEntriesDistributionProviderTypeIcon)"></div>
        <div class="vTitleNames">
          <span class="vTitleProfileName">{{_profileName}}</span>
          <span *ngIf="!_forDistribution" class="vTitleDistributionName">{{_distributionName}}</span>
        </div>
      </div>
      <div class="vButtons">
        <a class="vCancel" (click)="_cancel()">
          {{'applications.content.entryDetails.distribution.cancel' | translate}}
        </a>
        <button type="button"
                class="vButtonBranded"
                pButton
                [disabled]="_actionDisabled"
                [label]="_addButtonLabel"
                (click)="_saveProfile()"></button>
      </div>
    </div>
    <div class="vContainer">
      <form [formGroup]="_distributionForm">
        <div class="vRow vFirstRow">
          <span class="vLabel">{{'applications.content.entryDetails.distribution.form.status' | translate}}</span>
          <span class="vReadonlyData" *ngIf="_forDistribution">
            <i class="vIconinactive"></i>
            {{'applications.content.entryDetails.distribution.status.notDistributed' | translate}}
          </span>
          <span class="vReadonlyData" *ngIf="!_forDistribution">
            <span class="vStatus">
              <i class="vStatusIcon" [ngClass]="_profile | vEntriesDistributionStatus:'icon'"></i>
              {{_profile | vEntriesDistributionStatus:'label'}}
            </span>
          </span>
        </div>

        <div class="vRow" *ngIf="_forDistribution">
          <span class="vLabel">{{'applications.content.entryDetails.distribution.form.updates' | translate}}</span>
          <p-checkbox [label]="'applications.content.entryDetails.distribution.form.updateAutomatically' | translate"
                      [formControl]="_updatesField"
                      binary="true"></p-checkbox>
        </div>

        <div *ngIf="!_forDistribution">
          <div class="vRow" *ngIf="_profile?.updatedAt !== undefined">
              <span class="vLabel">
                {{'applications.content.entryDetails.distribution.form.lastUpdate' | translate}}
              </span>
            <span class="vReadonlyData">
              {{_profile?.updatedAt | vmcDate:'dateOnly'}}
            </span>
          </div>

          <div class="vRow" *ngIf="_profile?.remoteId !== undefined">
            <span class="vLabel">{{'applications.content.entryDetails.distribution.form.remoteId' | translate}}</span>
            <span class="vReadonlyData">
              {{_profile?.remoteId}}
            </span>
          </div>

          <div class="vRow" *ngIf="(_requestXmlLink || _responseXmlLink) && (_vmcPermissions.CONTENTDISTRIBUTION_PLUGIN_PERMISSION | vNgIfPermitted)">
            <span class="vLabel">{{'applications.content.entryDetails.distribution.form.logs' | translate}}</span>
            <span class="vReadonlyData vDistributionLink">
            <a *ngIf="_requestXmlLink" [href]="_requestXmlLink" target="_blank">
              {{'applications.content.entryDetails.distribution.form.requestXml' | translate}}
            </a>
            <a *ngIf="_responseXmlLink" [href]="_responseXmlLink" target="_blank">
              {{'applications.content.entryDetails.distribution.form.requestXml' | translate}}
            </a>
          </span>
          </div>
        </div>

        <div class="vRow">
          <span class="vLabel">{{'applications.content.entryDetails.distribution.form.startDate' | translate}}</span>
          <p-calendar class="vControl vDateControl"
                      icon="vIconcalendar"
                      [showTime]="true"
                      [readonlyInput]="true"
                      [showIcon]="true"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      [formControl]="_startDateField"
                      [yearRange]="_createdAtDateRange"
                      [dateFormat]="_calendarFormat"
                      (onSelect)="_onCreatedChanged()"></p-calendar>
        </div>

        <div class="vRow">
          <span class="vLabel">{{'applications.content.entryDetails.distribution.form.endDate' | translate}}</span>
          <div>
            <p-calendar class="vControl vDateControl"
                        icon="vIconcalendar"
                        [showTime]="true"
                        [readonlyInput]="true"
                        [showIcon]="true"
                        [monthNavigator]="true"
                        [yearNavigator]="true"
                        [formControl]="_endDateField"
                        [yearRange]="_createdAtDateRange"
                        [dateFormat]="_calendarFormat"
                        (onSelect)="_onCreatedChanged()"></p-calendar>
            <div *ngIf="_createdFilterError" class="vError">{{_createdFilterError}}</div>
          </div>
        </div>
      </form>
      <div class="vRow vRemoveProfile" *ngIf="!_forDistribution">
        <span class="vLabel"></span>
        <div>
          <button pButton class="vButtonDanger"
                  icon="vIcontrash"
                  [disabled]="_vmcPermissions.CONTENT_MANAGE_DISTRIBUTION_REMOVE | vDisabledIfNotPermitted"
                  [label]="'applications.content.entryDetails.distribution.form.delete' | translate"
                  (click)="_deleteProfile(_profile)"></button>
        </div>
      </div>

      <vEditDistributionProfileMetadata
        [entry]="entry"></vEditDistributionProfileMetadata>

      <vEditDistributionProfileFlavors
        [requiredFlavors]="_requiredFlavors"></vEditDistributionProfileFlavors>

      <vEditDistributionProfileThumbnails
        [requiredThumbnails]="_requiredThumbnails"></vEditDistributionProfileThumbnails>
    </div>
  </div>
</div>
