@import 'app-theme/_variables.scss';

.vScheduling{
	padding: 20px;
	p{
		height: 30px;
	}
	.vTitle{
		color: $vGrayscale1;
		font-size: 20px;
		font-weight: 700;
	}
	.vBlock{
		display: block;
		width: 100%;
		margin-bottom: 24px;
	}
	.vNote{
		margin-top: 24px;
	}
	.vSchedulingDetails{
		padding-right: 12px;
		margin-top: 12px;
		width: 100%;
		.vRow{
			display: flex;
			padding-top: 18px;
		}
		.vLabels{
			margin-top: 5px;
			width: 130px;
			flex: 0 0 auto;
		}
	}
	.vDisabled{
		opacity: 0.3;
		cursor: default;
		pointer-events: none;
	}
}
:host /deep/ label{
	font-weight: 400;
}


:host /deep/ .ui-calendar .ui-inputtext{
	width: 140px !important;
}

