@import "app-theme/_variables.scss";

.vTreeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .vHeader {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $vGrayscale4;
    height: 78px;
    padding-top: 24px;
    box-sizing: border-box;
    .vTitle {
      color: $vGrayscale1;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .vContainer {
    width: 520px;
    margin: 0 auto;
    height: 119px;

    .vRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 20px;

      &:first-child {
        padding-top: 20px;
      }
      .vLabel {
        width: 100px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        height: 18px;
        color: $vGrayscale1;
        font-size: 15px;
        line-height: 18px;
      }

      .vRequired {
        width: 20px;
        font-size: 24px;
        color: $vGrayscale3;
        &.vHasError {
          color: $vDandger;
          font-weight: bold;
        }
      }
      .vRequired, .vLabel {
        padding: 8px 4px 0px 0px;
      }
      .vControl {
        height: 34px;
        color: $vGrayscale2;
        width: 375px;
        border-radius: 3px;
        &.vHasError {
          border: 1px solid $vDandger;
          background: initial;
        }
      }
      .error {
        padding-top: 8px;
      }
    }

    .vMain {
      border: 1px solid $vGrayscale4;
      border-radius: 4px;
      height: 311px;
      padding: 8px;
      box-sizing: border-box;
    }
  }
  .vFooter {
    border-top: 1px solid $vGrayscale4;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    height: 66px;
    .vButtonBranded {
      height: 34px;
    }
    .vLink {
      padding-left: 24px;
    }
  }
}
