<v-area-blocker [message]="_blockerMessage" style="height: 100%">

  <div class="vTreeContainer vOverrideFAIcons vRadioButtonPOC">

    <div class="vHeader">
    <span class="vTitle">
      <span *ngIf="newCategoryForm">{{('applications.content.addNewCategory.newSubcategory') | translate}}</span>
    </span>
    </div>
    <div class="vContainer">
      <form class="vRow" [formGroup]="newCategoryForm" novalidate>
        <span class="vLabel">{{'applications.content.addNewCategory.name' | translate}}</span>
        <div class="vRequired" [ngClass]="{'vHasError':!newCategoryForm.controls['name'].valid &&
                   newCategoryForm.controls['name'].touched}">*
        </div>
        <div>
          <input class="vControl" formControlName="name" pInputText
                 [ngClass]="{'vHasError':!newCategoryForm.controls['name'].valid &&
                   newCategoryForm.controls['name'].touched}">
          <div *ngIf="newCategoryForm.controls['name'].touched &&
                 newCategoryForm.controls['name'].hasError('required')"
               class="error">
            {{'applications.content.addNewCategory.errors.requiredName' | translate}}
          </div>
        </div>
      </form>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()" [disabled]="!newCategoryForm.controls['name'].valid"></button>
      <a class="vLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</v-area-blocker>
