@import 'app-theme/_variables.scss';

.vPlaylistEntriesHolder {
  width: 100%;
  height: 100%;
  border: 1px solid $vGrayscale6;
  position: relative;
  display: flex;
  flex-direction: column;

  .vPlaylistEntriesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
    display: block;
  }
}
