@import 'app-theme/_variables.scss';

.vPlaylistEntriesTableFilters {
  width: 100%;
  height: 68px;
  background-color: white;
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .vHeader{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .vBulkActionsContainer {
    display: inline-flex;
    align-items: center;
  }

  .vPlaylistEntriesTableDuration {
    margin-right: 14px;
    margin-left: auto;
  }

  .vBulkActions {
    margin-left: 14px;
    display: flex;
    align-items: center;

    .vBulkDeleteBtn {
      padding: 0 8px;
    }
  }

  .vAddEntryBtn {
    margin-left: 14px;
    height: 36px;
    border: none;
  }

  .vSelectedEntriesLabel {
    font-weight: bold;
    margin-left: 12px;
  }

  .vSelectedEntriesNum {
    margin: 0 5px 0 20px;
  }

  .vBulkCancel {
    margin-left: 20px;
    color: #333333;
  }

  .vMoveBtn {
    width: 40px;
    height: 34px;
    margin: 0;
  }

  .vMoveBtnTop {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .vMoveBtnBottom {
    margin: 0 20px 0 -4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.vMoveBtnBottomDisabled {
      margin-left: -1px;
    }
  }
}

:host /deep/ vSticky{
  width: 100%;
}
:host /deep/ .vStickyHeader{
  background-color: white;
  border-top: 2px solid $vGrayscale6;
  box-shadow: $vGrayscale5 0px 1px 0px;
  display: flex;
  height: 68px;
  width: inherit;
}
