@import 'app-theme/_variables.scss';
.vTagsWrapper{
  z-index: 500;
}
.vSticky{
  border-bottom: 1px solid $vGrayscale5;
}
.vCategories {
  font-size: 15px;
  background-color: $appBkgColor;
  padding-top: 24px;
  width: 100%;
  min-width: $minAppWidth;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  .vSeparator{
    margin-bottom: 24px !important;
  }
  .vCategoriesHolder {
    height: 100%;
    min-height: $minTableHeight;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .vRefreshBtn {
    font-size: 24px;
    border: none;
    min-width: inherit;
    margin-right: 8px;
    width: 40px;
    outline: 0;
    color: $vGrayscale3;
    &:active {
      box-shadow: none;
      transform: rotate(45deg);
    }
    &:hover {
      background-color: #ffffff;
      color: $vPrimary;
    }
  }
  .vCategoriesTableFilters {
    color: $vGrayscale1;
    z-index: 500;
    height: 66px;
    background-color: white;
    flex: 0 0 auto;
    align-items: center;
    margin-left: 0px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    .vSelectedCategoriesNum {
      padding-left: 16px;
    }
  }
  .vCategoriesTableTags {
    width: 100%;
    height: 50px;
    background-color: #f3f3f3;
    border: 1px solid grey;
    flex: 0 0 50px;
  }
  .vCategoriesTableFooter {
    bottom: 0px;
    height: 34px;
    background-color: white;
    border-top: 1px solid $vGrayscale6;
    position: fixed;
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 0 14px 28px;
    display: block;
  }
  .vCategoriesTable {
    width: 100%;
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }
  .vSelectedCategoriesLabel {
    font-weight: bold;
    margin-right: 36px;
    margin-left: 5px;
  }
  .vSearchInput {
    background: $vMagnifyingGlassBkg;
    padding-left: 38px;
    margin-right: 8px;
    width: 260px;
  }
  .vBulkOperations {
    display: flex;
    align-items: center;
  }
  .vPaginatorShowRowsLabel {
    color: $vGrayscale1;
    position: absolute;
    top: 7px;
    right: 80px;
  }
  .vAddCategoryBtn {
    margin-left: 14px;
    height: 36px;
  }
  .vBulkCancel {
    margin-left: 10px;
  }
  .vBulkDeleteBtn {
    margin-right: 10px;
    width: 44px;
    font-size: 24px;
  }
  .vBulkActionsBtn {
    font-weight: 400;
    font-size: 15px;
  }
  .vFilters {
    display: flex;
    margin-left: auto;
  }
  .vCategoriesFilter {
    display: flex;
    height: 32px;
    align-items: center;
    cursor: pointer;
    color: $vGrayscale1;
    width: 190px;
    position: relative;
    margin-right: 8px;
    .vSpinnerBkg{
      position: relative;
      width: 20px;
      height: 20px;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 0px;
    }
    .vSpinnerAnim{
      width: 12px;
      height: 12px;
    }
    i {
      margin-right: 12px;
      margin-left: 8px;
      font-size: 24px;
      color: $vGrayscale4;
      &.dropdown {
        font-size: 10px;
      }
    }
    .dropdown {
      position: absolute;
      right: 4px;
      top: 12px;
    }
  }
  .vRefine {
    @extend .vCategoriesFilter;
    width: 160px;
  }
  .vHidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .vTagContent {
    display: flex;
    align-items: center;
  }
  .vTagLabel {
    flex: 0 0 auto;
    user-select: none;
    cursor: default;
  }
  .vTagRemove {
    flex: 0 0 auto;
    margin-top: 2px;
    margin-left: 8px;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border: 0px solid rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }
}

:host{
  width: 100%;
}

:host /deep/ span.ui-button-icon-left.pi-vIcontrash {
  margin-left: -.5em;
}

:host /deep/ .ui-tree {
  width: 380px;
}

:host /deep/ .ui-button-icon-right.vIcondropdown_arrow_bottom {
  font-size: 10px;
  margin-right: 2px;
  pointer-events: none;
}

:host /deep/ .ui-tieredmenu.ui-menu {
  width: 250px;
  .ui-submenu-icon {
    font-size: 10px;
    margin-top: 3px;
  }
}

:host /deep/ .ui-button-icon-only .pi {
  margin-left: -.5em;
}

:host /deep/ .vStickyClass{
  border-bottom: 1px solid $vGrayscale5;
}

:host /deep/ .vCategoriesTableFooter {
  .ui-dropdown-panel {
    min-width: 70px;
  }
}
