<v-area-blocker [showLoader]="_widgetService.showSectionLoader"
                [message]="_widgetService.sectionBlockerMessage">
  <div class="vSubcategoriesHolder">
    <vSubcategoriesListBulkOperationsContent
      [itemsTotalCount]="_subcategoriesCount"
      (deleteItems)="_deleteSelected($event)"
      (clearSelection)="_clearSelection()"
      (moveItems)="_widgetService.moveSubcategories($event)"
      [selectedItems]="_selectedSubcategories"
      (addItem)="addNewSubcategory.open()">
    </vSubcategoriesListBulkOperationsContent>

    <vCategorySubcategoriesTable
      class="vSubcategoriesTable"
      [(selectedSubcategories)]="_selectedSubcategories"
      [subcategories]="_subcategories"
      (onActionSelected)="_onActionSelected($event)">
    </vCategorySubcategoriesTable>
  </div>
</v-area-blocker>


<vPopupWidget #addNewSubcategory data-aid="addNewSubcategory" [popupWidth]="586" [popupHeight]="260" [modal]="true" [preventPageScroll]="true">
  <ng-template>
    <vNewSubcategory [categoryParentId]="_widgetService.data?.id" (onSubCategoryAdded)="_widgetService.addSubcategoryToList($event)" [parentPopupWidget]="addNewSubcategory"></vNewSubcategory>
  </ng-template>
</vPopupWidget>
