@import 'app-theme/_variables.scss';

.vSubcategoriesHolder {
  width: 100%;
  height: 100%;
  border: 1px solid $vGrayscale6;
  position: relative;
  display: flex;
  flex-direction: column;

  .vSubcategoriesTable {
    border: none;
    position: relative;
    background-color: white;
    flex: 1 1 auto;
  }
}

:host /deep/ .vIcondropdown_arrow_top,
:host /deep/ .vIcondropdown_arrow_bottom {
  font-size: 12px;
}
