<form [formGroup]="_form" novalidate>
  <div class="vRow vTitle">
    {{'applications.content.syndication.details.destinationsForms.itunes.title' | translate}}
  </div>
  <div class="vContentFlavor">

    <!--Content Flavor-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.contentFlavor.label' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <p-dropdown class="vControl"
                      [options]="_availableContentFlavors"
                      [formControl]="_contentFlavorField"
                      [autoWidth]="false"
                      [filter]="true">
          </p-dropdown>
        </span>
        <!--Add to default transcoding profile-->
        <div class="vAddToDefaultTranscodingProfile">
          <p-checkbox [formControl]="_addToDefaultTranscodingProfileField"
                      [label]="'applications.content.syndication.details.destinationsForms.itunes.contentFlavor.checkbox' | translate"
                      binary="true"></p-checkbox>
        </div>
      </div>
    </div>

    <!--Landing Page-->
    <div class="vRow">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.landingPage.label' | translate}}</span>
      <div class="vAsterix" [ngClass]="{'vHasError':_landingPageField.touched && _landingPageField.invalid}">*
      </div>
      <div class="vControlContainer">
        <input class="vControl" [formControl]="_landingPageField" pInputText placeholder="http://"
               [ngClass]="{'vHasError':_landingPageField.touched && _landingPageField.invalid}">
        <div *ngIf="_landingPageField.touched && _landingPageField.hasError('required')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredLandingPage' | translate}}
        </div>
        <div *ngIf="_landingPageField.touched && _landingPageField.hasError('url')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidLandingPage' | translate}}
        </div>
      </div>
    </div>

    <!--Landing Page Explanation-->
    <div class="vLandingPageExplanation">
      {{'applications.content.syndication.details.destinationsForms.itunes.landingPage.explanation' | translate}}
    </div>

      <!--Feed author-->
      <div class="vRow">
          <span class="vLabel">
              {{'applications.content.syndication.details.destinationsForms.itunes.feedAuthor' | translate}}
          </span>
          <div class="vControlContainer">
              <input class="vControl" [formControl]="_feedAuthorField" pInputText>
          </div>
      </div>

    <!--Website-->
    <div class="vRow">
      <span
        class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.website' | translate}}</span>
      <div class="vControlContainer">
        <input class="vControl" [formControl]="_websiteField" pInputText placeholder="http://"
               [ngClass]="{'vHasError':_websiteField.touched && _websiteField.invalid}">
        <div *ngIf="_websiteField.touched && _websiteField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidWebsite' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Description-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.description' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <textarea [formControl]="_feedDescriptionField" class="threeRows" [rows]="6" [cols]="60"
                    pInputTextarea></textarea>
        </span>
      </div>
    </div>

    <!--Categories-->
    <div class="vRow">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.categories.label' | translate}}</span>
      <div class="vAsterix" [ngClass]="{'vHasError':_categoriesField.touched && _categoriesField.invalid}">*</div>
      <div class="vControlContainer">
        <span class="vControl">
          <p-multiSelect class="vCategories"
                         [ngClass]="{'vHasError':_categoriesField.touched && _categoriesField.invalid}"
                         [options]="_availableCategories"
                         [formControl]="_categoriesField" [filter]="false" maxSelectedLabels="2"
                         [selectedItemsLabel]="'applications.content.syndication.details.destinationsForms.itunes.categories.itemsSelected' | translate"
                         [defaultLabel]="'applications.content.syndication.details.destinationsForms.itunes.categories.promptText' | translate"></p-multiSelect>
        </span>
        <div *ngIf="_categoriesField.touched && _categoriesField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredCategories' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Image URL-->
    <div class="vRow">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedImageUrl.label' | translate}}</span>
      <div class="vControlContainer">
        <input class="vControl" [formControl]="_feedImageUrlField" pInputText placeholder="http://">
        <div class="vHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedImageUrl.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Feed Owner Name-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerName.label' | translate}}</span>
      <div class="vAsterix" [ngClass]="{'vHasError':_feedOwnerNameField.touched && _feedOwnerNameField.invalid}">*</div>
      <div class="vControlContainer">
        <input class="vControl" [formControl]="_feedOwnerNameField" pInputText
               [ngClass]="{'vHasError':_feedOwnerNameField.touched && _feedOwnerNameField.invalid}">
        <div *ngIf="_feedOwnerNameField.touched && _feedOwnerNameField.invalid" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredFeedOwnerName' | translate}}
        </div>
        <div class="vHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerName.hint' | translate}}
        </div>
          <div class="vEnforceFeedAuthor">
              <p-checkbox [formControl]="_enforceFeedAuthorField"
                          [label]="'applications.content.syndication.details.destinationsForms.itunes.enforceFeedAuthor' | translate"
                          binary="true"></p-checkbox>
          </div>
      </div>
    </div>

    <!--Feed Owner Email-->
    <div class="vRow">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerEmail.label' | translate}}</span>
      <div class="vAsterix" [ngClass]="{'vHasError':_feedOwnerEmailField.touched && _feedOwnerEmailField.invalid}">*</div>
      <div class="vControlContainer">
        <input class="vControl" [formControl]="_feedOwnerEmailField" pInputText
               [ngClass]="{'vHasError':_feedOwnerEmailField.touched && _feedOwnerEmailField.invalid}">
        <div *ngIf="_feedOwnerEmailField.touched && _feedOwnerEmailField.hasError('required')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.requiredFeedOwnerEmail' | translate}}
        </div>
        <div *ngIf="_feedOwnerEmailField.touched && _feedOwnerEmailField.hasError('email') && !_feedOwnerEmailField.hasError('required')" class="error">
          {{'applications.content.syndication.details.destinationsForms.itunes.errors.invalidFeedOwnerEmail' | translate}}
        </div>
        <div class="vHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.feedOwnerEmail.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Language-->
    <div class="vRow vMultiLine">
      <span class="vLabel">{{'applications.content.syndication.details.destinationsForms.itunes.language.label' | translate}}</span>
      <div class="vControlContainer">
        <span class="vControl">
          <p-dropdown class="vControl"
                      [options]="_languages"
                      [formControl]="_languageField"
                      [autoWidth]="false">
          </p-dropdown>
        </span>
        <div class="vHint">
          {{'applications.content.syndication.details.destinationsForms.itunes.language.hint' | translate}}
        </div>
      </div>
    </div>

    <!--Adult Content-->
    <div class="vRow vMultiLine">
      <span class="vLabel">
        {{'applications.content.syndication.details.destinationsForms.itunes.adultContent.label' | translate}}
        <vInputHelper icon="vIconhelp_full" class="vHelp">
           <span>{{'applications.content.syndication.details.destinationsForms.itunes.adultContent.hint' | translate}}</span>
        </vInputHelper>
      </span>
      <div class="vControlContainer">
        <span class="vControl">
          <p-dropdown class="vControl"
                      [options]="_adultContentOptions"
                      [formControl]="_adultContentField"
                      [autoWidth]="false">
          </p-dropdown>
        </span>
      </div>
    </div>
  </div>
</form>
