@import 'app-theme/_variables.scss';

.vTitle {
  height: 24px;
  width: 100%;
  color: $vGrayscale1;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.vAddToDefaultTranscodingProfile,
.vEnforceFeedAuthor {
  padding-top: 11px;
  /deep/ {
    .ui-chkbox-label {
      font-weight: normal;
    }
  }
}

.vHint {
  width: 500px;
  margin-top: 10px;
}

.vLabel, .vAsterix {
  align-self: flex-start;
}

.vAsterix {
  padding-top: 12px !important;
}

.threeRows {
  width: 500px;
}

.vHasError {
  /deep/ .ui-multiselect {
    border: 1px solid $vDandger;
  }
}

.vLandingPageExplanation {
  color: $vGrayscale1;
  width: 710px;
  padding-top: 12px;
  font-size: 15px;
  line-height: 22px;
  padding-bottom: 20px;
}

.vPlayback {
  .vSelectPlayer {
    padding-top: 17px;
    display: flex;
    align-items: center;

    .vSelectPlayerLabel {
      flex: 0 0 auto;
    }
    .vSelectPlayerControl {
      padding-left:23px;
    }
  }

  .vPlaybackLinkback {
    padding-left: 31px;
  }

  .vSelectPlayerInfo {
    padding-top: 12px;
  }
}

:host /deep/ .vCategories {
  .ui-multiselect {
    padding-left: 0;
  }

  .ui-multiselect-label {
    padding: .5em;
    line-height: inherit;
  }

  .ui-widget-header {
    border-radius: 0;
  }
}

:host /deep/ {
  .ui-dropdown .ui-dropdown-label {
    text-overflow: ellipsis;
  }

  .ui-dropdown-item > span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 210px;
    text-overflow: ellipsis;
  }
}
