<div class="vEditDistributionProfileFlavors">
  <h2 class="vFormHeader">{{'applications.content.entryDetails.distribution.form.videoFlavors' | translate}}</h2>
  <div class="vFlavor" *ngFor="let flavor of requiredFlavors">
    <div class="vFlavorInfo">
      <i class="vIconplayback-file vFlavorIcon"></i>
      <span class="vFlavorName">{{flavor.name}}</span>
    </div>
    <div class="vFlavorMetadata">
      <span *ngIf="flavor.paramsId === undefined" class="vFlavorMissingMetadata">
        <i class="vIconwarning vFlavorMissingIcon"></i>
        {{'applications.content.entryDetails.distribution.form.missingFlavor' | translate}}
      </span>
      <span *ngIf="flavor.paramsId !== undefined">
        <span *ngIf="flavor.format">
          {{'applications.content.entryDetails.distribution.form.format'| translate:[flavor.format]}}
          <span class="vFlavorMetadataDelimiter"></span>
        </span>
        <span *ngIf="flavor.codec">
          {{'applications.content.entryDetails.distribution.form.codec'| translate:[flavor.codec]}}
          <span class="vFlavorMetadataDelimiter"></span>
        </span>
        <span *ngIf="flavor.bitrate">
          {{'applications.content.entryDetails.distribution.form.kbps'| translate:[flavor.bitrate]}}
          <span class="vFlavorMetadataDelimiter"></span>
        </span>
        <span *ngIf="flavor.size">
          {{flavor.size * 1024 | vFileSize}}
          <span class="vFlavorMetadataDelimiter"></span>
        </span>
        <span *ngIf="flavor.dimensions">
          {{flavor.dimensions}}
        </span>
      </span>
    </div>
  </div>
  <span *ngIf="!requiredFlavors.length">
    {{'applications.content.entryDetails.distribution.form.notRequired' | translate}}
  </span>
</div>
