@import 'app-theme/_variables.scss';

.vAccountInformationWrapper {
  height: 100%;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .vTitle {
    color: $vGrayscale1;
    font-weight: 700;
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    .vTitleIcon:before {
      font-size: 32px;
      vertical-align: middle;
      padding-right: 9px;
      color: $vGrayscale3;
    }
  }
  .vAccountInfoContainer{
    margin-top: 22px;
  }

  .vFormContainer {
    background: #FFFFFF;
    margin-top: 24px;

    .vFormSection {
      font-size: 15px;
      padding: 27px 29px;
      width: 615px;

      .vTitle {
        padding-bottom: 20px;
      }
      .vRow {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 20px;

        .vLabel {
          width: 179px;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
          flex: 0 0 auto;
          height: 18px;
          color: $vGrayscale1;
          font-size: 15px;
          line-height: 18px;
        }

        .vRequired {
          width: 20px;
          font-size: 24px;
          color: $vGrayscale3;
          &.vHasError {
            color: $vDandger;
            font-weight: bold;
          }
        }
        .vRequired, .vLabel {
          padding: 8px 4px;
          height: 18px;
        }
        .vControl {
          color: $vGrayscale2;
          height: 34px;
          width: 400px;
          border-radius: 3px;
          &.vHasError {
            border: 1px solid $vDandger;
            background: initial;
          }
        }
        textarea.vControl {
          height: 76px;
        }
        .error {
          padding-top: 8px;
        }

        &.vSaveBtnContainer {
          padding-top: 60px;
          .vSaveBtn {
            margin-left: auto;
            width: 125px;
            height: 34px;
            font-weight: 400;
          }
        }

      }
    }
  }
}
