<v-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <form [formGroup]="contactUsForm" novalidate (ngSubmit)="onSubmit()" class="vAccountInformationWrapper vContent">
    <section class="vAccountInfoContainer">
      <vAccountInfo></vAccountInfo>
    </section>
    <section class="vFormContainer" *ngIf="_canContactSalesForceInformation">
      <div class="vFormSection">
        <div class="vTitle">{{'applications.settings.accountInformation.sendUsMessage' | translate}}</div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountInformation.name' | translate}}</span>
          <div class="vRequired"></div>
          <input class="vControl" formControlName="name" pInputText>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountInformation.phone' | translate}}</span>
          <div class="vRequired" [ngClass]="{'vHasError':!contactUsForm.controls['phone'].valid &&
                   contactUsForm.controls['phone'].touched}">*
          </div>
          <div>
            <input class="vControl" formControlName="phone" pInputText
                   [ngClass]="{'vHasError':!contactUsForm.controls['phone'].valid &&
                   contactUsForm.controls['phone'].touched}">
            <div *ngIf="contactUsForm.controls['phone'].touched">
              <div *ngIf="contactUsForm.controls['phone'].hasError('required')"
                   class="error">
                {{'applications.settings.accountInformation.errors.required' | translate}}
              </div>
              <div *ngIf="contactUsForm.controls['phone'].hasError('phonePattern')"
                   class="error">
                {{'applications.settings.accountInformation.errors.phoneInvalid' | translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="vRow">
          <span class="vLabel">{{'applications.settings.accountInformation.comments' | translate}}</span>
          <div class="vRequired"></div>
          <textarea class="vControl" formControlName="comments" pInputTextarea></textarea>
        </div>
        <div class="vSaveBtnContainer vRow">
          <button pButton class="vButtonBranded vSaveBtn"
                  label="{{'applications.settings.accountInformation.send' | translate}}"></button>
        </div>
      </div>
    </section>
  </form>
</v-area-blocker>
