@import "app-theme/_variables.scss";

.vTreeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  .vHeader {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $vGrayscale4;
    height: 78px;
    padding-top: 24px;
    box-sizing: border-box;
    .vTitle {
      color: $vGrayscale1;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .vContainer {
    width: 540px;
    margin: 0 auto;
    height: 457px;

    .vRow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-bottom: 20px;
      .vSelectParentMsg{
        width: 100%;
        text-align: left;
      }
      .vSpinnerBkg{
        width: 20px;
        height: 20px;
        position: relative;
        margin-top: -1px;
        .vSpinnerAnim{
          width: 12px;
          height: 12px;
        }
      }
      &:first-child {
        padding-top: 20px;
      }
    }

    .vRow.vNoParentOption {
      padding-bottom: 0;
    }
  }
  .vFooter {
    border-top: 1px solid $vGrayscale4;
    padding-top: 15px;
    box-sizing: border-box;
    text-align: center;
    height: 66px;
    .vButtonBranded {
      height: 34px;
    }
    .vLink {
      padding-left: 24px;
    }
  }
}

:host /deep/ .ui-autocomplete.ui-widget{
  ul.ui-autocomplete-multiple-container {
    width:100%;
    height: 36px;
    overflow: hidden;
  }
}
