<v-area-blocker [message]="_blockerMessage" style="height: 100%">
  <div class="vTreeContainer vOverrideFAIcons vRadioButtonPOC">

    <div class="vHeader">
    <span class="vTitle">
      <span>{{('applications.content.categories.moveCategory') | translate}}</span>
    </span>
    </div>
    <div class="vContainer">
      <div class="vRow">
        <span class="vSelectParentMsg">{{('applications.content.moveCategory.selectCategoryParent') | translate}}</span>
        <div *ngIf="_categoriesUpdating" class="v-spinner-background vSpinnerBkg" vTooltip="{{'applications.content.categories.categoriesUpdateMsg' | translate}}">
          <div class="v-spinner-animation vSpinnerAnim"></div>
        </div>
      </div>
        <vCategorySelector (onCategorySelected)="_onCategorySelected($event)"></vCategorySelector>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              [disabled]="_selectedParentCategory === 'missing'"
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()"></button>
      <a class="vLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</v-area-blocker>
