@import 'app-theme/_variables.scss';

.vEditWin{
  .vHeader {
    height: 78px;
    width: 100%;
    text-align: center;
    padding-top: 24px;
    box-sizing: border-box;
    border-bottom: 1px solid $vGrayscale4;
    .vTitle {
      color: #333333;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .vContainer{
    margin: 24px;
    height: 278px;
  }
  .vFooter{
    height: 66px;
    border-top: 1px solid $vGrayscale4;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
      height: 34px;
    }
  }

	.vRow{
		display: flex;
    align-items: center;
		flex-direction: row;
		margin-top: 24px;
		font-size: 15px;
		.vLabel{
			width: 120px;
			flex: 0 0 auto;
		}
		input{
			width: 100%;
		}
	}

	.vUpload{
		padding-left: 120px;
		margin-top: 18px;
		overflow-x: hidden;
	}
	.vUploadButton{
		font-weight: 400;
		height: 32px;
        margin-top: 4px;
		margin-bottom: 4px;
	}
	.vCaptionUrl{
		margin-top: 18px;
		margin-left: 120px;
		width: 212px;
	}
	.vUploadFileName{
        width: 200px;
        text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 12px;
		overflow: hidden;
		padding-left: 4px;
	}
	.vInvalid{
		color: $vDandger;
		font-size: 12px;
		margin-left: 122px;
		font-weight: 700;
	}
}

:host /deep/ .ui-dropdown.ui-widget{
	width: 212px;
}
