<div class="vEditWin vOverrideFAIcons" #captionsEdit>
	<vFileDialog #fileDialog [filter]="'.xml,.srt,.dfxp,.vtt'" (onFileSelected)="_onFileSelected($event)"></vFileDialog>
	<form [formGroup]="captionsEditForm" novalidate>
    <div class="vHeader">
      <span class="vTitle">{{ (_newCaption ? 'applications.content.entryDetails.captions.add' : 'applications.content.entryDetails.captions.editCaption') | translate}}</span>
    </div>

    <div class="vContainer">
      <div class="vRow">
        <span class="vLabel">{{'applications.content.entryDetails.captions.label' | translate}}</span>
        <input formControlName="label" type="text" pInputText/>
      </div>
      <div class="vRow">
        <span class="vLabel">{{'applications.content.entryDetails.captions.language' | translate}}</span>
        <p-dropdown [options]="_languages" [autoWidth]="false" formControlName="language"></p-dropdown>
      </div>
      <div class="vRow">
        <span class="vLabel">{{'applications.content.entryDetails.captions.type' | translate}}</span>
        <p-dropdown *ngIf="_newCaption" [options]="_captionFormats" [autoWidth]="false" formControlName="format"></p-dropdown>
        <span *ngIf="!_newCaption">{{_getCaptionFormatLabel(currentCaption?.format)}}</span>
      </div>
      <div class="vRow" *ngIf="_newCaption">
        <span class="vLabel">{{'applications.content.entryDetails.captions.add' | translate}}</span>
        <p-radioButton name="uploadMethod" value="upload" formControlName="uploadMethod" label="{{'applications.content.entryDetails.captions.upload' | translate}}" (click)="_resetUpload()"></p-radioButton>
        <p-radioButton name="uploadMethod" value="fromUrl" formControlName="uploadMethod" label="{{'applications.content.entryDetails.captions.fromUrl' | translate}}" [style]="{'margin-left': '12px'}" (click)="_resetUpload()"></p-radioButton>
      </div>

      <div class="vUpload" *ngIf="_newCaption && captionsEditForm.get('uploadMethod').value === 'upload'">
        <button type="button" class="vButtonDefault vUploadButton" pButton label="{{'applications.content.entryDetails.captions.uploadFile' | translate}}" (click)="_uploadCaption()"></button>
        <div class="vUploadFileName" [vTooltip]="_uploadFileName">{{_uploadFileName}}</div>
      </div>
      <div *ngIf="_newCaption && captionsEditForm.get('uploadMethod').value === 'fromUrl'">
        <input class="vCaptionUrl" placeholder="{{'applications.content.entryDetails.captions.urlPlaceholder' | translate}}" formControlName="captionUrl" type="text" (blur)="_validate('captionUrl')" pInputText/>
        <span class="vInvalid">{{_validationErrorMsg}}</span>
      </div>
    </div>


		<div class="vFooter">
				<button *ngIf="!_newCaption" type="button" class="vButtonBranded" (click)="_saveAndClose()" pButton label="{{'applications.content.entryDetails.related.done' | translate}}"></button>
				<button *ngIf="_newCaption" type="button" [disabled]="!_allowSave()" class="vButtonBranded" (click)="_saveAndClose()" pButton label="{{'applications.content.entryDetails.captions.add' | translate}}"></button>
		</div>

	</form>
</div>
