<v-area-blocker [showLoader]="false" [message]="_blockerMessage" style="height: 100%">

  <div class="vAddNewCategory vTreeContainer vOverrideFAIcons">

    <div class="vHeader">
    <span class="vTitle">
      <span>{{('applications.content.addNewCategory.newCategory') | translate}}</span>
    </span>
    </div>
    <div class="vContainer">
      <form class="vRow" [formGroup]="newCategoryForm" novalidate>
        <span class="vLabel">{{'applications.content.addNewCategory.name' | translate}}</span>
        <div class="vRequired" [ngClass]="{'vHasError':!newCategoryForm.get('name').valid &&
                   newCategoryForm.get('name').touched}">*
        </div>
        <div>
          <input class="vControl" formControlName="name" pInputText
                 [ngClass]="{'vHasError':!newCategoryForm.get('name').valid &&
                   newCategoryForm.get('name').touched}">
          <div *ngIf="newCategoryForm.get('name').touched &&
                 newCategoryForm.get('name').hasError('required')"
               class="error">
            {{'applications.content.addNewCategory.errors.requiredName' | translate}}
          </div>
        </div>
      </form>
      <div class="vRow">
        <span class="vSelectParentMsg">{{('applications.content.addNewCategory.selectCategoryParent') | translate}}</span>
        <div *ngIf="_categoriesUpdating" class="v-spinner-background vSpinnerBkg" vTooltip="{{'applications.content.categories.categoriesUpdateMsg' | translate}}">
          <div class="v-spinner-animation vSpinnerAnim"></div>
        </div>
      </div>
      <vCategorySelector (onCategorySelected)="_onCategorySelected($event)"></vCategorySelector>
    </div>
    <div class="vFooter">
      <button type="button" class="vButtonBranded" pButton
              label="{{'applications.content.addNewCategory.apply' | translate}}"
              (click)="_apply()" [disabled]="!newCategoryForm.get('name').valid || _selectedParentCategory === 'missing'"></button>
      <a class="vLink" (click)="_cancel()">{{'applications.content.addNewCategory.cancel' | translate}}</a>
    </div>
  </div>
</v-area-blocker>
