<v-area-blocker [message]="_blockerMessage" [bodyScroll]="true">
<vEntriesList [columns]="_columns"
              [rowActions]="_rowActions"
              (onActionsSelected)="_onActionSelected($event)">
  <div class="bulk-actions">
    <vBulkActions [selectedEntries]="_entriesList.selectedEntries"
                  (onBulkChange)="_entriesList.onBulkChange($event)"
                  [(blockerMessage)]="_blockerMessage"></vBulkActions>
  </div>
</vEntriesList>
</v-area-blocker>

<vPopupWidget #liveDashboard data-aid="liveDashboard" [fullScreen]="true">
  <ng-template>
    <vLiveDashboard [entryId]="_entryId" [parentPopupWidget]="liveDashboard"></vLiveDashboard>
  </ng-template>
</vPopupWidget>
